---
- name: "set facts"
  include_role:
    name: common
    tasks_from: setfacts
  tags:
    - setfacts
    - cas
    - properties

- name: "Ensure system user for CAS"
  user:
    name: cas
    state: present
    system: true
  tags:
    - service
    - cas
    - properties
  when: deployment_type == 'vm'

- name: ensure target directories exist data subdirectories etc.
  file:
    path: "{{item}}"
    state: directory
    owner: "{{ cas_user | default('cas') }}"
    group: "{{ cas_user | default('cas') }}"
  with_items:
    - "{{data_dir}}/cas"
    - "{{data_dir}}/cas/config"
    - "{{data_dir}}/cas/"
    - /var/log/atlas/cas/
  tags:
    - properties
    - cas

- name: set data ownership
  file:
    path: "{{data_dir}}/cas"
    owner: "{{ cas_user | default('cas') }}"
    group: "{{ cas_user | default('cas') }}"
    recurse: true
  tags:
    - properties
    - cas

- name: copy application.yml
  template:
    src: application.yml
    dest: "{{data_dir}}/cas/config/application.yml"
    owner: "{{ cas_user | default('cas') }}"
    group: "{{ cas_user | default('cas') }}"
  when: cas_version is version('6', '>=')
  notify:
    - restart cas
  tags:
    - properties
    - cas

- name: copy application.yml
  template:
    src: application-pre-6.yml
    dest: "{{data_dir}}/cas/config/application.yml"
    owner: "{{ cas_user | default('cas') }}"
    group: "{{ cas_user | default('cas') }}"
  when: cas_version is version('6', '<')
  notify:
    - restart cas
  tags:
    - properties
    - cas

- name: copy logback config
  template:
    src: log4j2.xml
    dest: "{{data_dir}}/cas/config/log4j2.xml"
    owner: "{{ cas_user | default('cas') }}"
    group: "{{ cas_user | default('cas') }}"
  tags:
    - properties
    - cas

- name: copy pwe.properties
  template:
    src: pwe.properties
    dest: "{{data_dir}}/cas/config/pwe.properties"
    owner: "{{ cas_user | default('cas') }}"
    group: "{{ cas_user | default('cas') }}"
  notify:
    - restart cas
  tags:
    - properties
    - cas

# Auto generated if not present, auto generation not suitable for load balanced instances
- name: copy JWKS (if present)
  copy:
    src:  "{{ inventory_dir }}/{{ cas_jwks_file | default('keystore.jwks') }}"
    dest: "{{data_dir}}/cas/keystore.jwks"
    owner: "{{ cas_user | default('cas') }}"
    group: "{{ cas_user | default('cas') }}"
    mode: u=rw,g=,o=
  notify:
    - restart cas
  with_first_found:
    - files:
      - "{{ inventory_dir }}/{{ cas_jwks_file | default('keystore.jwks') }}"
      skip: true
  tags:
    - properties
    - cas

- include_tasks: ../../docker-common/tasks/common.yml
  tags:
    - docker
  when: deployment_type == 'swarm'

- name: add nginx vhost
  include_role:
    name: nginx_vhost
  vars:
    appname: "cas"
    hostname: "{{ cas_host_name }}"
    context_path: "{{ cas_context_path | default('cas') }}"
    nginx_paths:
      - path: "/{{ cas_context_path | default('cas') }}"
        appname: "cas"
        is_proxy: true
        proxy_pass: "http://{{ cas_docker_host | default('127.0.0.1') }}:{{ cas_port | default('9000') }}/{{ cas_context_path | default('cas') }}"
  tags:
    - nginx_vhost
    - deploy
    - cas
  when: webserver_nginx

- name: Include docker tasks
  include_tasks: docker-tasks.yml
  when: deployment_type == 'swarm'

- name: Include VM tasks
  include_tasks: vm-tasks.yml
  when: deployment_type == 'vm'
