<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>Reads index-records and indexes into SOLR</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.18.1">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>solrCollection</name>
          <description/>
          <defaultValue/>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>cluster</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ClusterA</string>
              <string>ClusterB</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if [ "$cluster" = "ClusterA" ]; then
	echo 'Will use Cluster A'
	config="/data/la-pipelines/config/la-pipelines.yaml,/data/la-pipelines/config/la-pipelines-local.yaml,/data/la-pipelines/config/la-pipelines-cluster-a.yaml"	
else
	echo 'Will use Cluster B'
	config="/data/la-pipelines/config/la-pipelines.yaml,/data/la-pipelines/config/la-pipelines-local.yaml,/data/la-pipelines/config/la-pipelines-cluster-b.yaml"	
fi


sudo -u spark la-pipelines solr-sync all --cluster --config="$config" --extra-args="solrCollection=$solrCollection"
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.7.5">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>