grails:
  serverURL: "{{image_service_base_url}}{{image_service_context_path}}"

server:
  port: {{image_service_port}}
  contextPath: {{ image_service_context_path }}

security:
  cas:
    appServerName: "{{image_service_base_url}}"
    bypass: {{ bypass_cas | default(false) }}
    disableCAS: {{ bypass_cas | default(false) }}
    casServerName: {{ auth_base_url }}
    casServerUrlPrefix: {{ auth_cas_url }}
    casServerLoginUrl: {{ auth_cas_url }}/login
    casServerLogoutUrl: {{ auth_cas_url }}/logout
    loginUrl: {{ auth_cas_url }}/login
    logoutUrl: {{ auth_cas_url }}/logout
  apikey:
    ip:
      whitelist: {{ image_service_whitelist | default('') }}
    check:
      serviceUrl: {{ auth_base_url }}/apikey/ws/check?apikey=

userDetails:
  url: {{ auth_base_url }}/userdetails/

info:
  app:
    name: 'image-service'
    version: '{{ image_service_version }}'
    grailsVersion: '3.3.12'

flyway:
  baselineOnMigrate: {{ image_service_baseline_on_migrate | default('true') }}

dataSource:
  url: "jdbc:postgresql://localhost/{{ image_service_db_name }}?autoReconnect=true&connectTimeout=0&useUnicode=true&characterEncoding=UTF-8"
  driverClassName: org.postgresql.Driver
  username: {{ image_service_db_username }}
  password: {{ image_service_db_password }}
  dbCreate: validate

imageservice:
  imagestore:
    root: "/data/image-service/store"
    staging: "/data/image-service/store/staging"
  apache:
    root: "{{image_service_base_url}}{{image_service_context_path}}/store/"
    multiple_roots: {% if multiple_root is defined %} "{{ multiple_roots }}" {% else %} "{{image_service_base_url}}{{image_service_context_path}}/store/" {% endif %}

    exportDir: "{{ image_service_export_dir | default('/data/image-service/exports')}}"

# skin
skin:
  layout: {{ (image_skin_layout | default(skin_layout)) | default('main') }}
  favicon: "{{ skin_favicon | default('https://www.ala.org.au/wp-content/themes/ala-wordpress-theme/img/favicon/favicon-16x16.png') }}"
  orgNameLong: {{ orgNameLong | default('Atlas') }}
  homeUrl: {{ skin_home_url | default('http://www.ala.org.au') }}

# external links
collectory:
  baseURL: "{{ collectory_url | default('https://collections.ala.org.au')}}"
biocache:
  baseURL: "{{ biocache_url | default('https://biocache.ala.org.au')}}"
  service:
    baseURL: "{{ biocache_service_url | default('https://biocache.ala.org.au/ws')}}"
  
# header block
headerAndFooter:
  version: "{{ header_and_footer_version | default('1')}}"
  baseURL: "{{ header_and_footer_baseurl | default('https://www.ala.org.au/commonui-bs3')}}"
ala:
  baseURL: "{{ ala_base_url | default('https://www.ala.org.au')}}"
bie:
  baseURL: "{{ bie_base_url | default('https://bie.ala.org.au')}}"
  searchPath: "{{ bie_search_path | default('/search') }}"

# swagger configuration
swagger:
  info:
    description: "{{ images_swagger_info_description | default('API Documentation for Image Services') }}"
    version: "{{ images_swagger_info_version | default('2.0') }}"
    title:  "{{ images_swagger_info_title | default('Image Service API') }}"
    termsOfServices: "{{ swagger_info_terms_of_services | default('https://www.ala.org.au/who-we-are/terms-of-use/') }}"
    contact:
      name:  "{{ swagger_contact_name | default('ALA Support') }}"
      url: "{{ swagger_contact_url | default('https://www.ala.org.au') }}"
      email: "{{ swagger_contact_email | default('support@ala.org.au') }}"
    license:
      name: "MPL 1.1"
      url: "https://www.mozilla.org/en-US/MPL/"
  schemes:
    - "{{ swagger_schemes | default('HTTPS') }}"
  consumes:
    - "application/json"
