<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@2.40">
  <actions/>
  <description>Perform a full migration</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.83">
    <script>stage('Export from Cassandra') {
     node('master'){
         build job: 'Export-Cassandra-to-DwCA', parameters: []
     }
}

stage('Copy exports to HDFS') {
    node('master'){
        build job: 'Copy-dwca-to-hdfs', parameters: []
    }
}

stage('Migrate-uuid') {
    node('master'){
        build job: 'Migrate-uuid', parameters: [[$class: 'StringParameterValue', name: 'AreYouSure', value: "yes"]]
    }
}

stage('Dwc-verbatim-all') {
    node('master'){
        build job: 'Dwc-verbatim-all', parameters: []
    }
}

stage('Interpret-all') {
    node('master'){
        build job: 'Interpret-all', parameters: []
    }
}

stage('UUID-all') {
    node('master'){
        build job: 'UUID-all', parameters: []
    }
}

stage('SDS-all') {
    node('master'){
        build job: 'SDS-all', parameters: []
    }
}

stage('Image-sync-all') {
    node('master'){
        build job: 'Image-sync-all', parameters: []
    }
}

stage('Index-all') {
    node('master'){
        build job: 'Index-all', parameters: []
    }
}

stage('Solr') {
    node('master'){
         build job: 'Solr', parameters: [[$class: 'StringParameterValue', name: 'datasetId', value: "all"]]
    }
}


</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>