- name: set exec_jar
  set_fact:
    exec_jar: '{{ grails_version is version("3", ">=") }}'
  tags:
    - setfacts
    - profile-hub

- name: set deployment vars
  set_fact:
    classifier: 'exec'
    packaging: 'jar'
  tags:
    - setfacts
    - profile-hub
  when: exec_jar

- name: Debug profile-hub deployment details
  debug:
    msg: "exec_jar: {{ exec_jar }}"
  tags:
    - profile-hub

- include_tasks: ../../common/tasks/setfacts.yml
  tags:
    - profile-hub
    - deploy
    - properties
    - apache_vhost
    - tomcat_vhost

- name: set profile_hub_user as default value
  set_fact:
    profile_hub_user: "{{ exec_jar | ternary ('profile-hub', tomcat_user)}}"
  tags:
    - profile-hub
    - deploy

- name: "Create system user for {{profile_hub_user}}"
  user:
    name: "{{ profile_hub_user }}"
    state: present
    system: yes
  tags:
    - profile-hub
  when: exec_jar

#
# Properties file configuration
#
- name: ensure data directory exists
  file: path={{data_dir}}/profile-hub/config state=directory owner={{profile_hub_user}} group={{profile_hub_user}}
  tags:
    - profile-hub
    - properties

- name: ensure temporary file directory exists
  file: path={{data_dir}}/profile-hub/temp state=directory owner={{profile_hub_user}} group={{profile_hub_user}}
  tags:
    - profile-hub
    - properties

- name: ensure staged images directory exists
  file: path={{data_dir}}/profile-hub/staged-images state=directory owner={{profile_hub_user}} group={{profile_hub_user}}
  tags:
    - profile-hub
    - properties

- name: ensure private images directory exists
  file: path={{data_dir}}/profile-hub/private-images state=directory owner={{profile_hub_user}} group={{profile_hub_user}}
  tags:
    - profile-hub
    - properties

- name: ensure target log directories exist
  file: path=/var/log/atlas/profile-hub state=directory owner={{profile_hub_user}} group={{profile_hub_user}}
  tags:
    - profile-hub
    - properties

- name: copy all template configs
  template: src={{ item }} dest={{data_dir}}/profile-hub/config/{{ item }}
  with_items:
    - profile-hub-config.properties
    - help-mappings.json
  tags:
    - profile-hub
    - properties

- name: copy logback config
  template:
    src: logback.xml
    dest: "{{data_dir}}/profile-hub/config/logback.xml"
    owner: "{{profile_hub_user}}"
    group: "{{profile_hub_user}}"
  notify:
    - restart profile-hub
  tags:
    - properties
    - profile-hub

- name: ensure profile-hub log directory exists
  file: path={{item}} state=directory owner={{profile_hub_user}} group={{profile_hub_user}}
  with_items:
    - "{{data_dir}}/profile-hub/logs"
  tags:
    - properties
    - profile-hub
  when: exec_jar

- name: set profile-hub log ownership
  file: path='{{data_dir}}/profile-hub/logs' owner='{{profile_hub_user}}' group='{{profile_hub_user}}' recurse=true
  notify:
    - restart profile-hub
  tags:
    - properties
    - profile-hub
  when: exec_jar

- name: set data ownership [all data is owned by tomcat]
  file: path={{data_dir}}/profile-hub owner={{profile_hub_user}} group={{profile_hub_user}} recurse=true
  tags:
    - profile-hub
    - properties

#
# Set up a CRON job to delete temporary files
#
- name: copy script to delete temporary files to the home dir
  template: src=delete-temp-profile-files.sh dest={{data_dir}}/profile-hub/delete-temp-profile-files.sh
  tags:
    - profile-hub
    - cron

- name: set executable permission
  file: path="{{data_dir}}/profile-hub/delete-temp-profile-files.sh" mode="a+x"
  tags:
    - profile-hub
    - cron

- name: create the cron job
  cron: name="delete Profile Hub temporary files" hour="0" minute="0" job="{{data_dir}}/profile-hub/delete-temp-profile-files.sh > /dev/null"
  tags:
    - profile-hub
    - cron

#
# Deploy executable jar
#
- name: add jar and service
  include_role:
    name: exec-jar
  vars:
    service_name: "profile-hub"
    jar_url: '{{ profile_hub_war_url }}'
    maven_repo_url: '{{ profile_hub_repo_url }}'
    maven_repo_username: '{{ profile_repo_username }}'
    maven_repo_password: '{{ profile_repo_password }}'
  tags:
    - deploy
    - service
    - profile-hub
  when: exec_jar

#
# WAR file deployment and virtual host configuration
#
- include_tasks: ../../apache_vhost/tasks/main.yml
  vars:
    context_path: '{{ profile_hub_context_path }}'
    hostname: '{{ profile_hub_hostname }}'
  tags:
    - profile-hub
    - deploy
    - apache_vhost
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "profile-hub"
    hostname: "{{ profile_hub_hostname }}"
    context_path: "{{ profile_hub_context_path }}"
    tomcat_server_port: "{{ profile_hub_server_port }}"
  tags:
    - nginx_vhost
    - deploy
    - profile-hub
  when: webserver_nginx

# deploy to tomcat container
- include_tasks: ../../tomcat_deploy/tasks/main.yml
  vars:
    war_url: '{{ profile_hub_war_url }}'
    context_path: '{{ profile_hub_context_path }}'
    hostname: '{{ profile_hub_hostname }}'
  tags:
    - profile-hub
    - deploy
    - tomcat_vhost
  when: not exec_jar
