# assets
version: "{{ ecodata_version | default('LATEST')}}"
artifactId: "ecodata"
classifier: "{{ ecodata_classifier | default('exec') }}"
packaging: "{{ ecodata_packaging | default('jar') }}"
groupId: "au.org.ala"
ecodata_war_url: "{{maven_repo_ws_url}}"
tomcat_java_opts_override: "{{ tomcat_java_opts_override_value | default('-Xmx4g -Xms2g -Xss256k -XX:+UseG1GC') }}"
#ecodata_dbPath: "{{ ecodata_dbPath | default('/var/lib/mongodb') }} "
nginx_cors_origin_regexp: '^https?:\/\/.+\.ala\.org\.au\/?'

mongodb_root_username: "admin"
ecodata_database: "ecodata"
ecodata_username: "ecodata"
ecodata_artifact_url: "{{ ecodata_maven_repo_ws_url | default(maven_repo_ws_url) }}"
ecodata_server_port: "{{ ecodata_tomcat_server_port | default('8080') }}"
#ecodata_dbPath: "{{ ecodata_dbPath | default('/var/lib/mongodb') }} "

mongo_replica_enabled: "{{ enable_mongo_replica_set | default(false) }}"
replicaSetName: "rs0"
mongo_replication: "{{ replication | default(false)}}"
create_user_in_primary_node: "{{ create_ecodata_user | default(true) }}"

copy_mongorc_to_secondary_node: "{{ copy_mongorc | default(false) }}"

ecodata_not_yet_admin: "{{ enable_mongo_security | default(true)}}"

enable_security_replica_set: "{{ enable_security_after_replica_set | default(false) }}"

disabled_creating_admin_user_for_replica_set: "{{ disabled_creating_admin_user | default(true) }}"
