---

- name: "set facts"
  include_role:
    name: common
    tasks_from: setfacts
  tags:
    - properties
    - setfacts
    - apikey

- name: "Create system user for apikey"
  user:
    name: apikey
    state: present
    system: true
  tags:
    - properties
    - user
    - apikey

- name: ensure target directories exist data subdirectories etc.
  file:
    path: "{{item}}"
    state: directory
    owner: "{{ apikey_user | default('apikey') }}"
    group: "{{ apikey_user | default('apikey') }}"
  with_items:
    - "{{data_dir}}/apikey"
    - "{{data_dir}}/apikey/config"
    - "{{data_dir}}/apikey/"
    - "/var/log/atlas/apikey"
  tags:
    - properties
    - apikey

- name: set data ownership
  file:
    path: "{{data_dir}}/apikey"
    owner: "{{ apikey_user | default('apikey') }}"
    group: "{{ apikey_user | default('apikey') }}"
    recurse: true
  tags:
    - properties
    - apikey

- name: copy apikey-config.yml
  template:
    src: apikey-config.yml
    dest: "{{data_dir}}/apikey/config/apikey-config.yml"
    owner: "{{ apikey_user | default('apikey') }}"
    group: "{{ apikey_user | default('apikey') }}"
  notify:
    - restart apikey
  when: apikey_version is version('1.7.0', '>=')
  tags:
    - properties
    - properties-file
    - apikey

- name: copy apikey-config.yml
  template:
    src: apikey-config-pre-1.7.0.yml
    dest: "{{data_dir}}/apikey/config/apikey-config.yml"
    owner: "{{ apikey_user | default('apikey') }}"
    group: "{{ apikey_user | default('apikey') }}"
  notify:
    - restart apikey
  when: apikey_version is version('1.7.0', '<')
  tags:
    - properties
    - apikey

- name: copy logback config
  template:
    src: logback.xml
    dest: "{{data_dir}}/apikey/config/logback.xml"
    owner: "{{ apikey_user | default('apikey') }}"
    group: "{{ apikey_user | default('apikey') }}"
  tags:
    - properties
    - apikey

- name: add nginx vhost
  include_role:
    name: nginx_vhost
  vars:
    appname: "apikey"
    hostname: "{{ cas_host_name }}"
    context_path: "{{ apikey_context_path | default('apikey') }}"
    nginx_paths:
      - path: "/{{ apikey_context_path | default('apikey') }}"
        appname: "apikey"
        is_proxy: true
        proxy_pass: "http://{{ apikey_docker_host | default('127.0.0.1') }}:{{ apikey_port | default('9002') }}/{{ apikey_context_path | default('apikey') }}"
  tags:
    - nginx_vhost
    - deploy
    - apikey
  when: webserver_nginx

- name: Include docker tasks
  include_tasks: docker-tasks.yml
  when: deployment_type == 'swarm'

- name: Include VM tasks
  import_tasks: vm-tasks.yml
  when: deployment_type == 'vm'
