- include: ../../common/tasks/setfacts.yml
  tags:
    - biocache-cli
    - vocabs
    - properties
    - biocache-cli-update

- name: ensure biocache directory exists
  file: path=/usr/lib/biocache state=directory
  tags:
    - biocache-cli

- name: clean biocache existing extract
  shell: "rm -Rf /usr/lib/biocache/lib /usr/lib/biocache/*.jar"
  ignore_errors: yes
  tags:
    - biocache-cli  

- name: copy biocache logging config
  copy: src=lib/log4j.xml dest=/usr/lib/biocache/log4j.xml
  tags:
    - biocache-cli
    - properties

- name: copy biocache logging config
  copy: src=config/subgroups.json dest={{data_dir}}/biocache/config/subgroups.json
  tags:
    - biocache-cli
    - properties

- name: copy vocabs
  copy: src={{ item }} dest=/data/biocache
  with_items:
    - "vocab"
  tags:
    - biocache-cli
    - vocabs
    - properties

- name: remove previous biocache store jar download
  file: path="/usr/lib/biocache/biocache.zip" state=absent force=yes
  when: biocache_local_build is not defined
  become: yes
  tags:
    - biocache-cli  
    - download-zip
    - biocache-cli-update

- name: Install lxml for ansible python 2
  apt:
    name: python-lxml
    state: present
  when: ansible_python.version.major==2

- name: Install lxml for ansible python 3
  apt:
    name: python3-lxml
    state: present
  when: ansible_python.version.major==3

- name: download biocache store jar
  maven_artifact:
    group_id: "{{groupId}}"
    artifact_id: "{{artifactId}}"
    version: "{{version|default('latest')}}"
    extension: "{{packaging|default('jar')}}"
    classifier: "{{classifier|default('')}}"
    repository_url: "{{maven_repo_url}}"
    timeout: 30
    dest: "/usr/lib/biocache/biocache.zip"
    mode: u=rwx,g=rx,o=rx
    owner: "{{ service_owner | default('root') }}"
    group: "{{ service_group | default('root') }}"
    verify_checksum: always
  when: biocache_local_build is not defined
  become: yes
  tags:
    - biocache-cli  
    - download-zip
    - biocache-cli-update

- name: copy local biocache store jar
  copy: src={{biocache_local_build}} dest="/usr/lib/biocache/biocache.zip" force=yes
  when: biocache_local_build is defined
  become: yes
  tags:
    - biocache-cli  
    - download-zip
    - biocache-cli-update

- name: install unzip (Debian only)
  apt: pkg=unzip state=present
  when: ansible_os_family == "Debian"
  tags:
    - biocache-cli  

- name: remove previous extracted biocache distribution
  file: path=/usr/lib/biocache/biocache-store-{{ version }} state=absent force=yes
  become: yes
  tags:
    - biocache-cli
    - biocache-cli-update

- name: extract biocache distribution file
  unarchive:
    src: /usr/lib/biocache/biocache.zip
    dest: /usr/lib/biocache/
    remote_src: True
  tags:
    - biocache-cli
    - biocache-cli-update

- name: make the symlink for /usr/bin/biocache
  file: src=/usr/lib/biocache/biocache-store-{{ version }}/bin/biocache dest=/usr/bin/biocache state=link
  tags:
    - biocache-cli
    - biocache-cli-symlink
    - biocache-cli-update

- name: replace the environmentSetupFile
  template: src=environmentSetupFile.sh dest=/usr/lib/biocache/biocache-store-{{ version }}/bin/environmentSetupFile.sh force=yes mode=755
  tags:
    - biocache-cli
    - biocache-cli-update

- name: create the reindex directory
  file: path={{item}} state=directory mode=777
  with_items:
    - "{{data_dir}}/biocache-reindex/solr-template"
    - "{{data_dir}}/biocache-reindex/solr-create"
    - "{{data_dir}}/biocache-reindex/solr"
  tags:
    - biocache-cli  

- name: copy solr-template
  copy: src=solr-template dest={{data_dir}}/biocache-reindex/
  tags:
    - biocache-cli  
