- include_tasks: ../../apache_vhost/tasks/main.yml
  vars:
    context_path: '{{ ipt_context_path }}'
    hostname: '{{ ipt_hostname }}'
  tags:
    - ipt
    - apache_vhost
    - deploy
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "ipt"
    hostname: "{{ ipt_hostname }}"
    context_path: "{{ ipt_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - ipt
  when: webserver_nginx | bool 

- include_tasks: ../../tomcat_deploy/tasks/main.yml
  vars:
    war_url: '{{ ipt_war_url }}'
    context_path: '{{ipt_context_path}}'
    hostname: '{{ ipt_hostname }}'
  tags:
    - ipt
    - tomcat_vhost
    - deploy

- name: ensure ipt data directory exists
  file: path={{item}} state=directory mode=0775
  with_items:
    - "{{data_dir}}/ipt"
  tags:
    - ipt
    - ipt_data_dir    

- name: set data ownership [all data is owned by tomcat]
  file: path={{data_dir}}/{{item}} owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  with_items:
    - ipt 
  tags:
    - ipt
    - ipt_data_dir    
