---
- name: ensure target db directories exist
  file:
    path: "{{item}}"
    state: directory
    mode: '0755'
    owner: "{{ docker_default_user | default(ansible_user_id) }}"
    group: "{{ docker_default_user | default(ansible_user_id) }}"
  with_items:
    - "{{ userdetails_docker_db_mysql_data_dir }}"
    - "{{ userdetails_docker_db_postgres_data_dir | default(data_dir + '/userdetails/postgres') }}"
    - "{{ userdetails_docker_db_mongo_data_dir }}"
    - "{{ userdetails_data_dir }}/docker/"
  tags:
    - docker
    - docker-service

- name: Deploy auth stack
  import_tasks: ../../docker-common/tasks/stack-create.yml
  vars:
    stack: la_auth
    docker_compose_data_dir: "{{ userdetails_data_dir }}/docker/"

- name: Initialize CAS5 databases and OIDC configuration
  import_tasks: ../../docker-common/tasks/generate-db-init-scripts.yml
  tags:
    - cas-dbs
    - db-init
  run_once: true
