---
- name: "set facts"
  include_role:
    name: common
    tasks_from: setfacts
  tags:
    - setfacts
    - userdetails
    - properties

- name: "Create system user for userdetails"
  user:
    name: "{{ userdetails_user | default('userdetails') }}"
    state: present
    system: true
  tags:
    - user
    - userdetails
    - properties
  when: deployment_type == 'vm'

- name: ensure target directories exist data subdirectories etc.
  file:
    path: "{{item}}"
    state: directory
    owner: "{{ userdetails_user | default('userdetails') }}"
    group: "{{ userdetails_user | default('userdetails') }}"
  with_items:
    - "{{data_dir}}/userdetails"
    - "{{data_dir}}/userdetails/config"
    - "{{data_dir}}/userdetails/"
  tags:
    - properties
    - userdetails

- name: ensure log directory exists (non-container mode)
  file:
    path: "/var/log/atlas/userdetails"
    state: directory
    owner: "{{ userdetails_user | default('userdetails') }}"
    group: "{{ userdetails_user | default('userdetails') }}"
  when: deployment_type != 'container'
  tags:
    - properties
    - userdetails

- name: set data ownership
  file:
    path: "{{data_dir}}/userdetails"
    owner: "{{ userdetails_user | default('userdetails') }}"
    group: "{{ userdetails_user | default('userdetails') }}"
    recurse: true
  tags:
    - properties
    - userdetails

- name: copy userdetails-config.yml
  template:
    src: userdetails-config.yml
    dest: "{{data_dir}}/userdetails/config/userdetails-config.yml"
    owner: "{{ userdetails_user | default('userdetails') }}"
    group: "{{ userdetails_user | default('userdetails') }}"
  notify:
    - restart userdetails
  when: user_details_version is version('3', '>=')
  tags:
    - properties
    - properties-file
    - userdetails

- name: copy userdetails-config.yml
  template:
    src: userdetails-config-pre-3.yml
    dest: "{{data_dir}}/userdetails/config/userdetails-config.yml"
    owner: "{{ userdetails_user | default('userdetails') }}"
    group: "{{ userdetails_user | default('userdetails') }}"
  notify:
    - restart userdetails
  when: user_details_version is version('3', '<')
  tags:
    - properties
    - userdetails

- name: copy logback config
  template:
    src: logback.xml
    dest: "{{data_dir}}/userdetails/config/logback.xml"
    owner: "{{ userdetails_user | default('userdetails') }}"
    group: "{{ userdetails_user | default('userdetails') }}"
  tags:
    - properties
    - userdetails

- include_tasks: ../../docker-common/tasks/common.yml
  tags:
    - docker
  when: deployment_type == 'swarm'

- name: add nginx vhost
  include_role:
    name: nginx_vhost
  vars:
    appname: "userdetails"
    hostname: "{{ userdetails_host_name }}"
    context_path: "{{  userdetails_context_path | default('userdetails') }}"
    nginx_paths:
      - path: "/{{  userdetails_context_path | default('userdetails') }}"
        appname: "userdetails"
        is_proxy: true
        proxy_pass: "http://{{ userdetails_docker_host | default('127.0.0.1') }}:{{ userdetails_port | default('9001') }}/{{  userdetails_context_path | default('userdetails') }}"
  tags:
    - nginx_vhost
    - deploy
    - userdetails
  when: webserver_nginx | bool 

- name: Include docker tasks
  include_tasks: docker-tasks.yml
  when: deployment_type == 'swarm'

- name: Include VM tasks
  import_tasks: vm-tasks.yml
  when: deployment_type == 'vm'
