- include: ../../common/tasks/setfacts.yml
  tags:
    - image-service
    - properties
    - data_import

- name: "Ensure system user for image-service"
  user:
    name: image-service
    state: present
    system: yes
  tags:
    - image-service
    - properties

- name: create images database
  postgresql_db: name={{ image_service_db_name }}
  become_user: postgres
  become: yes
  tags:
    - db
    - image-service

- name: create {{ image_service_db_username }} DB user
  command: "psql -d {{ image_service_db_name }} -c \"create user {{ image_service_db_username }} with password '{{image_service_db_password}}'\""
  become_user: postgres
  ignore_errors: yes
  tags:
    - image-service
    - db

- name: create {{ image_service_db_username }} DB user
  command: "psql -d {{ image_service_db_username }} -c \"ALTER ROLE {{ image_service_db_username }} WITH SUPERUSER\""
  become_user: postgres
  ignore_errors: yes
  tags:
    - image-service
    - db

- name: create database user images 
  postgresql_user: db={{ image_service_db_name }} name={{ image_service_db_username }} password={{ image_service_db_password }} priv=ALL state=present
  become_user: postgres
  become: yes
  tags:
    - db
    - image-service

- include: ../../apache_vhost/tasks/main.yml context_path='{{ image_service_context_path }}' hostname='{{ image_service_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - image-service
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "image-service"
    hostname: "{{ image_service_hostname }}"
    context_path: "{{ image_service_context_path }}"
    nginx_paths:
      - path: "{{ image_service_context_path }}"
        sort_label: "1_ws"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:{{ image_service_port }}{{ image_service_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - image-service
  when: webserver_nginx

- name: ensure www directory exists
  file: path={{item}} state=directory
  with_items:
    - "/srv/{{ image_service_hostname }}/www"
  notify:
     - restart image-service
  tags:
    - image-service

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner=image-service group=image-service
  with_items:
    - "{{data_dir}}/image-service/setup"
    - "{{data_dir}}/image-service/config"
    - "{{data_dir}}/image-service/store"
    - "{{data_dir}}/image-service/incoming"
    - "{{data_dir}}/image-service/exports"
    - "{{data_dir}}/image-service/bin/imgcnv"
    - "/var/log/atlas/image-service"
  notify:
     - restart image-service
  tags:
    - image-service
    - properties

# Only create the symlink for apache hosts, as nginx has an inbuilt rule for this
# - name: Create symlink to data/image-service/store from /srv/[hostname]/www/store
#   command: "ln -s {{ data_dir }}/image-service/store /srv/{{ image_service_hostname }}/www/store"
#   ignore_errors: yes
#   when: not webserver_nginx
#   tags: 
#     - image-service

- name: copy all config.properties
  template: src={{ item }} dest={{data_dir}}/image-service/config/
  with_items:
    - "config/image-service-config.yml"
    - "config/logback.groovy"
  notify:
     - restart image-service
  tags:
    - deploy
    - image-service
    - properties

# - name: copy all SQL export script
#   template: src={{ item }} dest={{data_dir}}/image-service/setup/
#   with_items:
#     - "sql/image-service-export.sql"
#   notify:
#      - restart image-service
#   tags:
#     - deploy
#     - image-service
#     - properties

# - name: create stored procedures for export functions
#   command: "psql -d {{ image_service_db_username }} -f {{data_dir}}/image-service/setup/image-service-export.sql"
#   become_user: postgres
#   ignore_errors: no
#   notify:
#      - restart image-service
#   tags:
#     - image-service
#     - properties
#     - db

- name: add image-service jar and setup service
  include_role:
    name: exec-jar
  vars:
    service_name: 'image-service'
    jar_url: '{{ image_service_jar_url }}'
  tags:
    - deploy
    - service
    - image-service

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner=image-service group=image-service
  with_items:
    - "{{data_dir}}/image-service/setup"
    - "{{data_dir}}/image-service/config"
    - "{{data_dir}}/image-service/store"
    - "{{data_dir}}/image-service/incoming"
    - "{{data_dir}}/image-service/exports"
    - "{{data_dir}}/image-service/bin/imgcnv"
    - "/var/log/atlas/image-service"
  notify:
     - restart image-service
  tags:
    - image-service
    - properties

- name: set data ownership for {{data_dir}}/image-service
  file: path={{data_dir}}/image-service owner="image-service" group="image-service"
  notify:
     - restart image-service
  tags:
    - image-service
    - properties
    - image-service

- name: set data ownership postgres for {{data_dir}}/image-service/exports
  file: path={{data_dir}}/image-service/exports owner="postgres" group="postgres" recurse=true
  notify:
     - restart image-service
  tags:
    - image-service
    - properties
    - image-service

- name: set data ownership for /opt/atlas/image-service
  file: path=/opt/atlas/image-service owner="image-service" group="image-service" recurse=true
  notify:
     - restart image-service
  tags:
    - image-service
    - properties
    - image-service

- name: set data ownership for /var/log/atlas/image-service
  file: path=/var/log/atlas/image-service owner="image-service" group="image-service" recurse=true
  notify:
     - restart image-service
  tags:
    - image-service
    - properties
    - image-service

- name: install openjfx (Debian)
  apt: pkg=openjfx state=latest update_cache=yes
  when: ansible_os_family == "Debian" and use_openjdk8
  notify:
     - restart image-service
  tags:
    - packages
    - image-service

- debug: msg="For new installs, to finish installation use the admin screen to load the licence information in files/licence_mappings.csv and files/licences.csv."
