- include: ../../common/tasks/setfacts.yml
  tags:
    - webapps
    - properties
    - bie

- name: ensure target directories exist
  file: path={{item}} state=directory mode=0775
  with_items:
    - "{{ data_dir }}/{{ bie_hub | default('generic-bie') }}/config"
  tags:
    - properties
    - bie    

- name: copy all config.properties
  template: src=bie-hub-config.properties dest={{ data_dir }}/{{ bie_hub | default('generic-bie') }}/config/{{ bie_hub | default('generic-bie') }}-config.properties force=yes output_encoding=iso-8859-1
  tags:
    - webapps
    - properties
    - bie

- name: add apikeys if do not exist
  include_role:
    name: apikey-add
  vars:
    app: "{{ oitem.app }}"
    apikey: "{{ oitem.apikey }}"
  with_items:
    - { app: "bie-index", apikey: "{{ bie_index_api_key }}" }
    - { app: "specieslists", apikey: "{{ speciesList_api_key }}" }
  loop_control:
    loop_var: oitem
  when: apikey_def_creator_email is defined and apikey_def_creator_userid is defined
  tags:
    - apikeys_add

- name: copy eolContentToUpdate.properties
  template:
    src: eolContentToUpdate.properties
    dest: "{{ data_dir }}/{{ bie_hub | default('generic-bie') }}/config/eolContentToUpdate.properties"
  tags:
    - webapps
    - properties
    - bie

- name: set data ownership [all data is owned by tomcat]
  file: path={{data_dir}}/{{ bie_hub | default('generic-bie') }}/ owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  tags:
    - properties
    - bie

- include: ../../apache_vhost/tasks/main.yml context_path='/{{ bie_hub_context_path }}' hostname='{{ bie_hub_hostname }}'
  tags:
    - webapps
    - apache_vhost
    - deploy
    - bie    
  when: not webserver_nginx

- name: set nginx proxy target if configured
  set_fact:
    bie_hub_proxy_target: "{{bie_hub_context_path}}"
  tags:
    - nginx_vhost
    - deploy
    - bie
  when: webserver_nginx and bie_hub_proxy_target is not defined

# Trove path is needed until trove API cleanly supports https
- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "bie-hub"
    hostname: "{{ bie_hub_hostname }}"
    context_path: "{{ bie_hub_context_path }}"
    nginx_paths:
      - path: "{{bie_hub_context_path}}/species"
        sort_label: "2_species"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_hub_proxy_target}}/species"
      - path: "{{bie_hub_context_path}}/search"
        sort_label: "3_search"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_hub_proxy_target}}/search"
      - path: "{{bie_hub_context_path}}/sound-search"
        sort_label: "4_soundsearch"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_hub_proxy_target}}/sound-search"
      - path: "{{bie_hub_context_path}}/image-search"
        sort_label: "4_imagesearch"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_hub_proxy_target}}/image-search"
      - path: "{{bie_hub_context_path}}/trove"
        sort_label: "6_trove"
        is_proxy: false
        is_proxy_rewrite: true
        proxy_pass: https://api.trove.nla.gov.au
      - path: "{{bie_hub_context_path}}/externalSite"
        sort_label: "7_externalsite"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_hub_proxy_target}}/externalSite"
      - path: "{{bie_hub_context_path}}/geo"
        sort_label: "8_geo"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_hub_proxy_target}}/geo"
      - path: "{{ bie_hub_context_path }}"
        sort_label: "9_default"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:8080{{bie_hub_proxy_target}}"
  tags:
    - nginx_vhost
    - deploy
    - bie
  when: webserver_nginx

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ bie_hub_war_url }}' context_path='{{ bie_hub_context_path }}' hostname='{{ bie_hub_hostname }}'
  when: bie_hub_local_build is not defined
  tags:
    - webapps
    - tomcat_vhost
    - deploy
    - bie

- include: ../../tomcat_deploy/tasks/main.yml war_local_build='{{ bie_hub_local_build }}' context_path='{{ bie_hub_context_path }}' hostname='{{ bie_hub_hostname }}'
  when: bie_hub_local_build is defined
  tags:
    - webapps
    - tomcat_vhost
    - deploy
    - bie


- name: copy all data assets
  copy: src={{item}} dest={{ data_dir }}/{{ bie_hub | default('generic-bie') }}/config
  with_items:
    - charts.json
    - languages.json
  tags:
    - webapps
    - properties
    - config
    - bie
