---
- include: ../../common/tasks/setfacts.yml
  tags:
    - webapps
    - properties
    - bie
    - nginx_vhost

- name: set nginx upstream server for nginx
  set_fact:
    upstream_host: "{{ bie_hub_upstream_host | default('127.0.0.1') }}"
  tags:
    - deploy
    - nginx_vhost

- name: set nginx upstream server for nginx
  set_fact:
    upstream_host: "{{ bie_hub_upstream_host | default('127.0.0.1') }}"
  tags:
    - deploy
    - nginx_vhost

- name: ensure target directories exist
  file: path={{item}} state=directory mode=0775
  with_items:
    - "{{ data_dir }}/{{ bie_hub | default('generic-bie') }}/config"
  tags:
    - properties
    - bie

- name: copy config.yml
  template:
    src: bie-hub-config.yml.j2
    dest: "{{ data_dir }}/{{ bie_hub }}/config/{{ bie_hub | default('generic-bie') }}-config.yml"
    force: yes
  tags:
    - webapps
    - properties
    - bie

- name: copy eolContentToUpdate.properties.jinja2
  template:
    src: eolContentToUpdate.properties.jinja2
    dest: "{{ data_dir }}/{{ bie_hub }}/config/eolContentToUpdate.properties"
  tags:
    - webapps
    - properties
    - bie

- name: create blacklist
  template:
    src: blacklist.json.j2
    dest: "{{ data_dir }}/{{ bie_hub }}/config/blacklist.json"
    force: yes
    output_encoding: utf-8
  when: blacklist_source is defined
  tags:
    - webapps
    - properties
    - bie
    - bie-forbidden

- name: copy blacklist from inventory
  copy:
    src: "{{ inventory_dir }}/{{ blacklist_file }}"
    dest: "{{ data_dir }}/{{ bie_hub }}/config/blacklist.json"
    force: yes
  when: blacklist_source is not defined
  tags:
    - webapps
    - properties
    - bie
    - bie-forbidden

- name: set data ownership [all data is owned by tomcat]
  file: path={{data_dir}}/{{ bie_hub | default('generic-bie') }}/ owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  tags:
    - properties
    - bie

- include: ../../apache_vhost/tasks/main.yml context_path='/{{ bie_hub_context_path }}' hostname='{{ bie_hub_hostname }}'
  tags:
    - webapps
    - apache_vhost
    - deploy
    - bie
  when: not webserver_nginx

- name: set nginx proxy target if configured
  set_fact:
    bie_hub_proxy_target: "{{bie_hub_context_path}}"
  tags:
    - nginx_vhost
    - deploy
    - bie
  when: webserver_nginx and bie_hub_proxy_target is not defined

- name: Define basic nginx_paths
  set_fact:
    bie_nginx_paths:
      - path: "{{bie_hub_context_path}}/species"
        sort_label: "2_species"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_hub_proxy_target}}/species"
      - path: "{{bie_hub_context_path}}/search"
        sort_label: "3_search"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_hub_proxy_target}}/search"
      - path: "{{bie_hub_context_path}}/sound-search"
        sort_label: "4_soundsearch"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_hub_proxy_target}}/sound-search"
      - path: "{{bie_hub_context_path}}/image-search"
        sort_label: "4_imagesearch"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_hub_proxy_target}}/image-search"
      - path: "{{bie_hub_context_path}}/trove"
        sort_label: "6_trove"
        is_proxy: false
        is_proxy_rewrite: true
        proxy_pass: https://api.trove.nla.gov.au
      - path: "{{bie_hub_context_path}}/externalSite"
        sort_label: "7_externalsite"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_hub_proxy_target}}/externalSite"
      - path: "{{bie_hub_context_path}}/geo"
        sort_label: "8_geo"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_hub_proxy_target}}/geo"
      - path: "{{ bie_hub_context_path }}"
        sort_label: "9_default"
        is_proxy: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_hub_proxy_target}}"
  when: webserver_nginx
  tags:
    - nginx_vhost
    - deploy
    - bie

- name: bie-ws additional path when context is not / or empty
  set_fact:
    bie_nginx_additional_path:
      - path: "~ {{bie_index_context_path }}/(.*)$"
        sort_label: "1_ws"
        is_proxy: false
        rewrite: "$scheme://{{bie_index_hostname }}{{bie_index_context_path }}/$1$is_args$args"
  when: webserver_nginx and bie_index_context_path != '/' and bie_index_context_path != ''
  tags:
    - nginx_vhost
    - deploy
    - bie

- name: Append bie-ws additional path when needed
  set_fact:
     bie_nginx_paths: "{{ bie_nginx_additional_path + bie_nginx_paths }}"
  when: webserver_nginx and bie_index_context_path != '/' and bie_index_context_path != ''
  tags:
    - nginx_vhost
    - deploy
    - bie

# Trove path is needed until trove API cleanly supports https
- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "bie-hub"
    hostname: "{{ bie_hub_hostname }}"
    context_path: "{{ bie_hub_context_path }}"
    nginx_paths: "{{ bie_nginx_paths }}"
  tags:
    - nginx_vhost
    - deploy
    - bie
  when: webserver_nginx

- name: copy all data assets
  copy: src={{item}} dest={{ data_dir }}/{{ bie_hub | default('generic-bie') }}/config
  with_items:
    - charts.json
    - languages.json
  tags:
    - webapps
    - properties
    - config
    - bie

- name: Include docker tasks
  include_tasks: docker-tasks.yml
  when: deployment_type == 'swarm'
  tags: [docker, docker-service]

- name: Include VM tasks
  include_tasks: vm-tasks.yml
  when: deployment_type == 'vm'
