groupId: "org.geoserver.web"
version: "{{ geoserver_version | default('2.19.2') }}"
artifactId: "gs-web-app"
packaging: "war"
classifier: "war"

geoserver_war_url: "https://repo.osgeo.org/repository/release/org/geoserver/web/gs-web-app/2.19.2/gs-web-app-2.19.2.war"
geoserver_war_sha1sum: "sha1:db9ce038fb2bea7c67a7012bb338c1447260a2b0"

# URLs to extensions as .zip
# Must be compatible with the geoserver version
# geoserver/tasks/main.yml changes gwc defaults for vectortiles extension
geoserver_extension_urls:
  - "https://download.sourceforge.net/project/geoserver/GeoServer/2.19.2/extensions/geoserver-2.19.2-pyramid-plugin.zip"
  - "https://download.sourceforge.net/project/geoserver/GeoServer/2.19.2/extensions/geoserver-2.19.2-vectortiles-plugin.zip"

geoserver_task: "geoserver"

# ecodata-geoserver.yml configs
# uncomment to add zip extensions
geoserver_zip_extension_urls:
  - "https://sourceforge.net/projects/geoserver/files/GeoServer/2.7.4/extensions/geoserver-2.7.4-wps-plugin.zip"

geoserver_jar_extension_urls:
  - "https://raw.githubusercontent.com/temi/elasticgeo/v2.7.4/gs-web-elasticsearch/target/elasticgeo2.7.4-gs2.7.4-es1.7.3.jar"

tomcat_java_opts_override: "-Djava.awt.headless=true -Xmx8g -Xms4g -Xss1024k -XX:+UseG1GC"