# application versions
regions_config: "{{regions}}-config.properties"

# assets
version: "2.5-SNAPSHOT"
artifactId: "{{regions}}"
classifier: ''
packaging: "war"
groupId: "au.org.ala"
regions_war_url: "{{maven_repo_ws_url}}"
