*~
*.class
*.DS_Store
*.pyc

# Package Files #
*.ear

*.iml
.vagrant

vagrant/centos/.vagrant
vagrant/ubuntu-trusty/.vagrant
vagrant/ubuntu-precise/.vagrant
vagrant/ubuntu-utopic/.vagrant
vagrant/ubuntu-xenial/.vagrant

*console.log

.idea/

ansible/roles/solr-reusable

ansible/roles/tiling-agent/tasks/main.yml

ansible/inventories/tiling-agents

vagrant/centos/.vagrant/machines/default/virtualbox/action_provision

vagrant/centos/.vagrant/machines/default/virtualbox/action_set_name

vagrant/centos/.vagrant/machines/default/virtualbox/id



*.retry

ansible/roles/alerts/tasks/main.yml
