*~
*.class
*.DS_Store
*.pyc

# Package Files #
*.ear

*.iml
.vagrant

vagrant/centos/.vagrant
vagrant/ubuntu-trusty/.vagrant
vagrant/ubuntu-precise/.vagrant
vagrant/ubuntu-utopic/.vagrant

.idea/

ansible/roles/solr-reusable

ansible/roles/tiling-agent/tasks/main.yml

ansible/inventories/tiling-agents

vagrant/centos/.vagrant/machines/default/virtualbox/action_provision

vagrant/centos/.vagrant/machines/default/virtualbox/action_set_name

vagrant/centos/.vagrant/machines/default/virtualbox/id

ansible/inventories/solr-cloud

ansible/inventories/solr-rufus

ansible/solr-cloud.yml

ansible/roles/zookeeper/tasks/main.yml

ansible/inventories/solr-amazon

ansible/inventories/profiles-nectar

ansible/inventories/profiles

ansible/machine_audit

ansible/inventories/spatial-setup

*.retry
