<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>	
<body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Atlas of Living Australia - demo</h1>
        <p>This is a landing page with links through to the components now installed on this server.
        <br/>
           This demo was installed using 
           <a href="http://www.ansible.com">ansible</a> scripts that are available
           <a href="https://github.com/AtlasOfLivingAustralia/ala-install">here</a>.
        </p>
       </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Occurrence store</h2>
          <p> 
          	The occurrence store should now be setup. This application consists of 
          	3 web applications now running in Tomcat:
          	<ul>
              <li><a href="{{biocache_hub_context_path}}">Occurrence search</a> - Reskinnable front end UI</li>              
              <li><a href="{{biocache_hub_context_path}}/explore/your-area?default=true">Explore your area</a>  - Reskinnable front end UI</li>
          	  <li><a href="{{biocache_service_context_path}}">Web services</a></li>
          	  <li><a href="{{solr_context_path}}">Apache SOLR</a></li>
          	</ul>	
			There is also a command line tool now installed that can be started with the command "biocache".
			This tool can be used for loading data and running processes across the data.
          </p>

          <h4>Further information</h4>
          <p>
          	As part of the installation the following tools are installed:
          		<ul>
          			<li><a href="http://cassandra.apache.org/">Apache Cassandra</a></li>
          		</ul>
            Cassandra can be accessed directly using the command-line tool <a href="http://wiki.apache.org/cassandra/CassandraCli">cassandra-cli</a>.
          </p>
        </div>

        <div class="col-md-4">
          <h2>Collectory</h2>
          <p>
          	The collectory is now setup and installed.	This is an application for editing metadata
          	for collections, institutions and data resources.
      		<ul>
				<li><a href="{{collectory_context_path}}">Collections browser</a></li>
        <li><a href="{{collectory_context_path}}/datasets">Datasets browser</a></li>
				<li><a href="{{collectory_context_path}}/ws">Web services</a></li>
				<li><a href="{{collectory_context_path}}/admin">Admin interface</a></li>
			</ul>
           </p>
          <h4>Further information</h4>
          <p>
          	As part of the installation the following tools are installed:
          		<ul>
          			<li><a href="http://www.mysql.com/">MySQL</a></li>
          		</ul>
            MySQL can be accessed directly using the command-line tool "mysql".
          </p>
       </div>
        <div class="col-md-4">
          <h2>Sandbox</h2>
          <p>The sandbox can be used to quickly load a dataset into the occurrence store for visualisation.<br/>
            There is support for loading CSV data.
          </p>
		  <ul>
				<li><a href="{{sandbox_context_path}}">Front end UI</a></li>
			</ul>
        </div>
      </div>

      <hr>

      <footer>
        <p>
        &copy; <a href="http://www.ala.org.au">Atlas of Living Australia 2014</a>

        - Machine setup up on {{ansible_date_time.date}}. Running
           {{ansible_distribution}} 
           {{ansible_distribution_version}} 
      </p>
      </footer>
    </div> <!-- /container -->

</body>
</html>