# default vhost, handling AWS Elastic Load Balancer health checks and localhost status checks

server {
    listen 443 default_server;
    listen [::]:443 default_server;
    server_name  _;

    ssl_certificate {{ssl_certificate_server_dir}}/{{ ssl_cert_file }};
    ssl_certificate_key {{ssl_certificate_server_dir}}/{{ ssl_key_file }};
    ssl_protocols {% if nginx_tls_v1_3_enabled | bool %}TLSv1.3{% endif %} {% if nginx_tls_v1_2_enabled | bool %}TLSv1.2{% endif %} {% if nginx_tls_v1_1_enabled | bool %}TLSv1.1{% endif %} {% if nginx_tls_v1_0_enabled | bool %}TLSv1.0{% endif %};
    ssl_ciphers '{{ nginx_tls_ciphers }}';
    ssl_prefer_server_ciphers on;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;
    ssl_stapling on;
    ssl_stapling_verify on;


    # Only allow access to /nginx_status from localhost
    location /nginx_status {
        stub_status on;
        access_log off;
        allow 127.0.0.1;
        allow ::1;
        deny all;
    }

    return 404;
}