
server {
    listen 443 ssl {% if nginx_proxy_protocol_enabled | bool %}proxy_protocol{% endif %};
    listen [::]:443 ssl {% if nginx_proxy_protocol_enabled | bool %}proxy_protocol{% endif %};
    {% if nginx_http2_enabled | bool %}http2 on;{% endif %}
