    location {{ item.path }} {
{% if item.is_proxy %}
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_read_timeout 10m;
        proxy_pass {{ item.proxy_pass }};
{% else %}
        alias {{ item.alias }};
{% endif %}
    }
