#{{ ansible_managed }}
proxy_cache_path {{ nginx_cache_path }} levels=1:2
    keys_zone={{ nginx_cache_zone }}:{{ nginx_cache_zone_size }} max_size={{ nginx_cache_size }} inactive={{ nginx_cache_time }} use_temp_path=off;

# Cache HTTP 200 for as long as we have the cache setup for
#proxy_cache_valid 200 {{ nginx_cache_valid_time }};
# Cache all other HTTP codes for a separate time that should be much shorter or 0 to disable caching of other codes
#proxy_cache_valid any {{ nginx_cache_invalid_time }};
