{% if item.path|length == 0 %}
    location / {
{% elif item.path|first == '/' %}
    location {{ item.path }} {
{% else %}
    location /{{ item.path }} {
{% endif %}
{% if robots_disallow_useragents is defined and robots_disallow_useragents|length > 0 %}
        # Telling NGINX to return 444 is a special pseudo response code that immediately cuts the TCP connection with no response
        if ($http_user_agent ~* ({{ robots_disallow_useragents|join('|') }}) ) {
            return 444;
        }
{% endif %}
{% if item.rewrite_path is defined and item.rewrite_path %}
        rewrite ^ {{item.rewrite_path}}$1;
{% endif %}
{% if item.is_proxy %}
        # proxy_set_header Host $host;
        proxy_set_header Host {{ hostname }};
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_read_timeout 10m;
  {% if nginx_cache and item.use_cache is defined and item.use_cache %}
        proxy_cache {{ nginx_cache_zone }};
    {% if nginx_cache_lock is defined and nginx_cache_lock %}
        # Avoid concurrent requests for the same item by adding a lock to cache requests for the same key
        proxy_cache_lock on;
        proxy_cache_lock_age {{ nginx_cache_lock_age | default ('5s') }};
        proxy_cache_lock_timeout {{ nginx_cache_lock_timeout | default('5s') }};
    {% endif %}
    {% if nginx_proxy_ignore_client_abort is defined and nginx_proxy_ignore_client_abort %}
        # Enable the cache to be populated even if the client aborts the request if it eventually succeeds
        proxy_ignore_client_abort on;
    {% endif %}
  {% endif %}
        proxy_pass {{ item.proxy_pass }};
{% elif item.is_proxy_rewrite is defined and item.is_proxy_rewrite %}
        rewrite ^{{ item.path }}/?(.*) /$1 break;
        proxy_pass {{ item.proxy_pass }};
{% elif item.alias is defined %}
        alias {{ item.alias }};
{% elif item.rewrite is defined %}
        return 301 {{ item.rewrite }};
{% else %}
        try_files {{ item.try_files }};
{% endif %}
    }
