{% if nginx_set_real_ips is defined and nginx_set_real_ips|length > 0 %}
# These IP addresses are trusted to send the correct information in X-Forwarded-For headers
{% for next_set_real_ip in nginx_set_real_ips %}
set_real_ip_from {{ next_set_real_ip }};
{% endfor %}
real_ip_header X-Forwarded-For;
real_ip_recursive on;
{% endif %}

{% if robots_disallow_ips is defined and robots_disallow_ips|length > 0 %}
# These IP addresses are never allowed to access locations except robots.txt
geo $blocked_ip {
    default 0;
{% if nginx_set_real_ips is defined and nginx_set_real_ips|length > 0 %}
    # These proxy IPs are trusted to return accurate X-Forwarded-For headers to find user IP addresses
{% for next_set_real_ip in nginx_set_real_ips %}
    proxy {{ next_set_real_ip }};
{% endfor %}
{% endif %}
{% for next_ip in robots_disallow_ips %}
    {{ next_ip }} 1;
{% endfor %}
}
{% endif %}

{% if robots_disallow_useragents is defined and robots_disallow_useragents|length > 0 %}
map $http_user_agent $blocked_user_agent {
    default 0;
    # These user agents are never allowed access to this location
    # Telling NGINX to return 444 is a special pseudo response code that immediately cuts the TCP connection with no response
{% for next_disallowed_user_agent in robots_disallow_useragents %}
{% if next_disallowed_user_agent|trim == "" %}
    # Blocking requests with empty user agent header
    "" 1;
{% else %}
    "~{{ next_disallowed_user_agent }}" 1;
{% endif %}
{% endfor %}
}
{% endif %}
