{% if nginx_rate_limit_enabled | bool == True %}
limit_req_zone {{ nginx_rate_limit_ip_variable }} zone={{ nginx_rate_limit_name }}:{{ nginx_rate_limit_size }} rate={{ nginx_rate_limit }};
{% if nginx_other_limit_zones is defined and nginx_other_limit_zones|length > 0 %}
{% for next_other_limit_zone in nginx_other_limit_zones %}
limit_req_zone {{ next_other_limit_zone.ip_variable | default(nginx_rate_limit_ip_variable) }} zone={{ next_other_limit_zone.name }}:{{ next_other_limit_zone.size | default(nginx_rate_limit_size) }} rate={{ next_other_limit_zone.rate }};
{% endfor %}
{% endif %}
{% endif %}
