
#{{ ansible_managed }}
server {
    listen 80 {% if nginx_proxy_protocol_enabled | bool %}proxy_protocol{% endif %};
    listen [::]:80 {% if nginx_proxy_protocol_enabled | bool %}proxy_protocol{% endif %};
