#{{ ansible_managed }}
proxy_cache_path {{ nginx_cache_path }} levels=1:2
    keys_zone={{ nginx_cache_zone }}:{{ nginx_cache_zone_size }} max_size={{ nginx_cache_size }} inactive={{ nginx_cache_time }} use_temp_path=off;
