{% macro ala_default_start() -%}
{% include 'ala_default_start.j2' %}
{%- endmacro %}

{% macro ala_default_end() -%}
{% include 'ala_default_end.j2' %}
{%- endmacro %}

{% macro fragment_02_upstream(item) -%}
{% include 'fragment_02_upstream.j2' %}
{%- endmacro %}

{% macro fragment_03_blocking() -%}
{% include 'fragment_03_blocking.j2' %}
{%- endmacro %}

{% macro fragment_04_ratelimit() -%}
{% include 'fragment_04_ratelimit.j2' %}
{%- endmacro %}

{% macro fragment_05_cache() -%}
{% include 'fragment_05_cache.j2' %}
{%- endmacro %}

{% macro fragment_06_connection() -%}
{% include 'fragment_06_connection.j2' %}
{%- endmacro %}

{% macro fragment_10_start_http() -%}
{% include 'fragment_10_start_http.j2' %}
{%- endmacro %}

{% macro fragment_10_start_https() -%}
{% include 'fragment_10_start_https.j2' %}
{%- endmacro %}

{% macro fragment_20_servername() -%}
{% include 'fragment_20_servername.j2' %}
{%- endmacro %}

{% macro fragment_30_force_https() -%}
{% include 'fragment_30_force_https.j2' %}
{%- endmacro %}

{% macro fragment_40_ssl() -%}
{% include 'fragment_40_ssl.j2' %}
{%- endmacro %}

{% macro fragment_50_root() -%}
{% include 'fragment_50_root.j2' %}
{%- endmacro %}

{% macro fragment_55_include() -%}
{% include 'fragment_55_include.j2' %}
{%- endmacro %}

{% macro fragment_60_robots() -%}
{% include 'fragment_60_robots.j2' %}
{%- endmacro %}

{% macro fragment_70_location_start(item) -%}
{% include 'fragment_70_location_start.j2' %}
{%- endmacro %}

{% macro fragment_71_location_default(item) -%}
{% include 'fragment_71_location_default.j2' %}
{%- endmacro %}

{% macro fragment_73_location(item) -%}
{% include 'fragment_73_location.j2' %}
{%- endmacro %}

{% macro fragment_74_location_cors() -%}
{% include 'fragment_74_location_cors.j2' -%}
{%- endmacro %}

{% macro fragment_75_location_end() -%}
{% include 'fragment_75_location_end.j2' %}
{%- endmacro %}

{% macro fragment_90_end() -%}
{% include 'fragment_90_end.j2' %}
{%- endmacro %}

