#{{ ansible_managed }}
server {
{% for v in nginx_sites[item] %}
{% if v.find('\n') != -1 %}
   {{v.replace("\n","\n   ")}}
{% else %}
   {% if v != "" %}{{ v.replace(";",";\n      ").replace(" {"," {\n      ").replace(" }"," \n   }\n") }}{% if v.find('{') == -1%};
{% endif %}{% endif %}{% endif %}
{% endfor %}

{% if additional_proxy_pass|default("") != "" %}
{% for s in additional_proxy_pass %}
  location /{{ s.src.replace("/", '') }} { 
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for; 
{% if s.proxy_pass|default(true) %}
    proxy_pass {{ s.dest }};
{% else %}
    root {{ s.dest }};
{% endif %}
  }

{% endfor %}   
{% endif %}

}
