[Service]
ReadWritePaths={{ tomcat_dir }}
ReadWritePaths={{ data_dir }}
UMask={{ tomcat_umask }}
Environment='UMASK={{ tomcat_umask }}'

Restart=on-failure
RestartSec=5

StandardOutput=append:{{ catalina_log_file | default('/var/log/tomcat9/catalina.out') }}
StandardError=append:{{ catalina_log_file | default('/var/log/tomcat9/catalina.out') }}