- include: ../../common/tasks/setfacts.yml
  tags:
    - geonetwork

- name: packages
  apt:
    name:
      - curl
      - unzip
    update_cache: yes
    state: latest
  tags:
    - geonetwork

- include: ../../apache_vhost/tasks/main.yml context_path='{{ geonetwork_context_path }}' hostname='{{ geonetwork_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - geonetwork
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "geonetwork"
    hostname: "{{ geonetwork_hostname }}"
    context_path: "{{ geonetwork_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - geonetwork
  when: webserver_nginx

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ geonetwork_war_url }}' context_path='{{ geonetwork_context_path }}' hostname='{{ geonetwork_hostname }}' tomcat_deploy_from_url=true
  notify:
    - restart tomcat
  tags:
    - deploy
    - tomcat_vhost
    - geonetwork

- name: wait for geonetwork servlet to deploy in tomcat
  wait_for:
      path: "/var/lib/{{tomcat}}/webapps-{{ geonetwork_hostname }}/geonetwork/WEB-INF/config-db/jdbc.properties"
  tags:
    - geonetwork
    - tomcat_vhost

- name: replace config-db/jdbc.properties file
  template: src=jdbc.properties dest="/var/lib/{{tomcat}}/webapps-{{ geonetwork_hostname }}/geonetwork/WEB-INF/config-db/jdbc.properties"
  tags:
    - geonetwork
    - config

- name: Create geonetwork db username/password
  postgresql_user: name="{{ geonetwork_db_username }}" password="{{ geonetwork_db_password }}" role_attr_flags="CREATEDB,SUPERUSER"
  become: yes
  become_user: postgres
  tags: geonetwork

- name: Create geonetwork database
  postgresql_db: name="{{ geonetwork_database }}" owner="{{ geonetwork_db_username }}"
  become: yes
  become_user: postgres
  tags:
     - geonetwork
     - config

- name: Adds postgis to the database "geonetwork"
  postgresql_ext:
    name: postgis
    db: "{{ geonetwork_database }}"
  become: yes
  become_user: postgres
  tags:
     - geonetwork

- name: Adds postgis_topology to the database "geonetwork"
  postgresql_ext:
    name: postgis_topology
    db: "{{ geonetwork_database }}"
  become: yes
  become_user: postgres
  tags:
     - geonetwork

- name: replace config-node/srv.xml file
  template: src=srv.xml dest="/var/lib/{{tomcat}}/webapps-{{ geonetwork_hostname }}/geonetwork/WEB-INF/config-node/srv.xml"
  notify:
    - restart tomcat
  tags:
    - geonetwork
    - config
