# TODO multiple java versions
# Java home on different systems?
# Could delegate via dependency?
- name: Install Java
  apt:
    pkg: openjdk-8-jre-headless
    state: present
    update_cache: yes
  tags: 
  - service

- set_fact:
    java_home: /usr/lib/jvm/java-8-openjdk-amd64/
  tags:
  - service

- name: "Create system user for {{service_name}}"
  user:
    name: "{{ service_owner | default(service_name) }}"
    state: present
    system: yes
  tags:
  - service

- name: "Create {{service_name}} dir"
  file:
    path: "/opt/atlas/{{service_name}}"
    state: directory
    owner: "{{ service_owner | default(service_name) }}"
    group: "{{ service_owner | default(service_name) }}"
    mode: 0755
  tags: 
  - service

- name: "Create {{service_name}} service file"
  template:
    src: systemd.service
    dest: "/etc/systemd/system/{{service_name}}.service"
  register: service
  tags:
  - service

- name: "Reload services"
  when: service.changed
  systemd:
    name: "{{service_name}}"
    daemon-reload: yes
  tags:
  - service

- name: "Enable service"
  systemd:
    name: "{{service_name}}"
    enabled: true
    state: stopped
  tags:
  - service

- name: "Download {{service_name}} JAR"
  get_url:
    url: "{{jar_url}}"
    dest: "/opt/atlas/{{service_name}}/{{service_name}}.jar"
    mode: u=rwx,g=rx,o=rx
    owner: "{{ service_owner | default(service_name) }}"
    group: "{{ service_group | default(service_name) }}"
    force: yes
  tags:
  - service

- name: "Set {{service_name}} JAR config"
  template:
    src: service.conf
    dest: "/opt/atlas/{{service_name}}/{{service_name}}.conf"
    owner: "{{ service_owner | default(service_name) }}"
    group: "{{ service_group | default(service_name) }}"
  tags:
  - service

- name: "Start {{service_name}} service"
  systemd:
    name: "{{service_name}}"
    state: started
  tags:
  - service
