- include: ../../common/tasks/setfacts.yml
  tags:
    - volunteer-portal
    - deploy
    - properties
    - nginx_vhost

#
# JAR file deployment
#
#- include: ../../exec_jar/tasks/main.yml jar_url='{{ doi_service_jar_url }}' service_name='doi-service'
- name: add jar and service
  include_role:
    name: exec-jar
  vars:
    service_name: "digivol"
    jar_url: '{{ digivol_jar_url }}'
  tags:
    - deploy
    - volunteer-portal

#
# Properties and data file configuration
#

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner=digivol group=digivol
  with_items:
    - "{{data_dir}}/digivol"
    - "{{data_dir}}/digivol/config"
    - "{{data_dir}}/digivol/media/images"
    - "{{data_dir}}/digivol/elasticsearch"
  tags:
    - volunteer-portal
    - properties

- name: set data ownership
  file:
    path: "{{data_dir}}/digivol"
    owner: digivol
    group: digivol
    recurse: true
  tags:
    - properties
    - volunteer-portal

- name: copy all config.properties
  template:
    src: config.properties
    dest: "{{data_dir}}/digivol/config/digivol-config.properties"
    owner: digivol
    group: digivol
  notify:
    - restart digivol
  tags:
    - properties
    - volunteer-portal

- name: copy logback config
  template:
    src: logback.groovy
    dest: "{{data_dir}}/digivol/config/logback.groovy"
    owner: digivol
    group: digivol
  notify:
    - restart digivol
  tags:
    - properties
    - volunteer-portal

#- name: Restart digivol service
#  service:
#    name: digivol
#    state: restarted
#  tags:
#    - volunteer-portal

- name: add nginx vhost
  include_role:
    name: nginx_vhost
  vars:
    hostname: "{{ digivol_hostname }}"
    context_path: "{{ digivol_context_path }}"
    nginx_root: "{{}}"
    nginx_paths:
      - path: "{{ digivol_context_path }}"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:8080/{{ digivol_context_path }}"
  notify:
    - reload nginx
  tags:
    - nginx_vhost
    - volunteer-portal
  when: webserver_nginx





