- include: ../../common/tasks/setfacts.yml
  tags:
    - volunteer-portal
    - deploy
    - properties
    - nginx_vhost

#
# JAR file deployment
#
- name: add jar and service
  include_role:
    name: exec-jar
  vars:
    service_name: "digivol"
    jar_url: '{{ digivol_jar_url }}'
  tags:
    - deploy
    - volunteer-portal

#
# Properties and data file configuration
#

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner=digivol group=digivol
  with_items:
    - "{{data_dir}}/volunteer-portal"
    - "{{data_dir}}/digivol"
    - "{{data_dir}}/digivol/config"
    - "{{data_dir}}/volunteer/elasticsearch"
  tags:
    - volunteer-portal
    - properties

- name: app config
  template:
    src: config.yml
    dest: "{{data_dir}}/digivol/config/digivol.yml"
    owner: digivol
    group: digivol
  notify:
    - restart digivol
  tags:
    - properties
    - volunteer-portal

- name: copy logback config
  template:
    src: logback.groovy
    dest: "{{data_dir}}/digivol/config/logback.groovy"
    owner: digivol
    group: digivol
  notify:
    - restart digivol
  tags:
    - properties
    - volunteer-portal

- name: Restart digivol service
  service:
    name: digivol
    state: restarted
    enabled: "yes"
  tags:
    - deploy
    - volunteer-portal

# === temporary nginx config: expires
- name: copy nginx config (expires)
  copy:
    src: "expires.conf"
    dest: "/etc/nginx/snippets/"
  tags:
    - nginx_vhost
    - volunteer-portal

# === temporary nginx config using simple template
- name: add nginx vhost (using template)
  template:
    src: nginx-vhost.j2
    dest: "/etc/nginx/sites-available/{{digivol_hostname}}.conf"
  notify:
    - reload nginx
  tags:
    - nginx_vhost
    - volunteer-portal

# === temporary nginx config: symlink
- name: add nginx vhost symlink
  file: 
    path: "/etc/nginx/sites-enabled/{{digivol_hostname}}.conf"
    src: "/etc/nginx/sites-available/{{digivol_hostname}}.conf"
    state: link
  notify:
    - reload nginx
  tags:
    - nginx_vhost
    - volunteer-portal


# === temporarily not using nginx_vhost, as Digivol needs config values not yet supported in that role
# - name: add nginx vhost
#   include_role:
#     name: nginx_vhost
#   vars:
#     appname: "volunteer-portal"
#     hostname: "{{ digivol_hostname }}"
#     context_path: "{{ digivol_context_path }}"
#     nginx_paths:
#       - path: "{{ digivol_context_path }}"
#         is_proxy: true
#         proxy_pass: "http://127.0.0.1:8080/{{ digivol_context_path }}"
#       - path: "/data/volunteer"
#         is_proxy: false
#         try_files: "$uri $uri/ =404"
#   tags:
#     - nginx_vhost
#     - volunteer-portal
#  when: webserver_nginx

- name: create data dir under nginx root
  file: 
    path: "{{nginx_root}}/data"
    state: directory
  tags:
    - nginx_vhost
    - volunteer-portal

- name: copy default html pages into nginx root
  copy:
    src: "{{item}}"
    dest: "{{nginx_root}}"
  with_items:
    - "403.html"
    - "503.html"
  tags:
    - nginx_vhost
    - volunteer-portal

- name: create data/volunteer symlink under nginx root
  file: 
    path: "{{nginx_root}}/data/volunteer"
    src: "{{data_dir}}/volunteer-portal"
    state: link
  tags:
    - nginx_vhost
    - volunteer-portal



