- include: ../../common/tasks/setfacts.yml
  tags:
    - specieslist
    - properties
    - dbfix

- name: create DB
  mysql_db: name={{specieslist_db_name}} state=present
  tags:
    - specieslist
    - db

- name: create DB user
  mysql_user: name={{specieslist_db_username}} password={{ specieslist_db_password}} priv=*.*:ALL state=present
  tags:
    - specieslist
    - db

- name: copy SQL fix script for mysql 5.7
  copy: src=ONLY_FULL_GROUP_BY.sql dest=/tmp/
  tags:
    - specieslist
    - db
    - dbfix

- name: Run SQL fix for mysql 5.7
  mysql_db:
    state: import
    name: all
    target: /tmp/ONLY_FULL_GROUP_BY.sql
  tags:
    - specieslist
    - db
    - dbfix

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/specieslist-webapp/config"
  tags:
    - specieslist
    - properties

- name: copy all config.properties
  template: src=specieslist-webapp-config.properties dest={{data_dir}}/specieslist-webapp/config/specieslist-webapp-config.properties
  tags:
    - specieslist
    - properties

- name: set data ownership
  file: path={{data_dir}}/specieslist-webapp owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify: 
    - restart tomcat
  tags:
    - specieslist
    - properties

- include: ../../apache_vhost/tasks/main.yml context_path='{{ specieslist_context_path }}' hostname='{{ specieslist_hostname }}'
  tags:
    - specieslist
    - apache_vhost
    - deploy
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    hostname: "{{ specieslist_hostname }}"
    context_path: "{{ specieslist_context_path }}"
  tags:
    - specieslist
    - nginx_vhost
    - deploy
  when: webserver_nginx

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ specieslist_war_url }}' context_path='{{ specieslist_context_path }}' hostname='{{ specieslist_hostname }}'
  tags:
    - specieslist
    - tomcat_vhost
    - deploy

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ specieslist_war_url }}' context_path='{{ specieslist_context_path }}' hostname='{{ specieslist_hostname }}'
  when: specieslist_local_build is not defined
  tags:
    - specieslist
    - tomcat_vhost
    - deploy

- include: ../../tomcat_deploy/tasks/main.yml war_local_build='{{ specieslist_local_build }}' context_path='{{ specieslist_context_path }}' hostname='{{ specieslist_hostname }}'
  when: specieslist_local_build is defined
  tags:
    - specieslist
    - tomcat_vhost
    - deploy
