- include: ../../common/tasks/setfacts.yml
  tags: common
# We need to: 
#
# 1. Set in the inventory where the mounted storage is.
# 2. Test that the mounted storage exists
# 3. Create a symbolic link to the mounted storage
# 
# On CSIRO VMs the mounted storage is typically on /srv/data and we need to create a symlink from /data -> /srv/data 
# before scripts are ran.
# On Nectar & EC2 Ubuntu VMs this is usually /mnt  

- file: path="{{ data_dir }}" state=directory mode=0755 force=yes follow=yes
  when: is_vagrant is defined and is_vagrant
  tags: common  

- file: src="{{data_dir}}" dest=/data state=link
  when: symlink_to_data_dir is defined and symlink_to_data_dir
  tags: common

- stat: path="{{ data_dir }}"
  register: data_dir_stat
  tags: common

- debug: msg="data directory {{ data_dir }} exists already"
  when: data_dir_stat.stat.isdir is defined and data_dir_stat.stat.exists == True
  tags: common

- debug: msg="data directory {{ data_dir }} is NOT defined (path does not exist)"
  when: data_dir_stat.stat.isdir is not defined 
  tags: common

- name: apt-get update (Debian)
  apt: update_cache=yes
  when: ansible_os_family == "Debian"
  tags:
    - common
    - apt_update  
