- name: show ansible versions
  debug: msg="You are using Ansible {{ ansible_version.full }} on {{ansible_os_family}}. The current supported version for ala-install is {{ supported_ansible_version.full }}."

- name: check the ansible version
  pause: prompt="You are not using the supported version of Ansible. The supported version is {{ supported_ansible_version.full }}. You are using {{ ansible_version.full }}. Proceed at your own risk. Press enter to continue"
  when: supported_ansible_version.major != ansible_version.major or supported_ansible_version.minor != ansible_version.minor or supported_ansible_version.revision != ansible_version.revision
  tags:
    - version_check

- name: set debian variables
  set_fact:
    libtcnative: libtcnative-1
    tomcat: tomcat7
    tomcat_user: tomcat7
    tomcat_conf: /etc/default/tomcat7
    tomcat_conf_dir: /etc/tomcat7
    tomcat_log_dir: /var/log/tomcat7
    apache: apache2
    mysql_service: mysql
    cassandra_yaml: /etc/cassandra/cassandra.yaml
    cassandra_user: cassandra
    tomcat_dir: /var/lib/tomcat7
    tomcat_webapps: /var/lib/tomcat7/webapps/
  when: ansible_os_family == "Debian"
  tags:
    - setfacts

- name: set redhat variables
  set_fact:
    libtcnative: tomcat-native
    tomcat: tomcat6
    tomcat_user: tomcat
    tomcat_conf: /etc/tomcat6/tomcat6.conf
    tomcat_conf_dir: /etc/tomcat6
    apache: httpd
    mysql_service: mysqld
    cassandra_yaml: /etc/cassandra/conf/cassandra.yaml
    cassandra_user: cassandra
    tomcat_dir: /var/lib/tomcat6
    tomcat_webapps: /var/lib/tomcat6/webapps/
  when: ansible_os_family == "RedHat"
  tags:
    - setfacts

- name: set name index date
  set_fact:
      name_index_date: "{{ nameindex_datestamp | default('20160828') }}"
  tags:
    - setfacts

- name: set name index location
  set_fact:
    aws_name_indexes_repo: http://s3.amazonaws.com/ala-nameindexes/20140610
    ala_name_indexes_repo: "{{ ala_nameindex_source_url | default('http://biocache.ala.org.au/archives/nameindexes') }}/{{name_index_date}}"
  tags:
    - setfacts    

- name: using the ALA nexus repository
  set_fact:
    maven_repo_ws_url: "http://nexus.ala.org.au/service/local/artifact/maven/redirect?r=public&g={{groupId | default('au.org.ala')}}&a={{artifactId | default('')}}&v={{version | default('')}}&e={{packaging | default('war')}}&c={{classifier | default('')}}"
  when: use_gbif_nexus is not defined or use_gbif_nexus == "false"
  tags:
    - setfacts  

- name: using the GBIF nexus repository
  set_fact:
    maven_repo_ws_url: "http://repository.gbif.org/service/local/artifact/maven/redirect?r={{maven_release_dir | default('ala-release')}}&g={{groupId | default('au.org.ala')}}&a={{artifactId | default('')}}&v={{version | default('')}}&e={{packaging | default('war')}}&c={{classifier | default('')}}"
  when: use_gbif_nexus is defined and use_gbif_nexus == "true"
  tags:
    - setfacts  

- name: setup name index URLs
  set_fact:
    col_namematching_url: "{{aws_name_indexes_repo}}/col_namematching.tgz"
    merged_namematching_url: "{{aws_name_indexes_repo}}/merge_namematching.tgz"
    ala_namematching_url: "{{ala_name_indexes_repo}}/namematching-{{name_index_date}}.tgz"
  tags:
    - setfacts    

- name: setup name sources
  set_fact:
    ala_name_sources:
      - AFD
      - APNI
      - AusFungi
      - AusMoss
      - CAAB
      - CAAB-Identifier
      - CAAB-Vernacular
      - NZOR
      - CoL
      - ALA
  tags:
    - setfacts
