version: "{{ image_service_version | default('1.0.8') }}"
artifactId: "image-service"
image_service_url: "{{maven_repo_ws_url}}"
classifier: 'exec'
groupId: "au.org.ala"
packaging: "jar"
image_service_jar_url: "{{maven_repo_ws_url}}"
additional_proxy_pass:
  - { src: "/store", dest: "!" }