images_app: ala-images
version: "{{ images_version | default('LATEST') }}"
artifactId: "ala-images"
groupId: "au.org.ala"
images_url: "{{maven_repo_ws_url}}"

additional_proxy_pass:
  - { src: "/store", dest: "!" }