<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{font:normal 15px Roboto,Helvetica,"Helvetica Neue",Arial,sans-serif;}
        a {color:#C44D34;}
        a:hover, a:focus {color: #883524;}
    </style>
</head>
<body>
<div>
    <p>
        Your Atlas of Living Australia (ALA) download of "[filename]" on [date] didn't complete.
    </p>
    <p>
        <a href="[searchUrl]">Try your search again</a>
    </p>
    <p>
        If that doesn't work, consider adjusting the following:
    <ul>
        <li>Reducing the number of records in the results</li>
        <li>Simplifying your search filters, e.g. fewer taxa</li>
        <li>If using a custom area (WKT), try simplifying the boundary</li>
    </ul>
    <p>
        If the problem persists, forward this email to <a href="mailto:support@ala.org.au">support@ala.org.au</a> and we will investigate the cause.
    </p>
    <p>
        Download ID: [uniqueId]
    </p>
    <p>
        Your successful downloads can be found at: <a href="https://doi.ala.org.au/myDownloads">https://doi.ala.org.au/myDownloads</a>
    </p>
</div>
</body>
</html>
