- include: ../../common/tasks/setfacts.yml

- include: ../../apache_vhost/tasks/main.yml context_path='{{ spatial_service_context_path }}' hostname='{{ spatial_service_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - spatial-service
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    hostname: "{{ spatial_service_hostname }}"
    context_path: "{{ spatial_service_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - spatial-service
  when: webserver_nginx

- name: Add proxy paths for grandfathered routes
  include_role:
    name: nginx_vhost
  vars:
    appname: "spatial-service"
    hostname: "{{ spatial_service_hostname }}"
    context_path: "{{ spatial_service_context_path }}"
    nginx_paths:
      - path: "{{ spatial_hub_context_path }}files"
        is_proxy: false
        alias: "{{ data_dir }}/ala/runtime/files/"
      - path: "/alaspatial"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:8080{{spatial_service_context_path}}"
      - path: "/layers-service"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:8080{{spatial_service_context_path}}"
      - path: "/layers"
        is_proxy: false
        rewrite: "{{spatial_service_context_path}}/layers/index"
      - path: "/layers/more"
        is_proxy: false
        rewrite: "{{spatial_service_context_path}}/view/more"
  tags:
    - nginx_vhost
    - deploy
    - spatial-service
  when: webserver_nginx

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ spatial_service_war_url }}' context_path='{{ spatial_service_context_path }}' hostname='{{ spatial_service_hostname }}'
  tags:
    - deploy
    - tomcat_vhost
    - spatial-service
    - spatial-service-deploy

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/spatial-service/config"
    - "{{data_dir}}/ala/data/runtime/files"
    - "{{data_dir}}/spatial-data"
    - "{{data_dir}}/spatial-data/uploads"
    - "{{data_dir}}/spatial-data/public"
    - "{{data_dir}}/spatial-data/private"
  tags:
    - spatial-service
    - spatial-service-config

- name: copy all config.yml
  template: src=spatial-service-config.yml dest={{data_dir}}/spatial-service/config/spatial-service-config.yml
  tags:
    - config
    - spatial-service
    - spatial-service-config

- name: copy all log4j.properties
  template: src=log4j.properties dest={{data_dir}}/spatial-service/config/log4j.properties
  tags:
    - config
    - spatial-service
    - spatial-service-config

- name: set data ownership
  file: path={{data_dir}}/ala/data/ owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify: 
    - restart tomcat
  tags:
    - config
    - spatial-service
    - spatial-service-config
