- name: Install ClamAV and ClamAV Daemon
  apt:
    name:
      - clamav
      - clamav-daemon
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"
  tags:
    - clamav

- name: Install ClamAV and ClamAV Daemon (RHEL-based)
  yum:
    name:
      - clamav
      - clamav-update
      - clamav-scanner-systemd
    state: present
  when: ansible_os_family == "RedHat"
  tags:
    - clamav


- name: Ensure freshclam.conf exists
  copy:
    dest: /etc/clamav/freshclam.conf
    content: |
      DatabaseOwner clamav
      UpdateLogFile /var/log/clamav/freshclam.log
      LogTime yes
      LogVerbose yes
      DatabaseDirectory /var/lib/clamav
      DNSDatabaseInfo current.cvd.clamav.net
      DatabaseMirror database.clamav.net
      ConnectTimeout 30
      ReceiveTimeout 30
      MaxAttempts 5
      ScriptedUpdates yes
      Checks 12
    owner: root
    group: root
    mode: 0644
  tags:
    - clamav


- name: Ensure clamd.conf exists
  copy:
    dest: /etc/clamav/clamd.conf
    content: |
      LogFile /var/log/clamav/clamd.log
      LogTime yes
      LogVerbose yes
      PidFile /var/run/clamav/clamd.pid
      DatabaseDirectory /var/lib/clamav
      LocalSocket /var/run/clamav/clamd.ctl
      FixStaleSocket yes
      TCPSocket 3310
      TCPAddr 127.0.0.1
    owner: root
    group: root
    mode: 0644
  tags:
    - clamav

- name: add configuration file to freshclam service
  lineinfile:
    path: /lib/systemd/system/clamav-freshclam.service
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    create: yes
  loop:
    - { regexp: '^ExecStart=', line: 'ExecStart=/usr/bin/freshclam --config-file=/etc/clamav/freshclam.conf -d --foreground=true' }
  notify: restart clamav-freshclam
  tags:
    - clamav

- name: run clamav-daemon with above configuration file
  lineinfile:
    path: /lib/systemd/system/clamav-daemon.service
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    create: yes
  loop:
    - { regexp: '^ExecStart=', line: 'ExecStart=/usr/sbin/clamd -c /etc/clamav/clamd.conf --foreground=true' }
  notify: restart clamav-daemon.service
  tags:
    - clamav

# tcp port is disabled by default, so we need to enable it
- name: Add tcp port to clamav daemon socket configuration
  lineinfile:
    path: /lib/systemd/system/clamav-daemon.socket
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    create: yes
  loop:
    - { regexp: '^#?ListenStream=1024', line: 'ListenStream=127.0.0.1:3310' }
  notify:
    - stop clamav-daemon
    - daemon-reload
    - restart clamav-daemon.socket
  tags:
    - clamav

- name: Reload systemd daemon
  systemd:
    daemon_reload: yes
  become: yes
  tags:
    - clamav

- name: Stop clamav-daemon
  systemd:
    name: clamav-daemon.service
    state: stopped
  become: yes
  tags:
    - clamav


- name: Restart clamav-daemon socket
  systemd:
    name: clamav-daemon.socket
    state: restarted
  become: yes
  tags:
    - clamav


- name: Restart clamav-daemon service
  systemd:
    name: clamav-daemon.service
    state: restarted
  become: yes
  tags:
    - clamav


- name: Enable and start freshclam service
  service:
    name: clamav-freshclam
    state: restarted
    enabled: yes
  tags:
    - clamav