---
# Generate configuration files for services in docker-common deployment
# This reuses the configuration generation tasks from each service role
# without executing deployment tasks

# Collectory configuration
- name: Generate collectory configuration
  when: "'collectory' in services_enabled"
  tags:
    - always  # Always run these tasks, they're essential
  block:
    - name: Include collectory setfacts
      include_tasks: "{{ playbook_dir }}/roles/common/tasks/setfacts.yml"

    - name: Set collectory data owner user
      set_fact:
        collectory_data_owner_user: "{{ tomcat_user | default('tomcat') }}"

    - name: Ensure collectory target directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      with_items:
        - "{{ collectory_data_dir }}"
        - "{{ collectory_data_dir }}/config"
        - "{{ collectory_data_dir }}/upload/tmp"
        - "{{ collectory_data_dir }}/taxa/data"
        - "{{ collectory_data_dir }}/data"
        - "{{ data_dir }}/mysql"
        - "{{ data_dir }}/mysql/init"

    - name: Copy MySQL collectory initialization script
      copy:
        src: "{{ playbook_dir }}/../docker/mysql/init/01-collectory.sh"
        dest: "{{ data_dir }}/mysql/init/01-collectory.sh"
        mode: '0755'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"

    - name: Copy collectory data assets if they exist
      copy:
        src: "{{ item }}"
        dest: "{{ collectory_data_dir }}"
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      with_fileglob:
        - "{{ playbook_dir }}/roles/collectory/files/data/config/*"
        - "{{ playbook_dir }}/roles/collectory/files/data/data/*"
      failed_when: false

    - name: Generate collectory-config.properties from template
      template:
        src: "{{ playbook_dir }}/roles/collectory/templates/config/collectory-config.properties"
        dest: "{{ collectory_data_dir }}/config/{{ collectory_app | default('generic-collectory') }}-config.properties"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"

    - name: Generate collectory logback.xml
      template:
        src: "{{ playbook_dir }}/roles/collectory/templates/logback.xml"
        dest: "{{ collectory_data_dir }}/config/logback.xml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"

# Auth services configuration (CAS ecosystem)
- name: Generate auth services configuration
  when: "'cas' in services_enabled or groups['cas-servers'] is defined"
  tags:
    - always
  block:
    - name: Include common setfacts for auth services
      include_tasks: "{{ playbook_dir }}/roles/common/tasks/setfacts.yml"

    - name: Ensure CAS target directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      with_items:
        - "{{ data_dir }}/cas"
        - "{{ data_dir }}/cas/config"
        - "{{ data_dir }}/cas/data"
        - "{{ data_dir }}/userdetails"
        - "{{ data_dir }}/userdetails/config"
        - "{{ data_dir }}/userdetails/data"
        - "{{ data_dir }}/apikey"
        - "{{ data_dir }}/apikey/config"
        - "{{ data_dir }}/apikey/data"
        - "{{ data_dir }}/cas-management"
        - "{{ data_dir }}/cas-management/config"
        - "{{ data_dir }}/cas-management/data"
        - "{{ data_dir }}/mongodb"
        - "{{ data_dir }}/mongodb/init"

    - name: Copy MongoDB initialization scripts
      copy:
        src: "{{ playbook_dir }}/../docker/mongodb/init/"
        dest: "{{ data_dir }}/mongodb/init/"
        mode: '0755'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      when: mongodb_root_password is defined

    - name: Copy MySQL auth initialization script
      copy:
        src: "{{ playbook_dir }}/../docker/mysql/init/02-auth-services.sh"
        dest: "{{ data_dir }}/mysql/init/02-auth-services.sh"
        mode: '0755'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      when: mysql_root_password is defined
      failed_when: false

    - name: Generate CAS application.yml
      template:
        src: "{{ playbook_dir }}/roles/cas5/templates/application.yml"
        dest: "{{ data_dir }}/cas/config/application.yml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      when: cas_version is defined
      failed_when: false

    - name: Generate userdetails config
      template:
        src: "{{ playbook_dir }}/roles/userdetails/templates/userdetails-config.properties"
        dest: "{{ data_dir }}/userdetails/config/userdetails-config.properties"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      when: userdetails_version is defined
      failed_when: false

    - name: Generate apikey config
      template:
        src: "{{ playbook_dir }}/roles/apikey/templates/apikey-config.properties"
        dest: "{{ data_dir }}/apikey/config/apikey-config.properties"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      when: apikey_version is defined
      failed_when: false

    - name: Generate cas-management config
      template:
        src: "{{ playbook_dir }}/roles/cas-management/templates/application.yml"
        dest: "{{ data_dir }}/cas-management/config/application.yml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      when: cas_management_version is defined
      failed_when: false

# Species List configuration
- name: Generate species-list configuration
  when: "'species-list' in services_enabled or groups['species-list'] is defined"
  tags:
    - always
  block:
    - name: Ensure species-list target directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      with_items:
        - "{{ data_dir }}/species-list"
        - "{{ data_dir }}/species-list/config"
        - "{{ data_dir }}/species-list/data"
        - "{{ data_dir }}/species-list/upload"

    - name: Copy MySQL species-list initialization script
      copy:
        src: "{{ playbook_dir }}/../docker/mysql/init/03-species-list.sh"
        dest: "{{ data_dir }}/mysql/init/03-species-list.sh"
        mode: '0755'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      when: mysql_root_password is defined
      failed_when: false

    - name: Generate species-list config
      template:
        src: "{{ playbook_dir }}/roles/species-list/templates/specieslist-config.properties"
        dest: "{{ data_dir }}/species-list/config/specieslist-config.properties"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      when: species_list_version is defined
      failed_when: false

# Nginx vhost configuration for all services
# Reuses nginx_vhost role from each service without duplicating code
- name: Generate nginx vhost configurations
  when: services_enabled | length > 0
  tags:
    - always
    - nginx_vhost
  block:
    - name: Set nginx configuration directory
      set_fact:
        nginx_conf_dir: "{{ data_dir }}/nginx"
        nginx_vhost_path: "{{ data_dir }}/nginx/sites-available"
        webserver_nginx: true
        ssl: "{{ ssl | default(true) }}"
        force_https: "{{ force_https | default(true) }}"
        nginx_vhost_fragments_to_clear_no_warning: true

    - name: Ensure nginx directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      with_items:
        - "{{ nginx_conf_dir }}"
        - "{{ nginx_conf_dir }}/sites-available"
        - "{{ nginx_conf_dir }}/conf.d"
        - "{{ nginx_conf_dir }}/vhost_fragments"

    - name: Create sites-enabled as symlink to conf.d
      file:
        src: "{{ nginx_conf_dir }}/conf.d"
        dest: "{{ nginx_conf_dir }}/sites-enabled"
        state: link
        force: yes

    - name: Generate collectory nginx vhost
      include_role:
        name: nginx_vhost
      vars:
        appname: "collectory"
        hostname: "{{ collectory_hostname }}"
        context_path: "{{ collectory_context_path | default('/collectory') }}"
        nginx_upstream_host: "collectory"
        nginx_upstream_port: 8080
      when: "'collectory' in services_enabled"

    - name: Generate CAS nginx vhost
      include_role:
        name: nginx_vhost
      vars:
        appname: "cas"
        hostname: "{{ cas_hostname }}"
        context_path: "/cas"
        nginx_upstream_host: "cas"
        nginx_upstream_port: 8080
      when: "'cas' in services_enabled or groups['cas-servers'] is defined"

    - name: Generate userdetails nginx vhost
      include_role:
        name: nginx_vhost
      vars:
        appname: "userdetails"
        hostname: "{{ userdetails_hostname }}"
        context_path: "/userdetails"
        nginx_upstream_host: "userdetails"
        nginx_upstream_port: 8080
      when: "'cas' in services_enabled or groups['cas-servers'] is defined"

    - name: Generate apikey nginx vhost
      include_role:
        name: nginx_vhost
      vars:
        appname: "apikey"
        hostname: "{{ apikey_hostname }}"
        context_path: "/apikey"
        nginx_upstream_host: "apikey"
        nginx_upstream_port: 8080
      when: "'cas' in services_enabled or groups['cas-servers'] is defined"

    - name: Generate cas-management nginx vhost
      include_role:
        name: nginx_vhost
      vars:
        appname: "cas-management"
        hostname: "{{ cas_management_hostname }}"
        context_path: "/cas-management"
        nginx_upstream_host: "cas-management"
        nginx_upstream_port: 8080
      when: "'cas' in services_enabled or groups['cas-servers'] is defined"

    - name: Generate species-list nginx vhost
      include_role:
        name: nginx_vhost
      vars:
        appname: "specieslist"
        hostname: "{{ specieslist_hostname }}"
        context_path: "/specieslist"
        nginx_upstream_host: "species-list"
        nginx_upstream_port: 8080
      when: "'species-list' in services_enabled or groups['species-list'] is defined"

# Gatus health monitoring configuration
# Reuses gatus role templates to generate endpoint checks
- name: Generate gatus monitoring configuration
  when: "'gatus' in services_enabled or gatus_enabled | default(true)"
  tags:
    - always
    - gatus
  block:
    - name: Set gatus variables
      set_fact:
        gatus_config_dir: "{{ data_dir }}/gatus/config"
        gatus_data_dir: "{{ data_dir }}/gatus/data"
        gatus_interval: "1m"

    - name: Ensure gatus directories exist
      file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      with_items:
        - "{{ gatus_config_dir }}"
        - "{{ gatus_data_dir }}"

    - name: Generate main gatus config
      template:
        src: "{{ playbook_dir }}/roles/gatus/templates/config.yaml"
        dest: "{{ gatus_config_dir }}/config.yaml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"

    - name: Generate collectory health check
      template:
        src: gatus-endpoint.yaml.j2
        dest: "{{ gatus_config_dir }}/collectory.yaml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      vars:
        endpoint_name: "collectory"
        endpoint_url: "http://collectory:8080/collectory/actuator/health"
        endpoint_group: "core-services"
      when: "'collectory' in services_enabled"

    - name: Generate CAS health check
      template:
        src: gatus-endpoint.yaml.j2
        dest: "{{ gatus_config_dir }}/cas.yaml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      vars:
        endpoint_name: "cas"
        endpoint_url: "http://cas:8080/cas/status"
        endpoint_group: "auth-services"
      when: "'cas' in services_enabled or groups['cas-servers'] is defined"

    - name: Generate userdetails health check
      template:
        src: gatus-endpoint.yaml.j2
        dest: "{{ gatus_config_dir }}/userdetails.yaml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      vars:
        endpoint_name: "userdetails"
        endpoint_url: "http://userdetails:8080/userdetails/"
        endpoint_group: "auth-services"
      when: "'cas' in services_enabled or groups['cas-servers'] is defined"

    - name: Generate apikey health check
      template:
        src: gatus-endpoint.yaml.j2
        dest: "{{ gatus_config_dir }}/apikey.yaml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      vars:
        endpoint_name: "apikey"
        endpoint_url: "http://apikey:8080/apikey/"
        endpoint_group: "auth-services"
      when: "'cas' in services_enabled or groups['cas-servers'] is defined"

    - name: Generate cas-management health check
      template:
        src: gatus-endpoint.yaml.j2
        dest: "{{ gatus_config_dir }}/cas-management.yaml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      vars:
        endpoint_name: "cas-management"
        endpoint_url: "http://cas-management:8080/cas-management/"
        endpoint_group: "auth-services"
      when: "'cas' in services_enabled or groups['cas-servers'] is defined"

    - name: Generate species-list health check
      template:
        src: gatus-endpoint.yaml.j2
        dest: "{{ gatus_config_dir }}/species-list.yaml"
        mode: '0644'
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
      vars:
        endpoint_name: "species-list"
        endpoint_url: "http://species-list:8080/specieslist/"
        endpoint_group: "core-services"
      when: "'species-list' in services_enabled or groups['species-list'] is defined"

- name: Fix ownership of configuration and nginx files (user-relevant files only)
  shell: |
    # Fix configuration directories and files
    for dir in collectory cas userdetails apikey cas-management species-list gatus mongodb; do
      if [ -d "{{ data_dir }}/$dir" ]; then
        chown -R {{ ansible_user_id }}:{{ ansible_user_gid }} "{{ data_dir }}/$dir"
      fi
    done
    
    # Fix nginx configuration
    if [ -d "{{ data_dir }}/nginx" ]; then
      chown -R {{ ansible_user_id }}:{{ ansible_user_gid }} "{{ data_dir }}/nginx"
    fi
    
    # Fix docker-compose.yml (generated config)
    if [ -f "{{ data_dir }}/docker-compose.yml" ]; then
      chown {{ ansible_user_id }}:{{ ansible_user_gid }} "{{ data_dir }}/docker-compose.yml"
    fi
    
    # Set correct permissions: dirs 755, config files 644
    find "{{ data_dir }}" \( -name "collectory" -o -name "cas" -o -name "userdetails" -o -name "apikey" -o -name "cas-management" -o -name "species-list" -o -name "gatus" -o -name "nginx" -o -name "mongodb" \) -type d -exec chmod 0755 {} \;
    find "{{ data_dir }}" \( -path "*/collectory/*" -o -path "*/cas/*" -o -path "*/userdetails/*" -o -path "*/apikey/*" -o -path "*/cas-management/*" -o -path "*/species-list/*" -o -path "*/gatus/*" -o -path "*/nginx/*" -o -path "*/mongodb/*" \) -type f -exec chmod 0644 {} \;
  changed_when: false
  become: yes



