- include: ../../common/tasks/setfacts.yml
  tags:
    - cas

#
# Database configuration
#
- name: create user store database
  mysql_db: name={{ user_store_db_name }} state=present
  register: userdbschema
  tags:
    - cas
    - db

- name: create user store DB user
  mysql_user: name={{ user_store_db_username }} password={{ user_store_db_password }} priv=*.*:ALL state=present
  register: userdbuser
  tags:
    - cas
    - db
    - user_db

- name: copy transient files to tmp (schemas etc)
  copy: src={{item}} dest=/tmp
  with_items:
    - schema.sql
    - sp_get_user_attributes.sql
  when: userdbschema.changed
  tags:
    - cas
    - db
    - user_db
     
- name: create schema, stored procs and reference data
  mysql_db: name={{ user_store_db_name }} state=import target={{item}}
  with_items:
    - /tmp/schema.sql
    - /tmp/sp_get_user_attributes.sql
  when: userdbschema.changed
  tags:
    - cas
    - db
    - user_db

- name: create ticket registry database
  mysql_db: name={{ ticket_registry_db_name }} state=present
  register: ticketdbschema
  tags:
    - cas
    - db
    - ticket_db

- name: create ticket registry DB user
  mysql_user: name={{ ticket_registry_db_username }} password={{ ticket_registry_db_password }} priv=*.*:ALL state=present
  register: ticketdbuser
  tags:
    - cas
    - db
    - ticket_db


#
# Properties file configuration
#
- name: ensure data directory exists
  file: path={{data_dir}}/cas/config state=directory owner={{tomcat_user}} group={{tomcat_user}}
  tags:
    - cas
    - properties

- name: copy all template configs
  template: src=config/cas.properties dest={{data_dir}}/cas/config/cas.properties
  tags:
    - cas
    - properties

- name: set data ownership [all data is owned by tomcat]
  file: path={{data_dir}}/cas owner={{tomcat_user}} group={{tomcat_user}} recurse=true  
  tags:
    - cas
    - properties

- name: ensure ssl certificate directory exists (if required)
  file: path={{ ssl_certificate_server_dir }} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  tags:
    - cas
    - properties
    - apache_vhost

- name: copy SSL files (if required)
  copy: src={{item}} dest={{ssl_certificate_server_dir}}
  with_items:
    - "{{ssl_certificate_local_dir}}/{{ssl_cert_file}}"
    - "{{ssl_certificate_local_dir}}/{{ssl_key_file}}"
    - "{{ssl_certificate_local_dir}}/{{ssl_chain_file}}"
  tags:
    - cas
    - properties
    - apache_vhost

#
# WAR file deployment and virtual host configuration
#
- name: copy all template configs
  template: src=apache2.conf dest=/etc/apache2/sites-available/{{cas_hostname}}.conf
  tags:
    - cas
    - apache_vhost

- include: ../../apache_vhost/tasks/main.yml 
     context_path='{{ cas_context_path }}' 
     hostname='{{ cas_hostname }}' 
     ssl="true"
     ssl_cert_file='{{ssl_certificate_server_dir}}/{{ ssl_cert_file }}'
     ssl_key_file='{{ssl_certificate_server_dir}}/{{ ssl_key_file }}'
     ssl_chain_file='{{ssl_certificate_server_dir}}/{{ ssl_chain_file }}'
  tags:
    - cas
    - deploy
    - apache_vhost

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ cas_war_url }}' context_path='{{ cas_context_path }}' hostname='{{ cas_hostname }}'
  tags:
    - cas
    - deploy
    - tomcat_vhost

#
# Override the default memory settings for Tomcat to increase heap space and change the garbage collector
#
- name: Override default tomcat memory configuration
  lineinfile:
    dest={{tomcat_conf}}
    regexp="^JAVA_OPTS"
    line='JAVA_OPTS="{{tomcat_java_opts_override}}"'
  notify:
    - restart tomcat
  tags:
    - cas
    - deploy
    - tomcat
