- include_tasks: ../../common/tasks/setfacts.yml

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{logger_user}} group={{logger_user}}
  with_items:
    - "{{data_dir}}/logger-client/config"
  tags:
    - properties

- name: copy all config.properties
  template: src=logger-client.properties dest={{data_dir}}/logger-client/config/logger-client.properties
  tags:
    - properties
