- include: ../../common/tasks/setfacts.yml

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/logger-client/config"

- name: copy all config.properties
  template: src=logger-client.properties dest={{data_dir}}/logger-client/config/logger-client.properties
