---
version: '3.8'

services:

  collectory:
    image: atlasoflivingaustralia/collectory:9144d68
    volumes:
      - collectory-config:/data/collectory/config
      - collectory-data:/data/collectory/data
      - collectory-upload:/data/collectory/upload
{% if i18n_package_enabled | bool %}
      - i18n:/opt/atlas/i18n
      - i18n-custom:/var/opt/atlas/i18n
{% endif %}
    environment:
      TZ: {{ server_tz }}
      DOCKERIZE_OPTS: "-wait tcp://collectory_mysql:3306 -timeout 120s"
      # This does not work, we should improve the Dockerimage
      # MYSQL_HOST: collectory_mysql
{% if debug_docker_entrypoint is defined and debug_docker_entrypoint | bool %}
    entrypoint: ["tail", "-f", "/dev/null"]
    restart: "no"
{% endif %}
    expose:
      - 8080
    networks:
      collectory: {}
      la-internal:
        aliases:
          - {{ collectory_docker_host }}

  mysql:
    image: mysql:8.0-debian
    volumes:
      - mysql-data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    # In the future:
    # command: --default-authentication-plugin=caching_sha2_password
    environment:
      TZ: {{ server_tz }}
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
      MYSQL_USER: {{ collectory_db_user }}
      MYSQL_PASSWORD: {{ collectory_db_password }}
      MYSQL_DATABASE: collectory
    expose:
      - 3306
    networks:
      collectory: {}

networks:
  la-internal:
    external: true
  collectory:
    driver: overlay

volumes:
  mysql-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ collectory_docker_db_data_dir }}"

  collectory-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{ collectory_data_dir }}/config

  collectory-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{ collectory_data_dir }}/data

  collectory-upload:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{ collectory_data_dir }}/upload

  nginx-config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{ collectory_data_dir }}/nginx/conf.d

  nginx-available:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{ collectory_data_dir }}/nginx/sites-available

  nginx-enabled:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{ collectory_data_dir }}/nginx/sites-enabled

  i18n:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /opt/atlas/i18n

  i18n-custom:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/opt/atlas/i18n
