<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@2.40">
  <actions/>
  <description>Restart support docker containers. This will restart name service and sensitive data services.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.90">
    <script>nodeNames().each { nodeName -&gt;
    node(nodeName) {
      echo 'nodeName ' + nodeName
      sh 'sudo sh -c "docker kill $(docker ps -q)" || true'
      sh 'sudo sh -c "docker rm $(docker ps -a -q)" || true'      
      sh 'sudo sh -c "docker rmi $(docker images -q)" || true' 
      sh 'sudo service docker stop'
      sh 'sudo service docker start'
      sh 'sudo service ala-name-service start'
      sh 'sudo service ala-sensitive-data-service start'
    }
}
//Services will take approx 60 to download images and restart
sleep(time:60,unit:"SECONDS")

// This method collects a list of Node names from the current Jenkins instance 
@NonCPS def nodeNames() { 
  return jenkins.model.Jenkins.instance.nodes.collect { node -&gt; node.name } 
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>