- include: ../../common/tasks/setfacts.yml
  tags:
    - pigeonhole

- name: ensure target directories exist data subdirectories etc.
  file: path={{item}} state=directory owner={{tomcat_user}}  group={{tomcat_user}}  recurse=true
  with_items:
    - "{{data_dir}}/pigeonhole"
    - "{{data_dir}}/pigeonhole/config"
    - "{{data_dir}}/pigeonhole/upload"
  tags:
    - pigeonhole

- name: copy all config.properties
  template: src=pigeonhole-config.properties dest={{data_dir}}/pigeonhole/config/pigeonhole-config.properties
  tags:
    - pigeonhole
    - properties

- include: ../../apache_vhost/tasks/main.yml context_path='{{ pigeonhole_context_path }}' hostname='{{ pigeonhole_hostname }}'
  tags:
    - pigeonhole
    - apache_vhost
    - deploy

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ pigeonhole_war_url }}' context_path='{{ pigeonhole_context_path }}' hostname='{{ pigeonhole_hostname }}'
  tags:
    - pigeonhole
    - tomcat_vhost
    - deploy
