---
image:
    repository: "{{ sensitive_data_service_docker_repository | default('atlasoflivingaustralia/ala-sensitive-data-service') }}"
    tag: "{{ sensitive_data_service_docker_tag | default('1.1.1-20210811-3') }}"

dnsName: "{{ sensitive_data_service_hostname }}"