---
version: '3.8'

services:

  war:
    # image: atlasoflivingaustralia/ala-bie:latest
    image: livingatlases/ala-bie-hub:3.0.1
    environment:
      TZ: {{ server_tz }}
    expose:
      - 8080
    networks:
      la_internal:
    volumes:
      - conf:{{ data_dir }}/{{ bie_hub }}
      - i18n:/opt/atlas/i18n
      - i18n_custom:/var/opt/atlas/i18n
{% if debug_docker_entrypoint is defined and debug_docker_entrypoint | bool %}
    entrypoint: ["tail", "-f", "/dev/null"]
    restart: "no"
{% endif %}

networks:
  la_internal:
    external: true

volumes:

  conf:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{ data_dir }}/{{ bie_hub }}

  i18n:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /opt/atlas/i18n

  i18n_custom:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /var/opt/atlas/i18n

