- include: ../../common/tasks/setfacts.yml

- name: download from maven repo
  command: "wget {{sampling_service_war_url}} --output-document={{tomcat_webapps}}sampling-service.war"

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/layers-store/config"
    - "{{data_dir}}/layers-store/batch_requests"
    - "{{data_dir}}/layers-service/config"
    - "{{data_dir}}/ala/data/layers/ready/shape"
    - "{{data_dir}}/ala/data/layers/ready/shape_diva"
    - "{{data_dir}}/ala/data/layers/ready/diva"

- name: copy all config.properties
  template: src=config/layers-store-config.properties dest={{data_dir}}/layers-store/config/layers-store-config.properties

- name: copy all config.properties
  template: src=config/layers-service-config.properties dest={{data_dir}}/layers-service/config/layers-service-config.properties

- name: copy all log4j.properties
  template: src=config/log4j.properties dest={{data_dir}}/layers-store/config/log4j.properties

- name: copy all log4j.properties
  template: src=config/log4j.properties dest={{data_dir}}/layers-service/config/log4j.properties

- name: copy all data-config.xml
  template: src=config/data.xml dest={{data_dir}}/layers-service/config/layers-service-data-config.xml

- name: copy all data-config.xml
  template: src=config/data.xml dest={{data_dir}}/layers-store/config/layers-store-data-config.xml

- name: set data ownership
  file: path={{data_dir}}/layers-store owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify: 
    - restart tomcat

- name: set data ownership
  file: path={{data_dir}}/layers-service owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify:
    - restart tomcat

- name: set data ownership
  file: path={{data_dir}}/ala owner={{tomcat_user}} group={{tomcat_user}} recurse=true

- debug: msg="To finish installation copy the layer files used by the primary layers-service into {{ data_dir }}/ala/data/layers/ready for the subdirectories diva, shape and shape_diva"

