- include_tasks: ../../common/tasks/setfacts.yml
  tags:
    - sds
    - properties

- include_tasks: ../../apache_vhost/tasks/main.yml
  vars:
    context_path: '{{ sds_context_path }}'
    hostname: '{{ sds_hostname }}'
  tags:
    - sds
    - apache_vhost
    - deploy
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "sds"
    hostname: "{{ sds_hostname }}"
    context_path: "{{ sds_context_path }}"
    nginx_paths:
      - path: "~* /location/"
        sort_label: "1"
        disable: "{{ disable_location_service | default('False') }}"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:8080{{ sds_context_path }}"
      - path: "{{ sds_context_path }}"
        sort_label: "2"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:8080{{ sds_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - sds
  when: webserver_nginx | bool 

- include_tasks: ../../tomcat_deploy/tasks/main.yml
  vars:
    war_url: '{{ sds_webapp_url }}'
    context_path: '{{ sds_context_path }}'
    hostname: '{{ sds_hostname }}'
  when: sds_webapp_local_build is not defined
  tags:
    - sds
    - tomcat_vhost
    - deploy

- include_tasks: ../../tomcat_deploy/tasks/main.yml
  vars:
    war_local_build: '{{ sds_webapp_local_build }}'
    context_path: '{{ sds_context_path }}'
    hostname: '{{ sds_hostname }}'
  when: sds_webapp_local_build is defined
  tags:
    - sds
    - tomcat_vhost
    - deploy


- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/sds/config"
    - "{{data_dir}}/sds/data"
    - "{{data_dir}}/lucene"
  tags:
    - sds
    - properties

- name: Copy sensitivity categories XML
  copy: src="{{ sensitivity_categories_file | default ('sensitivity-categories.xml') }}" dest="{{data_dir}}/sds/sensitivity-categories.xml"
  tags:
    - sds
    - properties

- name: Copy sensitivity zones XML
  copy: src="{{ sensitivity_zones_file | default ('sensitivity-zones.xml') }}" dest="{{data_dir}}/sds/sensitivity-zones.xml"
  tags:
    - sds
    - properties

- name: Copy legacy properties file
  copy: src="sds-config.properties" dest="{{data_dir}}/sds/sds-config.properties"
  tags:
    - sds
    - properties

- name: copy logback config
  template: src=logback.xml dest={{data_dir}}/sds/config/logback.xml
  tags:
    - sds
    - properties

- name: create config.properties from template
  template: src="sds-config.properties" dest={{data_dir}}/sds/config/sds-config.properties
  tags:
    - sds
    - properties
    - properties-file

- name: set data ownership
  file: path={{data_dir}}/sds owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify:
    - restart tomcat
  tags:
    - sds
    - properties
