, it looks like - include: ../../common/tasks/setfacts.yml

- name: ensure lucene sources directory exists
  file: path=/data/lucene/sources state=directory

- name: ensure nameindexer directory exists
  file: path=/usr/lib/nameindexer/ state=directory

- name: Download Catalogue of Life 2012
  get_url: url={{ name_indexes_repo }}/dwca-col.zip dest={{data_dir}}/lucene/sources/dwca-col.zip
  tags:  
    - "data_archives"     

- name: Download Catalogue of Life 2012 (Mammals - for testing purposes)
  get_url: url={{ name_indexes_repo }}/dwca-col-mammals.zip dest={{data_dir}}/lucene/sources/dwca-col-mammals.zip
  tags:  
    - "data_archives"     

- name: Download IRMNG homonyms
  get_url: url={{ name_indexes_repo }}/IRMNG_DWC_HOMONYMS.zip dest={{data_dir}}/lucene/sources/IRMNG_DWC_HOMONYMS.zip
  tags:  
    - "data_archives"    

- name: Download Catalogue of Life 2012 Vernacular names
  get_url: url={{ name_indexes_repo }}/col_vernacular.txt.zip dest={{data_dir}}/lucene/sources/col_vernacular.txt.zip
  tags:  
  - "data_archives"    

- name: Unstall unzip (Debian only)
  apt: pkg=unzip state=present
  when: ansible_os_family == "Debian"

- name: Unzip COL data archives
  shell: "unzip -u {{data_dir}}/lucene/sources/dwca-col.zip -d {{data_dir}}/lucene/sources/"
  tags:  
    - "data_archives"    

- name: Unzip COL data archives
  shell: "unzip -u {{data_dir}}/lucene/sources/dwca-col-mammals.zip -d {{data_dir}}/lucene/sources/"
  tags:  
    - "data_archives"    

- name: Unzip IRMNG data archives
  shell: "unzip -u {{data_dir}}/lucene/sources/IRMNG_DWC_HOMONYMS.zip -d {{data_dir}}/lucene/sources/IRMNG_DWC_HOMONYMS"
  tags:  
    - "data_archives"    

- name: Unzip common names data archives
  shell: "unzip -u {{data_dir}}/lucene/sources/col_vernacular.txt.zip -d {{data_dir}}/lucene/sources/"
  tags:  
    - "data_archives"     

# - name: Upload from local M2 name matching distribution zip (LOCAL)
#   copy: src="/Users/mar759/.m2/repository/au/org/ala/ala-name-matching/2.1-SNAPSHOT/ala-name-matching-2.1-SNAPSHOT-distribution.zip" dest="/usr/lib/nameindexer/nameindexer.zip" force=yes
#   tags:  
#     - "nameindexer"  

- name: Download name matching distribution zip
  get_url: url="{{ ala_names_distribution_url }}" dest="/usr/lib/nameindexer/nameindexer.zip" force=yes
  tags:  
    - "nameindexer"  

- name: install unzip (Debian only)
  apt: pkg=unzip state=present
  when: ansible_os_family == "Debian"

- name: Unzip distribution zip file
  shell: "unzip -u /usr/lib/nameindexer/nameindexer.zip -d /usr/lib/nameindexer/"
  tags:
    - "nameindexer"

- name: copy logging config
  copy: src=lib/log4j.xml dest=/usr/lib/nameindexer/log4j.xml

- name: create the templated nameindexer.sh
  template: src=nameindexer.sh dest=/usr/lib/nameindexer/nameindexer mode=777
  tags:
    - "nameindexer"

- name: clean nameindexer existing extract
  shell: "mv /usr/lib/nameindexer/ala-name-matching-{{ala_names_version}}.jar /usr/lib/nameindexer/nameindexer.jar"
  ignore_errors: yes  
  tags:
    - "nameindexer"

- name: create nameindexer executable
  shell: "cat /usr/lib/nameindexer/nameindexer.jar >> /usr/lib/nameindexer/nameindexer"
  ignore_errors: yes  
  tags:
    - "nameindexer"  

- name: make the symlink for /usr/bin/nameindexer 
  file: src=/usr/lib/nameindexer/nameindexer dest=/usr/bin/nameindexer state=link
  tags:
    - "nameindexer"  

# - name: Clean up artefacts
#   shell: "rm /usr/lib/nameindexer/nameindexer.jar /usr/lib/nameindexer/nameindexer.zip"
#   tags:  
#     - "data_archives"   

