- include: ../../common/tasks/setfacts.yml

- name: install Postgis and GDAL Execs
  apt: pkg={{ item }} state=present update_cache=yes
  with_items:
    - postgis
    - gdal-bin
    - layers-service    

- name: copy transient files to tmp (schemas etc)
  copy: src={{item}} dest=/tmp
  with_items:
    - layersdb.sql
    - stored_procs.sql    
  tags:
    - createdb
    - layers-service

- name: create layersdb database
  postgresql_db: name={{ layers_db_name | default('layersdb') }}
  sudo_user: postgres
  sudo: True
  register: dbschema
  tags:
    - db
    - layers-service

- name: create layersdb database user
  postgresql_user: db={{ layers_db_name }} name={{ layers_db_username }} password={{ layers_db_password }} priv=ALL state=present
  sudo_user: postgres
  sudo: True
  tags:
    - db
    - layers-service

- name: setup the DB table and sequences
  command: "psql -d {{ layers_db_name | default('layersdb') }} -a -f /tmp/layersdb.sql"
  sudo_user: postgres
  sudo: True  
  when: dbschema.changed  
  tags:
    - db
    - layers-service    

- name: setup stored procedures - WARNING!!! this isnt idempotent yet
  command: "psql -d {{ layers_db_name | default('layersdb') }} -a -f /tmp/stored_procs.sql"
  sudo_user: postgres
  sudo: True  
  when: dbschema.changed    
  tags:
    - db
    - layers-service    

- name: setup the DB user password
  command: "psql -d {{ layers_db_name | default('layersdb') }} -c \"ALTER USER {{ layers_db_username }} WITH PASSWORD '{{ layers_db_password }}' \""
  sudo_user: postgres
  sudo: True  
  when: dbschema.changed    
  tags:
    - db
    - layers-service    

- include: ../../apache_vhost/tasks/main.yml context_path='{{ layers_service_context_path }}' hostname='{{ layers_service_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - layers-service    

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ layers_service_war_url }}' context_path='{{ layers_service_context_path }}' hostname='{{ layers_service_hostname }}'
  tags:
    - deploy
    - tomcat_vhost
    - layers-service    

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/layers-store/config"
    - "{{data_dir}}/layers-store/batch_requests"
    - "{{data_dir}}/layers-service/config"
    - "{{data_dir}}/ala/data/layers/ready/shape"
    - "{{data_dir}}/ala/data/layers/ready/shape_diva"
    - "{{data_dir}}/ala/data/layers/ready/diva"
  tags:
    - layers-service        

- name: copy all config.properties
  template: src=config/layers-store-config.properties dest={{data_dir}}/layers-store/config/layers-store-config.properties
  tags:
    - layers-service        

- name: copy all config.properties
  template: src=config/layers-service-config.properties dest={{data_dir}}/layers-service/config/layers-service-config.properties
  tags:
    - layers-service          

- name: copy all log4j.properties
  template: src=config/log4j.properties dest={{data_dir}}/layers-store/config/log4j.properties
  tags:
    - layers-service        

- name: copy all log4j.properties
  template: src=config/log4j.properties dest={{data_dir}}/layers-service/config/log4j.properties
  tags:
    - layers-service          

- name: copy all data-config.xml
  template: src=config/data.xml dest={{data_dir}}/layers-service/config/layers-service-data-config.xml
  tags:
    - layers-service          

- name: copy all data-config.xml
  template: src=config/data.xml dest={{data_dir}}/layers-store/config/layers-store-data-config.xml
  tags:
    - layers-service         

- name: set data ownership
  file: path={{data_dir}}/layers-store owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify: 
    - restart tomcat
  tags:
    - layers-service            

- name: set data ownership
  file: path={{data_dir}}/layers-service owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify:
    - restart tomcat
  tags:
    - layers-service        

- name: set data ownership
  file: path={{data_dir}}/ala owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  tags:
    - layers-service         

- debug: msg="To finish installation copy the layer files used by the primary layers-service into {{ data_dir }}/ala/data/layers/ready for the subdirectories diva, shape and shape_diva"
