<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ header_and_footer_baseurl | default('https://www.ala.org.au/commonui-bs3-2019') }}{{ css_styles | default('/css/ala-styles.css') }}" rel="stylesheet"
          media="screen,print"/>
    <!--<title>Title</title>-->
{% if ala_download_css is defined and ala_download_css | bool == True %}
    <style>
        /* The only override we need from ala-styles.css */

        body {
            padding-top: 0px;
        }
    </style>
{% endif %}
</head>
<body>
When using this dataset please use the following citation:<br><br>
<cite>{{ orgNameLong | default('Atlas of Living Australia') }} occurrence download at <a href='[searchUrl]'>[searchUrl]</a> accessed on [date].</cite> <br><br>
Data contributed by the following providers:<br>
[dataProviders]<br>
More information can be found at <a href="{{ citing_the_atlas | default('https://support.ala.org.au/support/solutions/articles/6000261662-citing-the-ala') }}">citing the {{ orgNameShort | default('ALA') }}</a>.<br><br>
</body>
</html>
