---
- include: ../../common/tasks/setfacts.yml
  tags:
    - cassandra

- name: Include docker tasks
  include_tasks: docker-tasks.yml
  when: deployment_type == 'swarm'

- name: Include VM tasks
  include_tasks: vm-tasks.yml
  when: deployment_type == 'vm'
