# assets
version: "{{ user_details_version | default('LATEST') }}"
artifactId: "userdetails"
classifier: ''
packaging: "war"
groupId: "au.org.ala"
userdetails_war_url: "{{maven_repo_ws_url}}"

tomcat_java_opts_override: "{{ tomcat_java_opts_override_value | default('-Xmx4g -Xms2g -Xss256k -XX:+UseG1GC') }}"
