- include: ../../common/tasks/setfacts.yml
  tags:
    - deploy
    - biocollect

- name: set biocollect_user as default value
  set_fact:
    biocollect_user: "{{ (exec_jar) | ternary ('biocollect', 'tomcat')}}"
  tags:
    - biocollect
    - deploy


- name: add jar and service
  include_role:
    name: exec-jar
  vars:
    service_name: "biocollect"
    jar_url: '{{ biocollect_artifact_url }}'
  tags:
    - deploy
    - service
    - biocollect
  when: exec_jar

#
# External configuration properties file
#
- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{biocollect_user}} group={{biocollect_user}}
  with_items:
    - "{{data_dir}}/biocollect/config"
  tags:
    - properties
    - biocollect

- name: copy all config.properties
  template: src=biocollect-config.properties dest={{data_dir}}/biocollect/config/biocollect-config.properties
  tags:
    - properties
    - biocollect

- name: copy logback config
  template:
    src: logback.groovy
    dest: "{{data_dir}}/biocollect/config/logback.groovy"
    owner: biocollect
    group: biocollect
  notify:
    - restart biocollect
  tags:
    - properties
    - biocollect

- name: ensure biocollect log directory exists
  file: path={{item}} state=directory owner={{biocollect_user}} group={{biocollect_user}}
  with_items:
    - "/var/log/atlas/biocollect"
  tags:
    - properties
    - biocollect
  when: exec_jar

- name: set biocollect log ownership
  file: path=/var/log/atlas/biocollect owner='{{biocollect_user}}' group='{{biocollect_user}}' recurse=true
  notify:
    - restart biocollect
  tags:
    - properties
    - biocollect
  when: exec_jar

- name: Copy config files to config directory
  copy: src=regions.json dest={{data_dir}}/biocollect/config/regions.json
  tags:
    - biocollect
    - properties

- name: set data ownership
  file: path={{data_dir}}/biocollect owner={{biocollect_user}} group={{biocollect_user}} recurse=true
  notify:
    - restart biocollect
  tags:
    - properties
    - biocollect

# WAR file deployment and virtual host configuration
#
- include: ../../apache_vhost/tasks/main.yml
    context_path='{{ biocollect_context_path }}'
    hostname='{{ biocollect_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - biocollect
  when: not webserver_nginx

- name: add nginx vhost if configured (no root rewrite)
  include_role:
    name: nginx_vhost
  vars:
    appname: "biocollect"
    hostname: "{{ biocollect_hostname }}"
    context_path: "{{ biocollect_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - biocollect
  when: webserver_nginx and not biocollect_rewrite_root | bool

- name: add nginx vhost if configured (root rewrite)
  include_role:
    name: nginx_vhost
  vars:
    appname: "biocollect"
    hostname: "{{ biocollect_hostname }}"
    context_path: "{{ biocollect_context_path }}"
    nginx_paths:
      - path: "= {{ biocollect_context_path | default('/') }}"
        is_proxy: false
        rewrite: "{{ biocollect_rewrite_root_url }}"
      - path: "{{ biocollect_context_path | default('/') }}"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:8080"
  tags:
    - nginx_vhost
    - deploy
    - biocollect
  when: webserver_nginx and biocollect_rewrite_root | bool

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ biocollect_war_url }}' context_path='{{biocollect_context_path}}' hostname='{{ biocollect_hostname }}'
  tags:
    - deploy
    - biocollect
  when: not exec_jar

