- include_tasks: ../../common/tasks/setfacts.yml
  tags:
    - timeseries

#
# External configuration properties file
#
- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/timeseries/config"
  tags:
    - properties
    - timeseries

- name: copy all config.properties
  template: src=timeseries-config.properties dest={{data_dir}}/timeseries/config/timeseries-config.properties force=yes
  tags:
    - properties
    - timeseries

- name: set data ownership
  file: path={{data_dir}}/timeseries owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify:
    - restart tomcat
  tags:
    - properties
    - timeseries

#
# WAR file deployment and virtual host configuration
#
- include_tasks: ../../apache_vhost/tasks/main.yml
  vars:
    context_path: '{{ timeseries_context_path }}'
    hostname: '{{ timeseries_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - timeseries
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "timeseries"
    hostname: "{{ timeseries_hostname }}"
    context_path: "{{ timeseries_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - timeseries
  when: webserver_nginx | bool 

- include_tasks: ../../tomcat_deploy/tasks/main.yml
  vars:
    war_url: '{{ timeseries_war_url }}'
    context_path: '{{timeseries_context_path}}'
    hostname: '{{ timeseries_hostname }}'
  tags:
    - deploy
    - tomcat_vhost
    - timeseries
