[Unit]
Description=ALA graphql service

[Service]
Restart=always
ExecStart=/usr/bin/graphql-service.sh start
ExecStop=/usr/bin/graphql-service.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target