---
- name: ensure target db directories exist
  file: path={{item}} state=directory mode='0755' owner={{docker_default_user | default(ansible_user_id)}} group={{docker_default_user | default(ansible_user_id)}}
  with_items:
    - "{{ collectory_docker_db_data_dir }}"
    - "{{ collectory_data_dir }}/docker/"
  run_once: true
  tags:
    - docker
    - docker-service

- name: Deploy collectory stack
  import_tasks: ../../docker-common/tasks/stack-create.yml
  vars:
    stack: la_collectory
    docker_compose_data_dir: "{{ collectory_data_dir }}/docker/"
