---
- include_tasks: ../../common/tasks/setfacts.yml
  tags:
    - properties
    - collectory
    - webapps
    - deploy
    - config
  when: deployment_type != 'k8s'

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{ collectory_data_dir }}"
    - "{{ collectory_data_dir }}/upload/tmp"
    - "{{ collectory_data_dir }}/taxa/data"
  tags:
    - properties
    - collectory
  when: deployment_type != 'k8s'

- name: copy all data assets
  copy: src={{item}} dest={{ collectory_data_dir }} owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - data/config
    - data/data
  tags:
    - properties
    - collectory
  when: deployment_type != 'k8s'

- name: copy all template configs
  template: src={{item}} dest={{ collectory_data_dir }}/config/{{ collectory_app | default('generic-collectory') }}-config.properties output_encoding=iso-8859-1
  with_items:
    - config/collectory-config.properties
  tags:
    - config
    - properties
    - collectory
  when: deployment_type != 'k8s'

- include_tasks: ../../apache_vhost/tasks/main.yml
  vars:
    context_path: '{{ collectory_context_path }}'
    hostname: '{{ collectory_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - collectory
    - webapps
  when: not webserver_nginx

- include_tasks: ../../docker-common/tasks/common.yml
  tags:
    - docker
  when: deployment_type == 'swarm'

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "collectory"
    hostname: "{{ collectory_hostname }}"
    context_path: "{{ collectory_context_path }}"
    nginx_upstream_host: "{{ collectory_docker_host | default('127.0.0.1') }}"
  tags:
    - nginx_vhost
    - deploy
    - collectory
  when: webserver_nginx and deployment_type != 'k8s'

- name: Include k8s tasks
  include_tasks: k8s-tasks.yml
  when: deployment_type == 'k8s'

- name: Include docker tasks
  include_tasks: docker-tasks.yml
  when: deployment_type == 'swarm'

- name: Include VM tasks
  include_tasks: vm-tasks.yml
  when: deployment_type == 'vm'
