- include: ../../common/tasks/setfacts.yml

- name: install mysql (RedHat)
  yum: name={{item}} state=present
  with_items:
    - mysql-server
    - MySQL-python
  tags:
    - packages 
  register: mysql_installed
  notify: 
    - restart mysql
  when: ansible_os_family == "RedHat"

- name: install mysql (Debian)
  apt: pkg={{item}} state=present
  with_items:
    - mysql-server
    - python-mysqldb
  tags:
    - packages 
  register: mysql_installed
  notify: 
    - restart mysql
  when: ansible_os_family == "Debian"

- name: warn about using the default root user password
  debug: msg="You are installing MySQL with a default root password of 'password'. Are you sure you want to do that? Specify a real password in your inventory file using the variable mysql_root_password."
  when: mysql_installed.changed and  mysql_root_password is not defined

- name: change root user password on first run
  mysql_user: name=root password={{ mysql_root_password | default('password') }} priv=*.*:ALL,GRANT host={{ item }}
  with_items:
    - "{{ ansible_hostname }}"
    - 127.0.0.1
    - ::1
    - localhost
  when: mysql_installed.changed

- name: delete anonymous MySQL user for the host
  mysql_user: user="" host="{{ansible_hostname}}" login_user="root" login_password={{ mysql_root_password | default('password') }} state="absent"
  when: mysql_installed.changed

- name: delete anyonmous MySQL user for localhost
  mysql_user: user="" login_user="root" login_password={{ mysql_root_password | default('password') }} state="absent"
  when: mysql_installed.changed

- name: drop test database
  mysql_db: name="test" login_user="root" login_password={{ mysql_root_password | default('password') }} state="absent"
  when: mysql_installed.changed

- name: create my.cnf file 
  template: src=my.cnf dest=/root/.my.cnf owner=root mode=0600
  when: mysql_installed.changed
