- name: "set facts"
  include_role:
    name: common
    tasks_from: setfacts
  tags:
    - oidc_keys_add

- name: validate client_id for {{ name }}
  assert:
    that: client_id is match('[a-f0-9]{36}')
    fail_msg: "Invalid client_id '{{ client_id }}' for '{{name}}' module."
  tags:
    - oidc_keys_add

- name: validate client_secret for {{ name }}
  assert:
    that: client_secret is match('[a-f0-9]{36}')
    fail_msg: "Invalid client_secret '{{ client_secret }}' for '{{name}}' module."
  tags:
    - oidc_keys_add

- name: ensure target directories exist
  file: path={{item}} state=directory owner=cas group=cas
  with_items:
    - "{{data_dir}}/cas-management/oidc-keys"
  when: app is defined and apikey is defined 
  tags:
    - oidc_keys_add

- name: copy js script to insert clientId/clientSecret for {{ name }}
  template: src={{ item }} dest={{ data_dir }}/cas-management/oidc-keys/
  with_items:
    - "sql/add-key.js"
  tags:
    - oidc_keys_add

- debug:
    var: cas_services_db
  tags:
    - oidc_keys_add

- name: insert clientId/clientSecret in service mongo db for {{ name }} via shell
  shell: >
    mongo --host "{{ cas_services_host }}" --port "{{ cas_services_port | default('27017') }}"
    --username "{{ cas_services_username }}" --password "{{ cas_services_password }}"
    "{{ cas_services_db | default('cas-service-registry' ) }}" --quiet < "{{data_dir}}/cas-management/oidc-keys/add-key.js"
  tags:
    - oidc_keys_add
  when: use_docker is not defined or not use_docker

- name: Create and run mongo-oidc-script docker service
  # warn in mongo >= 6 use mongosh instead
  command: >
    docker run --rm --name mongo-oidc-script --network la_auth_default
    --mount type=bind,src=/data/cas-management/oidc-keys,dst=/scripts
    mongo:5 sh -c "cat /scripts/add-key.js | mongo --host \"{{ cas_services_host }}\"
    --port \"{{ cas_services_port | default('27017') }}\" --username \"{{ cas_services_username }}\"
    --password \"{{ cas_services_password }}\" \"{{ cas_services_db | default('cas-service-registry') }}\" --quiet"
  when: use_docker is defined and use_docker
  async: 90
  poll: 5
  tags:
    - oidc_keys_add
