- set_fact: vhost={{context_path == "" or context_path == "/"}}
  # note: a context path of / causes problems with CAS authentication, so don't use it with apps that require auth

- set_fact: war_filename="ROOT" tomcat_deploy_dir="{{ tomcat_dir }}/webapps-{{ hostname }}"
  when: vhost=="true" or vhost==true or vhost=="True"

- set_fact: war_filename="{{ context_path.replace('/', '') }}" tomcat_deploy_dir="{{ tomcat_dir }}/webapps"
  when: vhost=="false" or vhost==false or vhost=="False" or vhost is not defined

- name: create tomcat vhost
  tomcat_vhost: name={{ hostname }} #remote_ip_valve="true"
  when: vhost=="true" or vhost==true or vhost=="True"
  notify:
    - restart tomcat

- name: ensure tomcat vhost webapps directory exists if necessary
  file: path="{{ tomcat_deploy_dir }}" state=directory owner={{tomcat_user}} group={{tomcat_user}}
  when: vhost=="true" or vhost==true or vhost=="True"
  notify:
    - restart tomcat

- name: check war file existence
  stat: path="{{ tomcat_deploy_dir }}/{{ war_filename }}"
  register: war_exist

- name: back up existing war file
  shell: "sudo cp {{ tomcat_deploy_dir }}/{{ war_filename }}.war {{ backup_dir | default('/data') }}/{{ war_filename }}_`date '+%Y%m%d%H%M%S'`.war"
  when: war_exist.stat.exists == True

- name: remove existing webapp (to ensure a clean redeployment)
  file: path="{{ tomcat_deploy_dir }}/{{ war_filename }}" state=absent

- name: download from maven repo
  get_url: url={{ war_url }} dest="{{ tomcat_deploy_dir }}/{{ war_filename }}.war" force=true
  notify:
    - restart tomcat
