- set_fact: root_app={{context_path == "" or context_path == "/"}}
- set_fact: vhost={{ hostname.find(':') == -1 and hostname.find('localhost') == -1 and hostname.find('127.0.0.1') == -1 }}

- set_fact: war_filename="ROOT" log_filename={{ log_filename | default(artifactId) }}
  when: root_app

- set_fact: war_filename="{{ context_path.replace('/', '') }}" log_filename={{ log_filename | default(context_path.replace('/', '')) }}
  when: not root_app

- set_fact: tomcat_deploy_dir="{{ tomcat_dir }}/webapps"
  when: not vhost

- set_fact: tomcat_deploy_dir="{{ tomcat_dir }}/webapps-{{hostname }}"
  when: vhost

- debug: msg="war_filename is {{ war_filename }}; tomcat_deploy_dir is {{ tomcat_deploy_dir }}; log_filename is {{ log_filename }}"

- name: create tomcat vhost
  tomcat_vhost: name={{ hostname }} remote_ip_valve={{tomcat_enable_remote_ip_valve | default(false)}} remote_internal_proxies={{tomcat_remote_internal_proxies | default(None)}}
  when: vhost
  notify:
    - restart tomcat

- name: ensure tomcat vhost webapps directory exists if necessary
  file: path="{{ tomcat_deploy_dir }}" state=directory owner={{tomcat_user}} group={{tomcat_user}}
  when: vhost
  notify:
    - restart tomcat

- name: check war file existence
  stat: path="{{ tomcat_deploy_dir }}/{{ war_filename }}"
  register: war_exist

- name: back up existing war file
  copy: src={{ tomcat_deploy_dir }}/{{ war_filename }}.war dest="{{ backup_dir | default('/data') }}/{{ war_filename }}_{{ansible_date_time.iso8601}}.war" remote_src=True
  when: war_exist.stat.exists == True

- name: check if a log file exists
  stat: path="{{ tomcat_log_dir }}/{{ log_filename }}.log"
  register: log_exist

- name: back up tomcat log file
  copy: src={{ tomcat_log_dir }}/{{ log_filename }}.log dest="{{ tomcat_log_dir }}/{{ log_filename }}.log.{{ ansible_date_time.iso8601 }}" remote_src=True
  when: log_exist.stat.exists == True
  
- name: remove existing webapp (to ensure a clean redeployment)
  file: path="{{ tomcat_deploy_dir }}/{{ war_filename }}" state=absent

- name: download from maven repo
  get_url: url={{ war_url }} dest="{{ tomcat_deploy_dir }}/{{ war_filename }}.war" force=true timeout=60
  when: war_local_build is not defined
  notify:
    - restart tomcat

- name: download from local build
  copy: src={{ war_local_build }} dest="{{ tomcat_deploy_dir }}/{{ war_filename }}.war" force=yes
  when: war_local_build is defined
  notify:
    - restart tomcat
