- include: ../../common/tasks/setfacts.yml
  tags:
    - webapps
    - config
    - properties
    - bie-index

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{ data_dir }}/bie-index/config"    
    - "{{ data_dir }}/bie/import"     
  tags:
    - config
    - properties
    - bie-index

- name: copy all YML config (new version)
  template: src=bie-index-config.yml dest={{data_dir}}/bie-index/config/bie-index-config.yml force=yes
  when: bie_use_yml is defined
  tags:
    - webapps
    - config
    - properties
    - bie-index

- name: copy all Properties config (old version)
  template: src=bie-index-config.properties dest={{data_dir}}/bie-index/config/bie-index-config.properties force=yes
  when: bie_use_yml is not defined
  tags:
    - webapps
    - config
    - properties
    - bie-index

- name: copy all species list configurations
  copy: src={{ item }} dest={{data_dir}}/bie-index/config
  with_items:
    - conservation-lists.json
    - image-lists.json
    - vernacular-lists.json
  tags:
    - config
    - properties
    - bie-index

- include: ../../apache_vhost/tasks/main.yml context_path='/{{ bie_index_context_path }}' hostname='{{ bie_index_hostname }}'
  tags:
    - webapps
    - apache_vhost
    - deploy
    - bie-index
  when: not webserver_nginx

- name: set nginx proxy target if configured
  set_fact:
    bie_index_proxy_target: "{{bie_index_context_path}}"
  tags:
    - nginx_vhost
    - deploy
    - bie_index
  when: webserver_nginx and bie_index_proxy_target is not defined

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    hostname: "{{ bie_index_hostname }}"
    context_path: "{{ bie_index_context_path }}"
    nginx_paths:
      - path: "{{bie_index_context_path}}/search"
        sort_label: "1_search"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_index_proxy_target}}/search"
      - path: "{{bie_index_context_path}}/taxon"
        sort_label: "2_taxon"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_index_proxy_target}}/taxon"
      - path: "{{bie_index_context_path}}/species"
        sort_label: "2_species"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_index_proxy_target}}/species"
      - path: "{{bie_index_context_path}}/guid"
        sort_label: "6_guid"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_index_proxy_target}}/guid"
      - path: "{{bie_index_context_path}}/childConcepts"
        sort_label: "6_childconcepts"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_index_proxy_target}}/childConcepts"
      - path: "{{bie_index_context_path}}/classification"
        sort_label: "6_classification"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://127.0.0.1:8080{{bie_index_proxy_target}}/classification"
      - path: "{{bie_index_context_path}}"
        sort_label: "8_ws"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:8080{{bie_index_proxy_target}}"
  tags:
    - bie-index
    - nginx_vhost
    - deploy
  when: webserver_nginx

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ bie_index_war_url }}' context_path='{{ bie_index_context_path }}' hostname='{{ bie_index_hostname }}'
  when: bie_index_local_build is not defined
  tags:
    - webapps
    - tomcat_vhost
    - deploy
    - bie-index

- include: ../../tomcat_deploy/tasks/main.yml war_local_build='{{ bie_index_local_build }}' context_path='{{ bie_index_context_path }}' hostname='{{ bie_index_hostname }}'
  when: bie_index_local_build is defined
  tags:
    - webapps
    - tomcat_vhost
    - deploy
    - bie-index

- name: copy all data assets
  copy: src=subgroups.json dest=/srv/{{bie_index_hostname}}/www/
  tags:
    - bie-index
