---
- include: ../../common/tasks/setfacts.yml
  tags:
    - webapps
    - config
    - properties
    - bie-index

- name: set nginx upstream server for nginx
  set_fact:
    upstream_host: "{{ bie_index_upstream_host | default('127.0.0.1') }}"
  tags:
    - deploy
    - nginx_vhost

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{ data_dir }}/bie-index/config"
    - "{{ data_dir }}/bie/import"
  tags:
    - config
    - properties
    - bie-index

- name: copy all YML config (new version)
  template: src=bie-index-config.yml dest={{data_dir}}/bie-index/config/bie-index-config.yml force=yes
  when: bie_use_yml is defined
  tags:
    - webapps
    - config
    - properties
    - bie-index

- name: copy all Properties config (old version)
  template: src=bie-index-config.properties dest={{data_dir}}/bie-index/config/bie-index-config.properties force=yes
  when: bie_use_yml is not defined
  tags:
    - webapps
    - config
    - properties
    - bie-index

- name: copy all species list configurations
  copy: src={{ item }} dest={{data_dir}}/bie-index/config
  with_items:
    - conservation-lists.json
    - hidden-images-lists.json
    - image-lists.json
    - vernacular-lists.json
    - favourites.json
    - wiki-lists.json
  tags:
    - config
    - properties
    - bie-index

- name: copy hidden-images-lists from inventory
  copy:
    src: "{{ inventory_dir }}/{{ hidden_images_file }}"
    dest: "{{ data_dir }}/bie-index/config/hidden-images-lists.json"
    force: true
  when: hidden_images_file is defined
  tags:
    - config
    - properties
    - bie-index

- name: copy wiki-lists from inventory
  copy:
    src: "{{ inventory_dir }}/{{ wiki_file }}"
    dest: "{{ data_dir }}/bie-index/config/wiki-lists.json"
    force: true
  when: wiki_file is defined
  tags:
    - config
    - properties
    - bie-index

- include: ../../apache_vhost/tasks/main.yml context_path='/{{ bie_index_context_path }}' hostname='{{ bie_index_hostname }}'
  tags:
    - webapps
    - apache_vhost
    - deploy
    - bie-index
  when: not webserver_nginx

- name: set nginx proxy target if configured
  set_fact:
    bie_index_proxy_target: "{{bie_index_context_path}}"
  tags:
    - nginx_vhost
    - deploy
    - bie_index
  when: webserver_nginx and bie_index_proxy_target is not defined

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "bie-index"
    hostname: "{{ bie_index_hostname }}"
    context_path: "{{ bie_index_context_path }}"
    nginx_paths:
      - path: "{{bie_index_context_path}}/admin"
        sort_label: "1_admin"
        is_proxy: true
        is_websocket: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_index_proxy_target}}/admin"
      - path: "{{bie_index_context_path}}/stomp"
        sort_label: "1_stomp"
        is_proxy: true
        is_websocket: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_index_proxy_target}}/stomp"
      - path: "{{bie_index_context_path}}/search"
        sort_label: "1_search"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_index_proxy_target}}/search"
      - path: "{{bie_index_context_path}}/taxon"
        sort_label: "2_taxon"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_index_proxy_target}}/taxon"
      - path: "{{bie_index_context_path}}/species"
        sort_label: "2_species"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_index_proxy_target}}/species"
      - path: "{{bie_index_context_path}}/guid"
        sort_label: "6_guid"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_index_proxy_target}}/guid"
      - path: "{{bie_index_context_path}}/childConcepts"
        sort_label: "6_childconcepts"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_index_proxy_target}}/childConcepts"
      - path: "{{bie_index_context_path}}/classification"
        sort_label: "6_classification"
        is_proxy: true
        use_cache: true
        force_cache: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_index_proxy_target}}/classification"
      - path: "{{bie_index_context_path}}"
        sort_label: "8_ws"
        is_proxy: true
        proxy_pass: "http://{{ upstream_host }}:8080{{bie_index_proxy_target}}"
  tags:
    - bie-index
    - nginx_vhost
    - deploy
  when: webserver_nginx

- name: copy all data assets
  copy: src=subgroups.json dest=/srv/{{bie_index_hostname}}/www/
  tags:
    - bie-index
    - properties

- name: Include docker tasks
  include: docker-tasks.yml
  when: use_docker is defined and use_docker

- name: Include VM tasks
  include: vm-tasks.yml
  when: use_docker is not defined or not use_docker
