- name: Add mongodb.org apt key for version 4.4
  get_url:
    url: 'http://keyserver.ubuntu.com/pks/lookup?op=get&search=0x20691eec35216c63caf66ce1656408e390cfb1f5'
#    'https://keyserver.ubuntu.com/pks/lookup?op=get&options=mr&search=0x0c49f3730359a14518585931bc711f9ba15703c6'
    dest: /etc/apt/trusted.gpg.d/mongodb.asc
    mode: 0644
  when: mongodb_version == 4.4
  tags: mongodb-org

- name: Add mongodb.org apt key for version 4.0
  get_url:
    url: 'https://keyserver.ubuntu.com/pks/lookup?op=get&options=mr&search=0x9DA31620334BD75D9DCB49F368818C72E52529D4'
    dest: /etc/apt/trusted.gpg.d/mongodb.asc
    mode: 0644
  when: mongodb_version == 4.0
  tags: mongodb-org

- name: Add mongodb.org apt key for version 3.6
  get_url:
    url: 'https://keyserver.ubuntu.com/pks/lookup?op=get&options=mr&search=0x2930ADAE8CAF5059EE73BB4B58712A2291FA4AD5'
    dest: /etc/apt/trusted.gpg.d/mongodb.asc
    mode: 0644
  when: mongodb_version == 3.6
  tags: mongodb-org

- name: Add mongodb.org apt key for version 3.4
  get_url:
    url: 'https://keyserver.ubuntu.com/pks/lookup?op=get&options=mr&search=0x0c49f3730359a14518585931bc711f9ba15703c6'
    dest: /etc/apt/trusted.gpg.d/mongodb.asc
    mode: 0644
  when: mongodb_version == 3.4
  tags: mongodb-org

- name: Add mongodb.org apt key for version 5.0
  get_url:
    url: 'https://www.mongodb.org/static/pgp/server-5.0.asc'
    dest: /etc/apt/trusted.gpg.d/mongodb.asc
    mode: 0644
  when: mongodb_version == 5.0
  tags: mongodb-org

- name: Add mongodb.org repo
  apt_repository:
    repo: deb [ arch=amd64 ] https://repo.mongodb.org/apt/ubuntu {{ ansible_distribution_release }}/mongodb-org/{{ mongodb_version }} multiverse
    state: present
  tags: mongodb-org
  when: (mongodb_version != 3.4 or ansible_distribution_release != 'bionic') and (mongodb_version != 4.0 or ansible_distribution_release != 'focal')

- name: Use xenial repo for installing mongo 3.4 or 3.6 on bionic
  apt_repository:
    repo: deb [ arch=amd64 ] https://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/{{ mongodb_version }} multiverse
    state: present
  tags: mongodb-org
  when: mongodb_version == 3.4 and ansible_distribution_release == 'bionic' or mongodb_version == 3.6 and ansible_distribution_release == 'bionic'

- name: Use bionic repo for installing mongo 4.0 on focal
  apt_repository:
    repo: deb [ arch=amd64 ] https://repo.mongodb.org/apt/ubuntu bionic/mongodb-org/{{ mongodb_version }} multiverse
    state: present
  tags: mongodb-org
  when: mongodb_version == 4.0 and ansible_distribution_release == 'focal'

- name: Install mongodb.org packages and related
  apt:
    name: ['mongodb-org-shell', 'mongodb-org-server', 'mongodb-org-tools' ]
  tags: mongodb-org

- name: Install mongosh with mongo 5.0
  apt:
    name: ['mongodb-mongosh']
  when: mongodb_version == 5.0
  tags: mongodb-org

- name: Install pip2 when necessary
  apt:
    name: python-pip
  when: ansible_python.version.major==2

- name: Install python3 when necessary
  apt:
    name: python3-pip
  when: ansible_python.version.major==3

# https://github.com/ansible/ansible/issues/36585
- name: force systemd to reread configs
  systemd:
    daemon_reload: yes

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner='mongodb' group='mongodb'
  with_items:
    - "{{ dbPath }}"
  tags:
    - mongodb-org

- name: Set configuration pointing to passed in dbPath
  template:
    src: templates/mongod.yml
    dest: /etc/mongod.conf
  tags: mongodb-org

- name: Restart mongod
  service: name=mongod state=restarted daemon-reload=true enabled="yes"
  when: ansible_os_family == "Debian"
  tags: mongodb-org

- name: Uninstall official python-pymongo package
  apt:
    name: python-pymongo
    state: absent
  tags: mongodb-org

# There is an incompatibility with the mongdb_user role and pymongo v4+ so force v3.12.2
- name: Install pip python-pymongo package
  pip:
    name: pymongo
#    version: 3.12.2
  tags: mongodb-org

- name: Enable service mongod
  service:
    name: mongod
    enabled: yes
  tags: mongodb-org


# https://github.com/ansible/ansible/issues/33832
- name: Check if some admin user is already configured (if admin already exists this fails and can be ignored)
  shell: /usr/bin/mongo --eval 'db.getUsers()' admin
  ignore_errors: true
  register: get_mongo_admin_users
  changed_when: false
  tags: mongodb-org

- name: Debug admin query
  debug:
    msg: "Mongo admin query output: {{ get_mongo_admin_users.rc }}, stdout if any: {{ get_mongo_admin_users.stdout }}. If equals 0 and no error in command: not admin users configured"
  tags: mongodb-org

# don't remove role: clusterAdmin roles its used by ecodata
# after creating rs.initiate().
# https://docs.ansible.com/ansible/latest/modules/mongodb_user_module.html
- name: Create admin user if necessary
  mongodb_user:
    database: "{{ mongodb_root_database | default('admin') }}"
    name: "{{ mongodb_root_username }}"
    password: "{{ mongodb_root_password }}"
    state: present
    login_port: "{{ mongodb_port }}"
    roles:
      - { db: "{{ mongodb_root_database | default('admin') }}", role: "clusterAdmin" }
      - { db: "{{ mongodb_root_database | default('admin') }}", role: "userAdminAnyDatabase" }

  tags: mongodb-org
  when: get_mongo_admin_users.rc == 0


- name: Enable security
  blockinfile:
    path: /etc/mongod.conf
    backup: yes
    marker: '# {mark} Enable mongodb security authorization'
    block: |
      security:
        authorization: enabled
  notify:
    - restart mongod
  tags: mongodb-org
  when: "{{ ecodata_replica_set_disable_mongo_security | default(true) }}"
