CREATE DATABASE IF NOT EXISTS `emmet` CHARACTER SET utf8 COLLATE utf8_general_ci;
-- CREATE DATABASE IF NOT EXISTS `apikey` CHARACTER SET utf8 COLLATE utf8_general_ci;

CREATE USER 'flyway'@'%' IDENTIFIED BY 'cas_flyway_password';
GRANT ALL PRIVILEGES ON `emmet`.* TO 'flyway'@'%';

CREATE USER 'cas'@'%' IDENTIFIED BY 'cas_db_password';
GRANT INSERT, SELECT, UPDATE, DELETE, EXECUTE, TRIGGER ON `emmet`.* TO 'cas'@'%';

-- CREATE USER 'apikey_db_username'@'%' IDENTIFIED BY 'apikey_db_password';
-- GRANT ALL PRIVILEGES ON `apikey`.* TO 'apikey_db_username'@'%';

FLUSH PRIVILEGES;

