# CAS Config
security:
  core:
    authCookieName: {{ auth_cookie_name | default('ALA-Auth') }}
{% if userdetails_backend == 'cognito' %}
    roleAttribute: {{ security_core_roleAttribute | default('ala:role') }}
    affiliation-survey:
      enabled: {{affiliation_survey_enabled | default ('false')}}
{% endif %}
  cookie:
    enabled: {{ auth_cookie_enabled | default('false') }}
    domain: {{ auth_cookie_domain | default('.ala.org.au') }}
  cas:
    enabled: {{ userdetails_use_cas | default('true') }}
{% if userdetails_use_cas | default('true') %}
    casServerName: {{ cas_server_name }}
    casServerUrlPrefix: ${security.cas.casServerName}/{{ cas_context_path | default('cas') }}
    loginUrl: ${security.cas.casServerUrlPrefix}/login
    logoutUrl: ${security.cas.casServerUrlPrefix}/logout
    appServerName: {{ userdetails_server_name }}
{% endif %}
  oidc:
    enabled: {{ userdetails_use_oidc | default('false') }}
{% if userdetails_use_oidc | default('false') %}
    client-id: {{ userdetails_oidc_client_id | default('') }}
    secret: {{ userdetails_oidc_secret| default('') }}
    discovery-uri: {{ oidc_discovery_uri }}
{% if userdetails_backend == 'cognito' %}
    logoutUrl: {{ userdetails_oidc_logoutUrl | default('') }}
    logoutAction: cognito
{% endif %}
{% endif %}
  jwt:
    enabled: {{ userdetails_jwt_enabled | default('false') }}
    fallback-to-legacy-behaviour: {{ userdetails_jwt_fallback_to_legacy | default('true') }}
    discovery-uri: {{ oidc_discovery_uri }}
    clientId: {{ userdetails_oidc_client_id | default('') }}
    secret: {{ userdetails_oidc_secret| default('') }}
{% if userdetails_backend == 'cognito' %}
    roleAttributes: {{ security_jwt_roleAttributes | default('cognito:groups') }}
    rolesFromAccessToken: {{ security_jwt_rolesFromAccessToken | default('true')}}
    userIdClaim: {{ security_jwt_userIdClaim | default('username') }}
    roleClaims: {{ security_jwt_roleClaims | default('cognito:groups') }}
{% endif %}
  user:
    name: {{ userdetails_endpoint_user | default('admin') }}
    password: {{ userdetails_endpoint_password | default('secret') }}
    role:
      - ACTUATOR
  basic:
    enabled: true
    authorizeMode: role
    realm: ALA CAS
    path:
      - /status/**
  apikey:
    enabled: true
    auth:
      serviceUrl: {{ apikey_auth_serviceUrl | default('https://auth.ala.org.au/apikey/ws/check/') }}
    check:
      serviceUrl: {{ apikey_check_serviceUrl | default('https://auth.ala.org.au/apikey/ws/check?apikey=') }}
    userdetails:
      serviceUrl: {{ apikey_userdetails_serviceUrl | default('https://auth.ala.org.au/userdetails/userDetails/') }}
endpoints:
  enabled: {{ endpoints_enabled | default('true') }}
  health:
    sensitive: false
management:
  security:
    enabled: true
    roles: ACTUATOR
{% if spring_session_store_type == 'mongodb' %}
  health:
    mongodb:
      enabled: true
{% endif %}

serverURL: {{ userdetails_server_name }}
serverName: {{ userdetails_server_name }}
grails:
  serverURL: {{ userdetails_server_name }}/{{ userdetails_context_path | default('userdetails') }}
server:
  port: {{ userdetails_port | default('9001') }}
  servlet:
    contextPath: /{{ userdetails_context_path  | default('userdetails') }}
  forward-headers-strategy: native
  tomcat:
    remoteip:
      protocol-header: x-forwarded-proto
      port-header: x-forwarded-port
      remote-ip-header: x-forwarded-for
      protocol-header-https-value: https

redirectAfterFirstLogin: ${grails.serverURL}/myprofile

{% if userdetails_backend == "gorm" %}
# Data source configuration
dataSource:
  dbCreate: "none"
  url: jdbc:mysql://{{ cas_db_hostname | default('localhost') }}:{{ cas_db_port | default('3306') }}/{{ cas_db_name | default('emmet') }}?serverTimezone={{ server_tz | default('Australia/Sydney') }}&zeroDateTimeBehavior=convertToNull&characterEncoding=UTF-8&useSSL={{mysql_connection_ssl | default(false)}}
  username: {{ userdetails_db_username | default(cas_db_username) | default('cas') }}
  password: {{ userdetails_db_password | default(cas_db_password) | default('password') }}
{% endif %}
{% if userdetails_backend == "cognito" %}
cognito:
  region: {{ cognito_region | default('') }}
  poolId: {{ cognito_poolId | default('') }}
  accessKey: {{ cognito_accessKey | default('') }}
  secretKey: {{ cognito_secretKey | default('') }}
{% endif %}
oauth:
  providers:
{% if oauth_providers_flickr_enabled | default('true') | bool %}
    flickr:
      enabled: true
      key: {{ oauth_providers_flickr_key }}
      secret: {{ oauth_providers_flickr_secret }}
      callback: ${grails.serverURL}/profile/flickrCallback
{% endif %}
{% if oauth_providers_inaturalist_enabled | default('false') | bool %}
    inaturalist:
      enabled: true
      key: {{ oauth_providers_inaturalist_key | default('DISABLED') }}
      secret: {{ oauth_providers_inaturalist_secret | default('DISABLED') }}
      callback: ${grails.serverURL}/profile/inaturalistCallback
inaturalist:
  name: {{ inaturalist_name | default('iNaturalist Australia') }}
  baseUrl: {{ inaturalist_base_url | default('https://inaturalist.ala.org.au/') }}
{% endif %}
password:
  encoder: {{ user_store_db_encoder | default('bcrypt') }}
bcrypt:
  strength: {{ user_store_db_bcrypt_strength | default('10') }}
#encoding:
#  algorithm: {{ user_store_db_encoding_algorithm }}
#  salt: {{ user_store_db_encoding_salt }}

registration:
  showAlaMessage: {{ show_ala_message | default('false') }}
  resetPasswordArticle: {{ reset_password_article | default('https://support.ala.org.au/support/solutions/articles/6000194958-my-username-password-isn-t-working-or-i-can-t-remember-my-username-password') }}
  alertArticle: {{ alert_article | default('https://support.ala.org.au/support/solutions/articles/6000195858-how-do-i-manage-email-alerts-from-the-ala') }}
  activationArticle: {{ activation_article | default('https://support.ala.org.au/support/solutions/articles/6000195196-i-created-an-account-but-did-not-receive-the-account-activation-email') }}

recaptcha:
  baseUrl: {{ recaptcha_base_url | default('https://www.google.com/recaptcha/api/') }}
  siteKey: {{ userdetails_recaptcha_site_key | default('') }}
  secretKey: {{ userdetails_recaptcha_secret_key | default('') }}

ala:
  baseURL: {{ ala_base_url | default('https://www.ala.org.au') }}

supportEmail: {{ support_email | default('support@ala.org.au') }}
homeUrl: {{ ala_base_url | default('https://www.ala.org.au') }}
homeLogoUrl: {{ ala_logo_url | default('https://www.ala.org.au/app/uploads/2020/06/ALA_Logo_Inline_RGB-300x63.png') }}
mainTitle: {{ orgNameLong | default('Atlas of Living Australia') }}
emailSenderTitle: {{ orgNameLong | default('Atlas of Living Australia') }}
emailSender: {{ support_email | default('support@ala.org.au') }}

sightings.url: {{ sightings_base_url }}
spatial.url: {{ spatial_base_url }}?tool=log
volunteer.url: {{ volunteer_base_url }}/user/myStats
lists.url: {{ lists_base_url }}/speciesList/list
biocache.search.baseUrl: {{ biocache_base_url }}/occurrences/search
biocache.search.url: {{ biocache_base_url }}/occurrences/search/?q=*%3A*&fq=assertion_user_id%3A
biocache.myDownloads.url: {{ biocache_base_url }}/download/myDownloads/
myData.url: {{ sandbox_base_url }}/tempDataResource/myData
alerts.url: {{ alerts_base_url }}

# this property is read/used by ala-auth-plugin (included by userdetails)
userDetails:
  url: {{ userdetails_base_url }}/{{ userdetails_context_path | default('userdetails') }}/
userdetails: # TODO Make this the same as above
  features:
    authorisedSystems: {{ enabled_authorisedSystems | default('true')}}
    bulkCreate: {{ enabled_bulkCreate | default('true')}}
    exportUsers: {{ enabled_exportUsers | default('true')}}

# Header and footer
headerAndFooter:
  baseURL: {{ header_and_footer_baseurl | default('https://www.ala.org.au/commonui-bs3-2019')}}
  version: {{ header_and_footer_version | default('1')}}
ala.baseURL: {{ ala_base_url | default('https://www.ala.org.au')}}
bie.baseURL: {{ bie_base_url | default('https://bie.ala.org.au')}}
bie.searchPath: {{ bie_search_path | default('/search') }}

# Skin options
skin.layout: {{ (userdetails_skin_layout | default(skin_layout)) | default('ala-main') }}
skin.fluidLayout: {{ skin_fluid_layout | default('false') }}
skin.orgNameLong: {{ orgNameLong | default('Atlas of Living Australia') }}
skin.orgNameShort: {{ orgNameShort | default('ALA') }}
skin.favicon: {{ skin_favicon | default('https://www.ala.org.au/wp-content/themes/ala-wordpress-theme/img/favicon/favicon-16x16.png') }}
skin.homeUrl: {{ skin_home_url | default('http://www.ala.org.au') }}

attributes:
    affiliations:
      enabled: {{ show_ala_survey | default('false') }}

# API key for external apps
webservice:
  apiKey: {{ api_key }}
  jwt: {{ userdetails_jwt_client_enabled | default('true') }}
  scope: {{ userdetails_jwt_scopes | default('openid ala/internal') }}
  client-id: {{ userdetails_jwt_clientid | default('') }}
  client-secret: {{ userdetails_jwt_secret | default('') }}

# Default primary fields for Export to CSV functionality
admin.export.csv.primary.fields: {{ admin_export_csv_primary_fields | default('id,userName,firstName,lastName,email,activated,locked,created')}}

spring:
{% if bootadmin_enabled | bool %}
  boot:
    admin:
      url: {{ bootadmin_url | default('https://bootadmin.ala.org.au') }}
      username: {{ bootadmin_username }}
      password: {{ bootadmin_password }}
      client:
        enabled: true
        service-url: {{ bootadmin_client_base_url | default('${serverURL}/') }}{{ userdetails_context_path | default('userdetails') }}
        management-url: {{ bootadmin_client_base_url | default('${serverURL}/') }}{{ userdetails_context_path | default('userdetails') }}/status
        name: {{ userdetails_bootadmin_client_name | default('User Details') }}
        metadata:
          user:
            name: ${security.user.name}
            password: ${security.user.password}
{% endif %}
  session:
    enabled: {{ spring_session_enabled | default('false') }}
    store-type: {{ spring_session_store_type | default('none') }}
{% if spring_session_store_type == 'mongodb' %}
    mongodb:
      collectionName: {{ spring_session_mongo_collection | default('userdetails-sessions') }}
  data:
    mongodb:
      uri: {{ spring_session_mongo_uri }}
{% endif %}
    {% if spring_session_store_type == 'redis' %}disable-redis-config-action: {{ is_secured_redis | default('false') | bool }}
    redis:
      namespace: {{ apikey_redis_namespace | default('apikey') }}
  redis:
    host: {{ spring_session_redis_host }}
    password: {{ spring_session_redis_password }}
    port: {{ spring_session_redis_port | default('6379') }}
{% if spring_session_redis_clustered | bool %}
    cluster:
      nodes: {{ spring_session_redis_host }}:{{ spring_session_redis_port | default('6379') }}
{% endif %}
{% endif %}

# Allow to disable some tools for non-ALA Portals
myProfile:
  useDigiVol: {{ use_digivol | default('true') }}
  useSandbox: {{ use_sandbox | default('true') }}
  useBiocollect: {{ use_biocollect | default('true') }}

privacyPolicy: {{ privacy_policy_url | default('https://www.ala.org.au/about/terms-of-use/privacy-policy/') }}
termsOfUse: {{ terms_url | default('https://www.ala.org.au/terms-of-use/') }}

openapi:
  terms: {{ terms_url | default('https://www.ala.org.au/terms-of-use/') }}
{% if openapi_oauth_url is defined %}
  components:
    security:
      oauth2:
        baseUrl: {{ openapi_oauth_url }}
{% endif %}
{% if openapi_server_urls is defined %}
  server-urls:
    - {{ openapi_server_urls }}
{% endif %}

ala.admin.systemMessage.path: {{  ala_admin_system_message_path | default('/data/userdetails/config') }}
users:
  delegated-group-names: {{ users_delegated_group_names | default('') }}

{% if gateway_usagePlanId is defined %}
apigateway:
  region: {{ cognito_region | default('') }}
  galah:
    usagePlanId: {{ gateway_usagePlanId | default('') }}
{% endif %}
{% if userdetails_backend == 'cognito' %}
tokenApp:
  url: {{tokenApp_url | default('https://tokens.ala.org.au')}}
docsPortal.url: {{docsPortal_url | default('https://docs.ala.org.au/#introduction')}}
{% endif %}
{% if apikey_type is defined %}
apikey:
  type: {{ apikey_type }}
{% endif %}
{% if dynamoDBTableName is defined %}
oauth.support.dynamic.client.dynamoDBTableName: {{ dynamoDBTableName }}
oauth.support.dynamic.client.dynamoDBTable.dynamoDBPK: {{ dynamoDBTable_dynamoDBPK | default('userId') }}
oauth.support.dynamic.client.dynamoDBTable.dynamoDBSK: {{ dynamoDBTable_dynamoDBSK | default('clientId') }}
{% endif %}
{% if dynamic_client_tokens_callbackURLs is defined %}
oauth.support.dynamic.client.tokens.callbackURLs: {{ dynamic_client_tokens_callbackURLs }}
{% endif %}
userdetails.url: {{ userdetails_url | default('https://auth.ala.org.au/userdetails/') }}
userdetails.web.url: {{ userdetails_web_url | default('https://auth.ala.org.au/userdetails/') }}
userdetails.api.url: {{ userdetails_api_url | default('https://api.ala.org.au/userdetails/') }}

userdetails.api.useGatewayAPI: {{ userdetails_api_useGatewayAPI | default('false') }}
