<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="http://{{ demo_hostname }}">{{ orgNameLong }}</a>
            <div class="simple-nav-list pull-right">
                <ul class="list-inline">
                    <li><a href="{{ bie_hub_context_path }}">Species search</a></li>
                    <li><a href="{{ specieslist_context_path }}">Lists</a></li>
                    <li><a href="{{ collectory_context_path }}">Collections</a></li>
                    <li><a href="{{ collectory_context_path }}/datasets">Datasets</a></li>
                    <li><a href="{{ biocache_hub_context_path }}">Occurrence records</a></li>
                    <li><a href="{{ biocache_hub_context_path }}#tab_advanceSearch">Advanced search</a></li>
                    <li><a href="{{ biocache_hub_context_path }}#tab_spatialSearch">Spatial search</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div><!--/.navbar-inner -->
</div><!--/.navbar -->
