<!--
<link href="{{ header_and_footer_baseurl }}/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen, projection, print" />
<link href="{{ header_and_footer_baseurl }}/css/bootstrap-theme.css" type="text/css" rel="stylesheet" media="screen, projection, print" />
<script type="text/javascript" src="{{ header_and_footer_baseurl }}/js/bootstrap.js"> </script>
-->

<link href="{{ header_and_footer_baseurl }}/css/ala-styles.css" type="text/css" rel="stylesheet" media="screen, projection, print" />