- include: ../../common/tasks/setfacts.yml
  tags:
    - ecodata
    - deploy
#
# External configuration properties file
#
- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/ecodata/config"
  tags:
    - properties
    - ecodata

- name: copy all config.properties
  template: src=ecodata-config.properties dest={{data_dir}}/ecodata/config/ecodata-config.properties
  tags:
    - properties
    - ecodata

- name: set data ownership
  file: path={{data_dir}}/ecodata owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify:
    - restart tomcat
  tags:
    - properties
    - ecodata


#
# WAR file deployment and virtual host configuration
#
- include: ../../apache_vhost/tasks/main.yml context_path='{{ ecodata_context_path }}' hostname='{{ ecodata_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - ecodata
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    hostname: "{{ ecodata_hostname }}"
    context_path: "{{ ecodata_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - ecodata
  when: webserver_nginx

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ ecodata_war_url }}' context_path='{{ecodata_context_path}}' hostname='{{ ecodata_hostname }}'
  tags:
    - deploy
    - tomcat_vhost
    - ecodata

#
# Override the default memory settings for Tomcat to increase heap space and change the garbage collector
#
- name: Override default tomcat memory configuration
  lineinfile:
    dest={{tomcat_conf}}
    regexp="^JAVA_OPTS"
    line='JAVA_OPTS="{{tomcat_java_opts_override}}"'
  notify:
    - restart tomcat
  tags:
    - ecodata
    - deploy
    - tomcat

#
# Cron Job configuration
#
- name: install cron job for indexing elastic search
  cron: minute=21 hour=22 name="Elastic search indexing" job="wget -O - {{ ecodata_url }}{{ ecodata_context_path }}/admin/reIndexAll >/dev/null 2>&1" user=root state=present

#
# Copy sensitive data xml file
#  
- name: Copy config files to config directory
  copy: src=sensitive-species-data.xml dest={{data_dir}}/ecodata/config/sensitive-species-data.xml
  tags:
    - ecodata
    - properties  