- include: ../../common/tasks/setfacts.yml
  tags:
    - ecodata
    - deploy

- name: set ecodata_user as default value
  set_fact:
    ecodata_user: "{{ (exec_jar) | ternary ('ecodata', 'tomcat7')}}"
  tags:
    - ecodata
    - deploy

#
# External configuration directories and files
#
- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner='mongodb' group='mongodb'
  with_items:
    - "{{data_dir}}/mongodb"
  tags:
    - properties
    - ecodata

- name: add jar and service
  include_role:
    name: exec-jar
  vars:
    service_name: "ecodata"
    jar_url: '{{ ecodata_artifact_url }}'
  tags:
    - deploy
    - service
    - ecodata
  when: exec_jar

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{ecodata_user}} group={{ecodata_user}}
  with_items:
    - "{{data_dir}}/ecodata/config"
    - "{{data_dir}}/ecodata/uploads"
    - "{{data_dir}}/ecodata/models"
    - "{{data_dir}}/ecodata/elasticsearch"
    - "{{data_dir}}/ecodata/scripts"
  tags:
    - properties
    - ecodata

- name: copy all config.properties
  template: src={{ecodata_properties_file | default('ecodata-config.properties')}} dest={{data_dir}}/ecodata/config/ecodata-config.properties
  tags:
    - properties
    - ecodata

- name: copy logback config
  template:
    src: logback.groovy
    dest: "{{data_dir}}/ecodata/config/logback.groovy"
    owner: "{{ecodata_user}}"
    group: "{{ecodata_user}}"
  notify:
    - restart ecodata
  tags:
    - properties
    - ecodata
  when: exec_jar

- name: ensure ecodata log directory exists
  file: path={{item}} state=directory owner={{ecodata_user}} group={{ecodata_user}}
  with_items:
    - "/var/log/atlas/ecodata"
  tags:
    - properties
    - ecodata
  when: exec_jar

- name: set ecodata log ownership
  file: path=/var/log/atlas/ecodata owner='{{ecodata_user}}' group='{{ecodata_user}}' recurse=true
  notify:
    - restart ecodata
  tags:
    - properties
    - ecodata
  when: exec_jar

#
# Copy sensitive data xml file
#
- name: Copy config files to config directory
  copy: src=sensitive-species-data.xml dest={{data_dir}}/ecodata/config/sensitive-species-data.xml
  tags:
    - ecodata
    - properties

#
# Copy default/example models files.  Don't override if already present
# as the versions in ansible are quick start for new installations.
#
- name: Copy models files to config directory
  copy: src=models/ dest={{data_dir}}/ecodata/models/ force=no
  tags:
    - ecodata
    - properties

- name: set data ownership
  file: path={{data_dir}}/ecodata owner='{{ecodata_user}}' group='{{ecodata_user}}' recurse=true mode='u=rwX,g=rX,o-rxw'
  tags:
    - properties
    - ecodata

- name: Copy scripts to scripts directory
  template:
    src: backup-ecodata.sh
    dest: "{{data_dir}}/ecodata/scripts/backup-ecodata.sh"
    owner: "{{ecodata_user}}"
    group: "{{ecodata_user}}"
    mode: "u+rx,g+r,o-rxw"
  tags:
    - ecodata
    - properties

#
# WAR file deployment and virtual host configuration
#
- include: ../../apache_vhost/tasks/main.yml context_path='{{ ecodata_context_path }}' hostname='{{ ecodata_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - ecodata
  when: not webserver_nginx

- name: set nginx proxy target if configured
  set_fact:
    ecodata_proxy_target: "{{ecodata_context_path}}"
  tags:
    - nginx_vhost
    - deploy
    - ecodata
  when: webserver_nginx and ecodata_proxy_target is not defined

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "ecodata"
    hostname: "{{ ecodata_hostname }}"
    context_path: "{{ ecodata_context_path }}"
    tomcat_server_port: "{{ ecodata_server_port }}"
    nginx_paths:
      - path: "{{ecodata_proxy_target}}/uploads"
        sort_label: "1_upload"
        is_proxy: false
        alias: "{{ upload_dir | default('/data/ecodata/uploads') }}"
      - path: "{{ecodata_context_path}}"
        sort_label: "2_ws"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:{{ ecodata_server_port }}{{ecodata_proxy_target}}"
      - path: "{{ecodata_context_path}}/ws/search/downloadAllData"
        sort_label: "2_ws_downloads"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/search/downloadAllData"
      - path: "{{ecodata_context_path}}/ws/search/downloadUserList"
        sort_label: "3_downloadUserList"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/search/downloadUserList"
      - path: "{{ecodata_context_path}}/ws/search/downloadOrganisationData"
        sort_label: "4_downloadOrganisationData"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/search/downloadOrganisationData"
      - path: "{{ecodata_context_path}}/ws/search/downloadProjectData"
        sort_label: "5_downloadProjectData"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/search/downloadProjectData"
      - path: "{{ecodata_context_path}}/ws/search/downloadShapefile"
        sort_label: "6_downloadShapefile"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/search/downloadShapefile"
      - path: "{{ecodata_context_path}}/ws/search/downloadProjectDataFile/"
        sort_label: "7_ws_downloads_project_data"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/search/downloadProjectDataFile/"
      - path: "{{ecodata_context_path}}/ws/managementunit/getReportPeriods/"
        sort_label: "8_ws_mu_periods"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/managementunit/getReportPeriods/"
      - path: "{{ecodata_context_path}}/ws/managementunit/generateReportsInPeriod/"
        sort_label: "9_ws_mu_report"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/managementunit/generateReportsInPeriod/"
      - path: "{{ecodata_context_path}}/ws/download/"
        sort_label: "10_ws_download"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/download/"

      - path: "{{ ecodata_context_path }}/ws/geoServer/wms"
        sort_label: "geo_server_wms"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/geoServer/wms"
      - path: "{{ ecodata_context_path }}/ws/geoServer/createStyle"
        sort_label: "geo_server_create_style"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/geoServer/createStyle"
      - path: "{{ ecodata_context_path }}/ws/geoServer/getLayerName"
        sort_label: "geo_server_layer_name"
        is_proxy: true
        proxy_hostname: "{{ ecodata_reporting_hostname | default(ecodata_hostname) }}"
        proxy_pass: "{{ ecodata_reporting_server if ecodata_reporting_server is defined else 'http://127.0.0.1:' + ecodata_server_port }}{{ecodata_proxy_target}}/ws/geoServer/getLayerName"
  tags:
    - nginx_vhost
    - deploy
    - ecodata
  when: webserver_nginx

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ ecodata_war_url }}' context_path='{{ecodata_context_path}}' hostname='{{ ecodata_hostname }}'
  tags:
    - deploy
    - tomcat_vhost
    - ecodata
  when: not exec_jar

#
# Override the default memory settings for Tomcat to increase heap space and change the garbage collector
#
- name: Override default tomcat memory configuration
  lineinfile:
    dest={{tomcat_conf}}
    regexp="^JAVA_OPTS"
    line='JAVA_OPTS="{{tomcat_java_opts_override}}"'
  notify:
    - restart tomcat
  tags:
    - ecodata
    - deploy
    - tomcat
  when: not exec_jar

#
# Cron Job configuration
#
- name: install cron job for indexing elastic search
  cron: minute=21 hour=22 name="Elastic search indexing" job="wget -O - {{ ecodata_url }}{{ ecodata_context_path }}/admin/reIndexAll >/dev/null 2>&1" user=root state=present

# Mongo users and database
- name: Create the ecodata database and user
  mongodb_user:
    login_user: "{{ mongodb_root_username }}"
    login_password: "{{ mongodb_root_password }}"
    login_port: "{{ mongodb_port }}"
    database: "{{ ecodata_database }}"
    name: "{{ ecodata_username }}"
    password: "{{ ecodata_password }}"
    roles:
      - { db: "{{ ecodata_database }}", role: "dbAdmin" }
      - { db: "{{ ecodata_database }}", role: "readWrite" }
  tags:
    - mongodb-org

- name: Insert replication set name both Server
  blockinfile:
    path: /etc/mongod.conf
    block: |
      replication:
        replSetName: rs0
  notify:
    - restart mongod
  tags: mongodb-org
  when: mongo_replica_enabled

  # Copy the keyfile for authentication
- name: copy security key file to nodes
  copy: src={{ ecodata_local_authentication_keyFile }} dest=/etc/mongodb-keyFile mode=0400
  tags: mongodb-org
  when:  mongo_replica_enabled

# changes access right of the key file for mongo,
- name: change access right of key file
  file: path=/etc/mongodb-keyFile state=file owner=mongodb group=mongodb mode=0400
  when: mongo_replica_enabled

- name: Enable security
  blockinfile:
    path: /etc/mongod.conf
    backup: yes
    marker: '# {mark} Enable mongodb security authorization'
    block: |
      security:
        authorization: enabled
        keyFile: /etc/mongodb-keyFile
  notify:
    - restart mongod
  tags: mongodb-org
  when: mongo_replica_enabled

- name: Stop mongo Service
  service:
    name: mongod
    state: stopped

- name: Start mongod as a service with security
  service:
    name: mongod
    state: started

- name: Updating bind IP for primary server for mongodb 3.4
  replace:
    path: /etc/mongod.conf
    regexp: 'bindIp: 127.0.0.1'
    replace: "bindIp: {{ primary_ip }},127.0.0.1"
  notify:
    - restart mongod
  tags: mongodb-org
  when: "{% if mongo_replication and mongo_version3 and replace_blindIp_Primary_Node %} True {% else %} False {% endif %}"

- name: Updating bind IP for secondary server for mongodb 3.4
  replace:
    path: /etc/mongod.conf
    regexp: 'bindIp: 127.0.0.1'
    replace: "bindIp: {{ secondary_ip }},127.0.0.1"
  notify:
    - restart mongod
  tags: mongodb-org
  when: "{% if mongo_version3 and replace_blindIp_Secondary_Node and copy_mongorc_to_secondary_node %} True {% else %} False {% endif %}"


- name: Stop mongod db server
  service:
    name: mongod
    state: stopped

- name: Start mongod server
  service:
    name: mongod
    state: started

# copying script to create a replica set
- name: copy initrs script only for mongo version 3.4
  template:
    src: initRS.j2
    dest: ./initRS.j2
  when: "{% if mongo_replication and mongo_version3 %} True {% else %} False {% endif %}"

## Initialize the replica set in mongo version 3.4
- name: Initialize the replica set in primary node for mongo version 3.4
  command: mongo --host "{{ primary_ip }}" --authenticationDatabase "{{ mongodb_root_database | default('admin') }}" -u "{{ mongodb_root_username }}" -p "{{ mongodb_root_password }}" ./initRS.j2
  when: "{% if mongo_replication and mongo_version3 %} True {% else %} False {% endif %}"

# Copy the mongorc to the secondary node. do connect between primary and secondary node without complication
- name: copying mongorc to secondary mongo replica set
  template:
    src: mongorc.js
    dest: /etc/mongorc.js
  when: copy_mongorc_to_secondary_node

- name: Stop mongod db server
  service:
    name: mongod
    state: stopped

- name: Start mongod server
  service:
    name: mongod
    state: started
