- include: ../../common/tasks/setfacts.yml
  tags:
    - solrcloud 
    - solr_config

- name: Download SOLR {{ solr_version }}
  get_url: url="http://apache.mirror1.spango.com/lucene/solr/{{ solr_version }}/solr-{{ solr_version }}.tgz" dest=/tmp/solr-{{ solr_version }}.tgz
  tags:
    - solrcloud

- name: Extract the install script
  shell: "tar xzf /tmp/solr-{{ solr_version }}.tgz solr-{{ solr_version }}/bin/install_solr_service.sh --strip-components=2"
  tags:  
    - solrcloud
    - solr_download

- name: ensure target directories exist [data subdirectories etc.
  file: path={{item}} state=directory
  with_items:
    - "{{data_dir}}/solr/"
  tags:
    - solr_config  
    - solrcloud

- name: Run install script
  shell: "./install_solr_service.sh /tmp/solr-{{ solr_version }}.tgz -d /data/solr -f"
  tags:  
    - solrcloud

- name: add common tomcat jars (for SOLR logging and JTS)
  copy: src=libs/{{item}} dest=/opt/solr/server/lib/ext
  with_items:
    - jts-1.13.jar
  tags:
    - solrcloud

- name: add common tomcat jars (for SOLR logging and JTS)
  copy: src=solr/solr.xml dest=/data/solr
  with_items:
    - jts-1.13.jar
  tags:
    - solrcloud

- name: Stop solr
  shell: "service solr stop"
  tags:
    - solr_config  
    - solrcloud
    - solr_restart    

- name: copy SOLR config
  template: src=solr.in.sh dest=/opt/solr/bin
  tags:
    - solrcloud
    - solrcloud_config

- name: Start solr
  shell: "/opt/solr/bin/solr start -c"
  tags:  
    - solrcloud
    - solr_config  
    - solr_restart 

