[elasticsearch]
{% if site24x7_elasticsearch_host is defined and site24x7_elasticsearch_host %}
host = {{ site24x7_elasticsearch_host }}
{% endif %}
{% if site24x7_elasticsearch_port is defined and site24x7_elasticsearch_port %}
port = {{ site24x7_elasticsearch_port }}
{% endif %}
{% if site24x7_elasticsearch_node_name is defined and site24x7_elasticsearch_node_name %}
node_name= {{ site24x7_elasticsearch_node_name }}
{% endif %}
{% if site24x7_elasticsearch_username is defined and site24x7_elasticsearch_username %}
username={{ site24x7_elasticsearch_username }}
{% endif %}
{% if site24x7_elasticsearch_password is defined and site24x7_elasticsearch_password %}
password = {{ site24x7_elasticsearch_password }}
{% endif %}
{% if site24x7_elasticsearch_sslpath is defined and site24x7_elasticsearch_sslpath %}
sslpath= {{ site24x7_elasticsearch_sslpath }}
{% endif %}
{% if site24x7_elasticsearch_ssl is defined and site24x7_elasticsearch_ssl %}
ssl={{ site24x7_elasticsearch_ssl }}
{% endif %}
{% if site24x7_elasticsearch_logs_enabled is defined and site24x7_elasticsearch_logs_enabled %}
logs_enabled = {{ site24x7_elasticsearch_logs_enabled }}
{% endif %}
{% if site24x7_elasticsearch_log_type_name is defined and site24x7_elasticsearch_log_type_name %}
log_type_name = {{ site24x7_elasticsearch_log_type_name }}
{% endif %}
{% if site24x7_elasticsearch_log_file_path is defined and site24x7_elasticsearch_log_file_path %}
log_file_path = {{ site24x7_elasticsearch_log_file_path }}
{% endif %}