- include: ../../common/tasks/setfacts.yml
  tags:
    - properties
    - biocache-properties
    - biocache-layers    

- name: ensure target directories exist
  file: path={{item}} state=directory
  with_items:
    - "{{data_dir}}/biocache/layers"
    - "{{data_dir}}/biocache/config"    
  tags:
    - properties
    - biocache-properties

- name: copy biocache config properties template 
  template: src={{item}} dest={{data_dir}}/biocache/config/{{item}} mode=0644
  with_items:
    - biocache-config.properties
  tags:
    - properties
    - biocache-properties

- name: Download SDS layers
  get_url: url={{ sds_layers_url | default('https://biocache.ala.org.au/archives/layers/sds-layers.tgz') }} dest="{{data_dir}}/biocache/layers/sds-layers.tgz" force=yes
  when: sds_enabled is defined and sds_enabled == "true"
  tags:
    - properties
    - biocache-properties
    - biocache-layers   

- name: Extract SDS layers
  unarchive: src="{{data_dir}}/biocache/layers/sds-layers.tgz" dest="{{data_dir}}/biocache/layers/" copy=no
  when: sds_enabled is defined and sds_enabled == "true"
  tags:
    - properties
    - biocache-properties
    - biocache-layers    

- name: copy biocache subgroups config
  copy: src=subgroups.json dest={{data_dir}}/biocache/config/subgroups.json
  tags:
    - properties
    - biocache-properties

- name: ensure target directories exist [data subdirectories etc.
  file: path={{ item }} state=directory mode=0774
  with_items:
    - "{{data_dir}}/biocache-load"
    - "{{data_dir}}/biocache-media"
    - "{{data_dir}}/biocache-upload"
    - "{{data_dir}}/biocache-delete"
    - "{{data_dir}}/cache"
    - "{{data_dir}}/tmp"
    - "{{data_dir}}/offline/exports"    
    - "{{data_dir}}/tool"
  tags:
    - properties
    - biocache-properties

# - name: set data ownership [all data is owned by tomcat]
#   file: path={{data_dir}}/{{item}} owner={{tomcat_user}} group={{tomcat_user}} recurse=true
#   with_items:
#     - biocache 
#   tags:
#     - biocache-properties
#     - biocache-layers
