- include: ../../common/tasks/setfacts.yml
  tags:
    - apache_vhost
    - tomcat_vhost
    - biocache-service
    - webapps

- include: ../../apache_vhost/tasks/main.yml context_path='{{ biocache_service_context_path }}' hostname='{{ biocache_service_hostname }}' 
  tags:
    - biocache-service
    - deploy
    - apache_vhost
    - webapps

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ biocache_service_war_path }}' context_path='{{ biocache_service_context_path }}' hostname='{{ biocache_service_hostname }}'
  when: biocache_service_local_build is not defined
  tags:
    - biocache-service
    - deploy
    - tomcat_vhost
    - webapps

- include: ../../tomcat_deploy/tasks/main.yml war_local_build='{{ biocache_service_local_build }}' context_path='{{ biocache_service_context_path }}' hostname='{{ biocache_service_hostname }}'
  when: biocache_service_local_build is defined
  tags:
    - biocache-service
    - deploy
    - tomcat_vhost
    - webapps

- name: ensure tomcat context directory exists
  file: path=/usr/share/{{tomcat}}/conf/Catalina/localhost/ state=directory owner={{tomcat_user}} group={{tomcat_user}}
  tags:
    - biocache-service  
  notify:
    - restart tomcat

- name: ensure application data directory exists
  file: path={{data_dir}}/biocache state=directory owner={{tomcat_user}}  group={{tomcat_user}}
  tags:
    - biocache-service  

- name: copy all data assets
  copy: src=data/config dest={{data_dir}}/biocache owner={{tomcat_user}}  group={{tomcat_user}}
  tags:
    - biocache-service  

- name: ensure target directories exist [data subdirectories etc.
  file: path={{item.path}} state=directory owner={{tomcat_user}}  group={{tomcat_user}} mode={{ item.perm | default(774) }}
  with_items:
    - { path: "{{data_dir}}/ala/layers/ready/shape" }
    - { path: "{{data_dir}}/biocache-load" }
    - { path: "{{data_dir}}/biocache-media", perm: 777 }  # https://github.com/AtlasOfLivingAustralia/ala-install/issues/57
    - { path: "{{data_dir}}/biocache-upload" }
    - { path: "{{data_dir}}/biocache-delete" }
    - { path: "{{data_dir}}/cache" }
    - { path: "{{data_dir}}/tmp" }
    - { path: "{{data_dir}}/offline/exports" }
    - { path: "{{data_dir}}/tool" }
    - { path: "{{data_dir}}/biocache-download/tmp" }
  tags:
    - biocache-service

- name: copy biocache facets config
  copy: src=config/facets.json dest={{data_dir}}/biocache/config/facets.json
  tags:
    - biocache-service  

- name: copy biocache logging config
  copy: src=config/log4j.xml dest={{data_dir}}/biocache/config/log4j.xml
  tags:
    - biocache-service  

- name: set data ownership [all data is owned by tomcat]
  file: path={{data_dir}}/{{item}} owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  with_items:
    - biocache
    - ala
    - biocache-load
    - biocache-media
    - biocache-upload
    - biocache-delete    
    - cache
    - tmp    
    - offline    
    - tool       
    - biocache-download
  tags:
    - biocache-service    

- name: set permissions for biocache-load [TODO - more restrictive permissions]
  file: path={{data_dir}}/biocache-load mode=777
  tags:
    - biocache-service  
  notify:
    - restart tomcat
