- name: install augeas (RedHat)
  yum: pkg={{item}} state=present
  with_items:
    - augeas-libs
    - augeas
    - python-augeas
    - libxml2-python
  when: ansible_os_family == "RedHat"
  tags:
    - packages
    - augeas

- name: Add augeas backport ppa repository (precise)
  apt_repository: repo='ppa:raphink/augeas' state=present
  when: ansible_distribution_release == "precise" 
  tags:
    - packages
    - augeas

- name: install augeas (Ubuntu 14.04)
  apt: pkg={{item}} state=latest
  with_items:
    - libaugeas0
    - augeas-lenses
    - augeas-tools
    - python-augeas
    - python-libxml2
    - libpython2.7
  when: ansible_os_family == "Debian" and (ansible_distribution_version == "14.04")
  tags:
    - packages
    - augeas

- name: install augeas (Ubuntu 16.04)
  apt: pkg={{item}} state=latest
  with_items:
    - libaugeas0
    - augeas-lenses
    - augeas-tools
    - python-augeas
    - python-libxml2
    - libpython2.7
    - python3-augeas
    - libpython3.5
  when: ansible_os_family == "Debian" and (ansible_distribution_version == "16.04")
  tags:
    - packages
    - augeas

- name: install augeas (Ubuntu 18.04)
  apt: pkg={{item}} state=latest
  with_items:
    - libaugeas0
    - augeas-lenses
    - augeas-tools
    - python-augeas
    - python-libxml2
    - libpython2.7
    - python3-augeas
    - python3-libxml2
    - libpython3.8
  when: ansible_os_family == "Debian" and (ansible_distribution_version == "18.04")
  tags:
    - packages
    - augeas

- name: install augeas (Ubuntu 20.04)
  apt: pkg={{item}} state=latest
  with_items:
    - libaugeas0
    - augeas-lenses
    - augeas-tools
    - python3-augeas
    - python3-libxml2
    - libpython3.8
  when: ansible_os_family == "Debian" and ansible_distribution_version == "20.04"
  tags:
    - packages
    - augeas

- name: install augeas (Ubuntu 22.04)
  apt: pkg={{item}} state=latest
  with_items:
    - libaugeas0
    - augeas-lenses
    - augeas-tools
    - python3-augeas
    - python3-libxml2
    - libpython3.10
  when: ansible_os_family == "Debian" and ansible_distribution_version == "22.04"
  tags:
    - packages
    - augeas
