---
- name: ensure target db directories exist
  file: path={{item}} state=directory
  with_items:
    - "{{ ala_sensitive_data_service_docker_dir }}"
    - "{{ data_dir }}/sds"
  run_once: true
  tags:
    - docker
    - docker-service

- name: Download configured nameindex
  import_tasks: ../../namematching-service/tasks/download-nameindex.yml
  vars:
    dest: "/data/lucene/namematching-nm.tgz"
    final_dest: "/data/lucene/namematching-nm/"
    url: "{{ ala_namemaching_service_source | default('https://archives.ala.org.au/archives/nameindexes/20210811/namematching-20210811.tgz') }}"
    sha1: "{{ ala_namemaching_service_source_sha1 | default('563814a7b5d886b746e10eb40c44f0d9bda62371') }}"

- name: Deploy sensitive-data service stack
  import_tasks: ../../docker-common/tasks/stack-create.yml
  vars:
    stack: la_sensitive_data_service
    docker_compose_data_dir: "{{ ala_sensitive_data_service_docker_dir }}"
