- hosts: avh-hub-standalone
  roles:
    - common
    - java
    - tomcat
    - apache
    - { role: biocache-hub, biocache_hub: avh-hub, grouped_facets_json: grouped_facets_avh.json }
 # - { role: biocache-hub, biocache_hub: avh-hub, proxy_root_context_to: avh-hub }
