---
- hosts: biocache-service-clusterdb
  vars:
    deployment_type: swarm
    skip_handlers: true
    nginx_conf_dir: "{{ data_dir }}/nginx"
    tomcat_user: "{{ docker_default_user }}"
    biocache_db_host: "la_cassandra_db"
    biocache_service_upstream_host: la_biocache_service_war
  roles:
    - common
    - biocache3-properties
    - biocache3-service
    - logger-client
