- hosts: biocache-hub
  roles:
    - common
    - java
    - {role: tomcat, when: not exec_jar}
    - webserver
    - i18n
    - { role: biocache-hub, biocache_hub: ala-hub, grouped_facets_json: grouped_facets_ala.json }

