- hosts: cas-servers
  roles:
    - common
    - java
    - mysql-5.7
    - { role: mongodb-org, mongodb_version: 4.0 }
  tasks:
  - apt_repository:
      repo: ppa:chris-lea/redis-server
      update_cache: yes
  - apt:
      name: "{{ packages }}"
      update_cache: yes
    vars:
      packages:
      - redis-server
- name: include default cas 5 steps
  vars:
    cas_add_mongo_users: true
  import_playbook: aws-cas-5.yml
