- hosts: image-service
  vars:
    use_postgis: true
  pre_tasks:
    - set_fact:
        datadog_db_password : "{{ lookup('password', '/dev/null length=15 chars=ascii_letters') }}"
  roles:
    # - java
    - common
    - { role: ansible-elasticsearch, es_templates: false, es_instance_name: 'images', tags: ['elasticsearch'] }
    - { role: db-backup, db: postgres, db_name: "images", db_user: "{{ image_service_db_username }}", db_password: "{{ image_service_db_password }}" }
    - postgresql
    - { role: pg_instance, extensions: ["citext", "pgcrypto"], db_name: "{{ image_service_db_name }}", db_user: "{{ image_service_db_username }}", db_password: "{{ image_service_db_password }}", db_role_attr_flags: "NOSUPERUSER" }
    - webserver
    - i18n
    - image-service
    - { role: datadog_sql_user, when: datadog_api_key is defined, become: yes, become_user: postgres }
    - { role: datadog.datadog, when: datadog_api_key is defined }
    - { role: datadog_apm, when: datadog_api_key is defined, become: yes }

  become: yes
  become_user: root
