- hosts: profiles:sandbox
  roles:
    - java
    - common
    - {role: db-backup, db: mongo}
    - {role: mongodb, mongo_version: "3.0.12"}
    - cassandra
    - tomcat
    - apache
    - postfix
    - nameindex
    - elasticsearch
    - biocache-db
    - biocache-properties
    - biocache-service
    - biocache-cli
    - sandbox
    - solr # must be installed AFTER biocache & sandbox, or you get errors complaining about not finding 'collection1'
    - profile-service
    - profile-hub
