-  hosts: spatial
   roles:
    - common
    - java
    - tomcat
    - sslcerts
    - webserver
    - {role: postgresql}
    - {role: pg_instance, extensions: ['postgis', 'postgis_topology', 'uuid-ossp'], db_name: "{{geonetwork_database}}", db_user: "{{geonetwork_db_username}}", db_password: "{{geonetwork_db_password }}" }
    - {role: pg_instance, extensions: ['postgis', 'postgis_topology', 'uuid-ossp'], db_name: "{{layers_db_name}}", db_user: "{{layers_db_username}}", db_password: "{{layers_db_password}}" }
    - layers-db
    - {role: geoserver, skip_geoserver_script: false}
    - i18n
    - spatial-service
    - spatial-hub
    - geonetwork

