---
- hosts: species-list
  vars:
    - deployment_type: swarm
    - nginx_conf_dir: "{{ data_dir }}/nginx"
    - specieslist_db_hostname: la_species_list_mysql
    - skip_handlers: true
    - tomcat_user: "{{ docker_default_user }}"
    - nginx_user: "{{ docker_default_user }}"
    - species_list_docker_host: la_species_list_war
  roles:
    - common
    - species-list
  become: true
