- name: "set facts"
  include_role:
    name: common
    tasks_from: setfacts
  tags:
  - setfacts
  - cas-management
  - properties

- name: ensure target directories exist data subdirectories etc.
  file:
    path: "{{item}}"
    state: directory
    owner: cas
    group: cas
  with_items:
    - "{{data_dir}}/cas-management"
    - "{{data_dir}}/cas-management/config"
    - "{{data_dir}}/cas-management/"
    - "/var/log/atlas/cas-management/"
  tags:
    - properties
    - cas-management

- name: set data ownership
  file:
    path: "{{data_dir}}/cas-management"
    owner: cas
    group: cas
    recurse: true
  tags:
    - properties
    - cas-management

# TODO Seems to not be used by app and can be removed?
- name: copy application.properties
  template:
    src: application.properties
    dest: "{{data_dir}}/cas-management/config/application.properties"
    owner: cas
    group: cas
  notify:
    - restart cas-management
  tags:
    - properties
    - cas-management

- name: copy application.yml
  template:
    src: application.yml
    dest: "{{data_dir}}/cas-management/config/application.yml"
    owner: cas
    group: cas
  notify:
    - restart cas-management
  tags:
    - properties
    - cas-management

- name: copy logback config
  template:
    src: log4j2-management.xml
    dest: "{{data_dir}}/cas-management/config/log4j2.xml"
    owner: cas
    group: cas
  tags:
    - properties
    - cas-management

- name: add jar and service
  include_role:
    name: exec-jar
  vars:
    extra_params:
    - key: cas.standalone.configurationDirectory
      value: /data/cas-management/config/
    log_config_filename: 'log4j2.xml'
    service_name: "cas-management"
    service_owner: 'cas'
    service_group: 'cas'
    use_openjdk11: True
    use_openjdk8: False
    java_headless: True
    java_jre: True
    jar_url: '{{ cas_management_jar_url }}'
  tags:
    - deploy
    - service
    - service-conf
    - cas-management

- name: Ensure cas-management is in a running state
  service:
    name: cas-management
    state: started
  register: casManagementService
  until: casManagementService.status.ActiveState == "active"
  retries: 15
  delay: 30
  tags:
    - cas-management
    - db

- name: add nginx vhost
  include_role:
    name: nginx_vhost
  vars:
    appname: "cas-management"
    hostname: "{{ cas_host_name }}"
    context_path: "{{  cas_management_context_path | default('cas-management') }}"
    nginx_paths:
      - path: "/{{  cas_management_context_path | default('cas-management') }}"
        appname: "cas-management"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:{{ cas_management_port | default('8070') }}/{{  cas_management_context_path | default('cas-management') }}"
  tags:
    - nginx_vhost
    - deploy
    - cas-management
  when: webserver_nginx
