- include: ../../common/tasks/setfacts.yml
  tags:
    - doi-service
    - deploy
    - properties
    - nginx_vhost

#
# JAR file deployment
#
#- include: ../../exec_jar/tasks/main.yml jar_url='{{ doi_service_jar_url }}' service_name='doi-service'
- name: add jar and service
  include_role:
    name: exec-jar
  vars:
    service_name: "doi-service"
    jar_url: '{{ doi_service_jar_url }}'
  tags:
    - deploy
    - service
    - doi-service

#
# External configuration properties file
#
- name: ensure target directories exist data subdirectories etc.
  file:
    path: "{{item}}"
    state: directory
    owner: doi-service
    group: doi-service
  with_items:
    - "{{data_dir}}/doi-service"
    - "{{data_dir}}/doi-service/config"
    - "{{data_dir}}/doi-service/logs"
  tags:
    - properties
    - doi-service

- name: set data ownership
  file:
    path: "{{data_dir}}/doi-service"
    owner: doi-service
    group: doi-service
    recurse: true
  tags:
    - properties
    - doi-service

- name: copy all config.properties
  template:
    src: doi-service-config.yml
    dest: "{{data_dir}}/doi-service/config/doi-service-config.yml"
    owner: doi-service
    group: doi-service
  notify:
    - restart doi-service
  tags:
    - properties
    - doi-service

- name: copy logback config
  template:
    src: logback.groovy
    dest: "{{data_dir}}/doi-service/config/logback.groovy"
    owner: doi-service
    group: doi-service
  notify:
    - restart doi-service
  tags:
    - properties
    - doi-service

- name: Restart doi service
  service:
    name: doi-service
    state: restarted
  tags:
    - doi-service

- name: add nginx vhost
  include_role:
    name: nginx_vhost
  vars:
    hostname: "{{ doi_service_hostname }}"
    context_path: "{{ doi_service_context_path }}"
    nginx_paths:
      - path: "{{ doi_service_context_path }}"
        is_proxy: true
        proxy_pass: "http://127.0.0.1:8080/{{ doi_service_context_path }}"
  notify:
    - reload nginx
  tags:
    - nginx_vhost
    - doi-service
    - deploy
  when: webserver_nginx
