- name: install software-properties-common (Debian)
  apt: pkg=software-properties-common  state=latest update_cache=yes
  when: ansible_os_family == "Debian"
  tags: postgresql

- name: install python-pycurl (Debian)
  apt: pkg="{{ pycurl_package }}" state=latest
  when: ansible_os_family == "Debian"
  tags: postgresql

- name: install python-pip
  apt: pkg="{{ pip_package }}" state=present
  tags: postgresql

- name: install libpq-dev
  apt: pkg=libpq-dev state=present
  tags: postgresql

- name: install psycopg2
  apt: pkg="{{ psycopg2_package }}" state=present
  when: psycopg2_package is defined
  tags: postgresql

- name: Install pip2 when necessary
  apt:
    name: python-pip
  when: ansible_python.version.major==2

- name: Install python3 when necessary
  apt:
    name: python3-pip
  when: ansible_python.version.major==3

- name: pip psycopg2
  command: pip install psycopg2
  when: ansible_python.version.major==2
  tags: postgresql

- name: pip3 psycopg2
  command: pip3 install psycopg2
  when: ansible_python.version.major==3
  tags: postgresql

- name: install python-software-properties (Debian)
  apt: pkg="{{ python_software_properties }}" state=latest
  when: ansible_os_family == "Debian"
  tags: postgresql

- name: Add postgres repository key
  apt_key: url=http://apt.postgresql.org/pub/repos/apt/ACCC4CF8.asc state=present
  when: ansible_os_family == "Debian"
  tags: postgresql

- name: Add postgres archive repository
  apt_repository: repo='deb http://apt-archive.postgresql.org/pub/repos/apt/ {{ansible_distribution_release}}-pgdg main' state=present
  when: ansible_os_family == "Debian" and ansible_distribution_version is version('18.04', '<=')
  tags: postgresql

- name: Add postgres repository
  apt_repository: repo='deb http://apt.postgresql.org/pub/repos/apt/ {{ansible_distribution_release}}-pgdg main' state=present
  when: ansible_os_family == "Debian" and ansible_distribution_version is version('18.04', '>')
  tags: postgresql
