grails:
  serverURL: {{ bie_index_base_url }}{{bie_index_context_path}}
  cors:
    enabled: true
serverName: {{ bie_index_base_url }}
# CAS Config
security:
  cas:
    casServerName:   {{ auth_base_url }}
    uriFilterPattern:   {{ bie_index_uri_filter_pattern | default('/admin.*,/alaAdmin.*') }}
    uriExclusionFilterPattern:   {{ bie_index_uri_exclusion_filter_pattern | default('/admin/indexFields') }}
    appServerName:   {{ bie_index_base_url }}
    casServerUrlPrefix:   {{ auth_cas_url }}
    loginUrl:   {{ auth_cas_url }}/login
    logoutUrl:   {{ auth_cas_url }}/logout
    contextPath:   {{ bie_index_context_path }}
    bypass:   {{ bypass_cas | default(true) }}
    enabled: {{ security_cas_enabled | default(false) }}
  oidc:
    enabled: {{ security_oidc_enabled | default(true) }}
    clientId: {{ (bie_index_client_id | default(clientId)) | default('') }}
    secret: {{ (bie_index_client_secret | default(secret)) | default('') }}
    discoveryUri: {{ discoveryUri | default('') }}
  jwt:
    discoveryUri: {{ discoveryUri | default('') }}
  apikey:
    serviceUrl: {{ auth_base_url }}/apikey/ws/check?apikey=
userDetails:
  url: {{ auth_base_url }}/userdetails/
biocache:
  base: {{ biocache_base_url | default('https://biocache.ala.org.au') }}
  service: {{ biocache_service_url | default('https://biocache-ws.ala.org.au/ws') }}
collectory:
  base: {{ collectory_url | default('https://collections.ala.org.au') }}
  service: {{ collectory_service_url | default('https://collections.ala.org.au/ws') }}
  # A list of uids for the national species list datasets
  nationalSpeciesDatsets:
layers:
  service: {{ layers_service_url | default('https://spatial.ala.org.au/ws') }}
  gazetteerId: {{ gazetteer_layer_id | default('') }}
images:
  # URL of image configuration file
  config: file://{{ data_dir }}/bie-index/config/image-lists.json
  base: {{ image_base_url | default('https://images.ala.org.au') }}
  service:
    base: {{ image_base_url | default('https://images.ala.org.au') }}
    thumbnail: {{ image_service_url | default('https://images.ala.org.au') }}/image/proxyImageThumbnail?imageId={0}
    large: {{ image_service_url | default('https://images.ala.org.au') }}/image/proxyImage?imageId={0}
    small: {{ image_service_url | default('https://images.ala.org.au') }}/image/proxyImageThumbnailLarge?imageId={0}
    metadata: {{ image_service_url | default('https://images.ala.org.au') }}/ws/image/{0}
  index: {{ index_images | default('false') }}
knowledgeBase:
  service: {{ knowledgebase_service_url | default('https://support.ala.org.au') }}
  sitemap: /support/solutions
  sectionSelector: section.article-list .list-lead > a
  articleCssSelector: .article-title a.c-link
wordPress:
  service: {{ ala_base_url | default('https://www.ala.org.au') }}
  sitemap: {{  wordpress_sitemap | default('/xmlsitemap.xml') }}
  index: index.xml
  page: /?page_id={0}
  excludedLocations:
    - .*/category/.*
  excludedCategories:
  - button
  contentOnlyParams: ?content-only=1&categories=1
lists:
  service: {{ specieslist_service_url | default('https://lists.ala.org.au/ws') }}
  items: /speciesListItems/{0}?includeKVP=true&max={1}&offset={2}
naming:
  service: {{ namematching_service_url | default('https://namematching-ws.ala.org.au') }}
attribution:
  default: {{ default_name_source | default('National Species Lists') }}
  common: {{ default_common_name_source | default('National Species Lists') }}
commonName:
  # Acceptable vernacular names to appear in autocomplete and primary name eg en,en-AU,en-CA,en-GB,en-US (leave empty for any language)
  languages: {{ vernacular_languages | default('') }}
  defaultLanguage: {{ vernacular_language | default('en') }}
# Location of conservation lists
conservationListsUrl: file://{{ data_dir }}/bie-index/config/conservation-lists.json
# Location of vernacular name lists (null for default)
vernacularListsUrl: file://{{ data_dir }}/bie-index/config/vernacular-lists.json
#nationalSpeciesDatasets: dr2699,dr2700,dr2702,dr2704,dr2703,dr3118
nationalSpeciesDatasets: ""
hiddenImages:
  # URL of hidden images configuration file
  config: file://{{ data_dir }}/bie-index/config/hidden-images-lists.json
wiki:
  # URL of wiki configuration file
  config: file://{{ data_dir }}/bie-index/config/wiki-lists.json
solr:
  live:
    connection: {{ index_live_url | default('http://localhost:8983/solr/bie') }}
    type: HTTP
    queueSize: 10
    threadCount: 4
  updatingLive:
    connection: {{ index_live_url | default('http://localhost:8983/solr/bie') }}
    type: UPDATE
    queueSize: 10
    threadCount: 4
  offline:
    connection: {{ index_offline_url | default('http://localhost:8983/solr/bie-offline') }}
    type: UPDATE
    queueSize: 10
    threadCount: 4
  search:
    qf:
      - exact_text
      - text
      - content^0.2
    boost: {{ solr_bie_boost_term | default('searchWeight') }}
    defType: {{ solr_deftype | default('edismax') }}
    qAlt: {{ solr_qlat | default('text:*') }}
skin:
  layout: {{ (bie_index_skin_layout | default(skin_layout)) | default('main') }}
  fluidLayout: {{ skin_fluid_layout | default('') }}
  orgNameLong: {{ orgNameLong | default('Atlas of Living Australia') }}
  favicon: {{ skin_favicon | default('https://www.ala.org.au/app/uploads/2019/01/cropped-favicon-32x32.png') }}
  homeUrl: {{ skin_home_url | default('http://www.ala.org.au') }}
headerAndFooter:
  baseURL: {{ header_and_footer_baseurl | default('https://www.ala.org.au/commonui-bs3') }}
useLegacyAuto: false
import:
  sequence: {{ bie_index_import_sequence | default('collectory,taxonomy-all,vernacular,denormalise,layers,regions,localities,conservation-lists,wordpress,knowledgebase,favourites,weights,link-identifiers,images,occurrences,suggest-index') }}
  favouritesConfigUrl: file://{{ data_dir }}/bie-index/config/favourites.json
  taxonomy:
    dir: {{ data_dir }}/bie/import
ala:
  baseURL: {{ ala_base_url | default('https://www.ala.org.au') }}
bie:
  baseURL: {{ bie_base_url | default('https://bie.ala.org.au') }}
  searchPath: {{ bie_search_path | default('/search') }}
openapi:
  components:
    security:
      oauth2:
        baseUrl: {{ auth_cas_url }}/oidc
        authorizationUrl: {{ auth_cas_url }}/oidc/authorize
        refreshUrl: {{ auth_cas_url }}/oidc/refresh
        tokenUrl: {{ auth_cas_url }}/oidc/token
