# install mysql-server based on Ubuntu version

- name: Install mysql-server 5.7 for non-Ubuntu
  include_role: name=mysql-5.7
  when: ansible_os_family != "Debian" or (ansible_distribution_version != "16.04" and ansible_distribution_version != "18.04" and ansible_distribution_version != "20.04")
  tags: mysql-server


- name: Install mysql-server 5.7 for Ubuntu 16.04 or 18.04
  include_role: name=mysql-5.7
  when: ansible_os_family == "Debian" and (ansible_distribution_version == "16.04" or ansible_distribution_version == "18.04")
  tags: mysql-server

- name: Install mysql-server 8.0 for Ubuntu 20.04
  include_role: name=mysql-8.0
  when: ansible_os_family == "Debian" and ansible_distribution_version == "20.04"
  tags: mysql-server

- name: Install mysql-server 8.0 for Ubuntu 22.04
  include_role: name=mysql-8.0
  when: ansible_os_family == "Debian" and ansible_distribution_version == "22.04"
  tags: mysql-server
