- include: ../../common/tasks/setfacts.yml

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/spatial-hub/config/"
    - "{{data_dir}}/spatial-hub/i18n/"
    - "{{data_dir}}/ala/runtime/files/"
  tags:
    - spatial-hub
    - spatial-hub-config
    - properties

- name: copy all config.yml
  template:
    src: "{{spatial_hub_portal|lower}}/{{item}}"
    dest: "{{data_dir}}/spatial-hub/config/{{item}}"
    owner: "{{tomcat_user}}"
    group: "{{tomcat_user}}"
  with_items:
    - "spatial-hub-config.yml"
    - "menu-config.json"
    - "view-config.json"
    - "logback.xml"
  tags:
    - config
    - spatial-hub
    - spatial-hub-config
    - properties

- name: copy system message
  template: src=system-message.json dest={{data_dir}}/spatial-hub/config/system-message.json owner={{tomcat_user}} group={{tomcat_user}}
  tags:
    - spatial-hub
    - spatial-hub-config
    - properties

- include: ../../apache_vhost/tasks/main.yml context_path='{{ spatial_hub_context_path }}' hostname='{{ spatial_hub_hostname }}'
  tags:
    - deploy
    - apache_vhost
    - spatial-hub
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "spatial-hub"
    hostname: "{{ spatial_hub_hostname }}"
    context_path: "{{ spatial_hub_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - spatial-hub
  when: webserver_nginx

- name: Add proxy paths for grandfathered routes
  include_role:
    name: nginx_vhost
  vars:
    appname: "spatial-hub"
    hostname: "{{ spatial_hub_hostname }}"
    context_path: "{{ spatial_hub_context_path }}"
    nginx_paths:
      - path: "{{ spatial_hub_context_path }}webportal"
        is_proxy: false
        rewrite: "{{ spatial_hub_context_path }}"
  tags:
    - nginx_vhost
    - deploy
    - spatial-hub
  when: webserver_nginx

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ spatial_hub_war_url }}' context_path='{{ spatial_hub_context_path }}' hostname='{{ spatial_hub_hostname }}'
  tags:
    - deploy
    - tomcat_vhost
    - spatial-hub
    - spatial-hub-deploy

- name: set data ownership
  file: path={{data_dir}}/ala/data/ owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify: 
    - restart tomcat
  tags:
    - spatial-hub
    - spatial-hub-config
    - properties
