---
- include_tasks: ../../common/tasks/setfacts.yml
  tags:
    - webapps
    - properties
    - biocache_hub
    - hub_config
    - facets_config

#
# Apache/Tomcat virtual host configuration
#

- include_tasks: ../../apache_vhost/tasks/main.yml
  vars:
    context_path: '/{{ biocache_hub_context_path }}'
    hostname: '{{ biocache_hub_hostname }}'
  tags:
    - webapps
    - apache_vhost
    - deploy
    - biocache_hub
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    appname: "{{ biocache_hub }}"
    hostname: "{{ biocache_hub_hostname }}"
    context_path: "{{ biocache_hub_context_path }}"
    tomcat_server_port: "{{ biocache_server_port }}"
    nginx_upstream_host: "{{ biocache_hub_docker_host | default('127.0.0.1') }}"
  tags:
    - nginx_vhost
    - deploy
    - biocache_hub
  when: webserver_nginx

- include_tasks: ../../tomcat_deploy/tasks/main.yml
  vars:
    war_url: '{{ biocache_hub_artifact_url }}'
    context_path: '{{ biocache_hub_context_path }}'
    hostname: '{{ biocache_hub_hostname }}'
  tags:
    - webapps
    - tomcat_vhost
    - deploy
    - biocache_hub
  when: not exec_jar

#
# Properties and data file configuration
#

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{biocache_hub}} group={{biocache_hub}}
  with_items:
    - "{{data_dir}}/{{biocache_hub}}/config"
    - "{{data_dir}}/{{biocache_hub}}/cache"
    - "{{data_dir}}/{{biocache_hub}}/download"
    - "{{data_dir}}/{{biocache_hub}}/geolite_db"
    - "{{data_dir}}/{{biocache_hub}}/logs"
  tags:
    - webapps
    - properties
    - biocache_hub
    - geolite_db
  when: exec_jar

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/{{biocache_hub}}/config"
    - "{{data_dir}}/{{biocache_hub}}/cache"
    - "{{data_dir}}/{{biocache_hub}}/download"
    - "{{data_dir}}/{{biocache_hub}}/geolite_db"
  tags:
    - webapps
    - properties
    - biocache_hub
    - geolite_db
  when: not exec_jar

- name: copy grouped_facets.json
  template: src=config/{{grouped_facets_json}} dest={{data_dir}}/{{biocache_hub}}/config/{{grouped_facets_json}} force=yes
  when: grouped_facets_json is defined
  tags:
    - webapps
    - properties
    - hub_config
    - biocache_hub
    - facets_config

- name: copy logback config
  template: src=config/logback.xml dest={{data_dir}}/{{biocache_hub}}/config/logback.xml force=yes output_encoding=iso-8859-1
  tags:
    - webapps
    - properties
    - biocache_hub
    - hub_config

- name: copy all config.properties
  template: src=config/config.properties dest={{data_dir}}/{{biocache_hub}}/config/{{biocache_hub_config}} force=yes output_encoding=iso-8859-1
  tags:
    - webapps
    - properties
    - biocache_hub
    - hub_config

- name: copy charts.json
  template: src=config/charts.json dest={{data_dir}}/{{biocache_hub}}/config/charts.json force=yes
  tags:
    - webapps
    - properties
    - hub_config
    - biocache_hub

- name: copy overlays.json
  template: src=config/{{overlays_json}} dest={{data_dir}}/{{biocache_hub}}/config/overlays.json force=yes
  when: overlays_json is defined
  tags:
    - webapps
    - config
    - hub_config
    - biocache_hub

- name: copy system-message.json
  template: src=config/system-message.json dest={{data_dir}}/{{biocache_hub}}/config/system-message.json force=yes
  tags:
    - webapps
    - properties
    - hub_config
    - biocache_hub

- name: copy logback config
  template: src=config/logback.groovy dest={{data_dir}}/{{biocache_hub}}/config/logback.groovy  owner={{biocache_hub}} group={{biocache_hub}}
  tags:
    - properties
    - biocache_hub
    - hub_config
  when: exec_jar

- name: Setup GeoLite2 City database (only used by ALA version of the hub)
  include_role:
    name: geoip
  vars:
    appname: "{{ biocache_hub }}"
    maxmind_geoip_database_directory: "{{ data_dir }}/{{ biocache_hub }}/config"
    maxmind_geoip_conf: "{{ data_dir }}/{{ biocache_hub }}/config/GeoIP.conf"
  tags:
    - geoip
    - deploy
    - biocache_hub
  when: biocache_hub == 'ala-hub'

- name: set data ownership
  file: path={{data_dir}}/{{biocache_hub}} owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify:
    - restart tomcat
  tags:
    - webapps
    - properties
    - biocache_hub
  when: not exec_jar

- name: set data ownership
  file:
    path: "{{data_dir}}/{{biocache_hub}}"
    owner: "{{biocache_hub}}"
    group: "{{biocache_hub}}"
    recurse: true
  notify:
     - restart {{biocache_hub}}
  tags:
    - properties
    - biocache_hub
  when: exec_jar

- name: Include docker tasks
  include_tasks: docker-tasks.yml
  when: deployment_type == 'swarm'

- name: Include VM tasks
  import_tasks: vm-tasks.yml
  when: deployment_type == 'vm'
