- include: ../../common/tasks/setfacts.yml
  tags:
    - webapps
    - properties
    - biocache_hub

#
# Apache/Tomcat virtual host configuration
#

- include: ../../apache_vhost/tasks/main.yml context_path='/{{ biocache_hub_context_path }}' hostname='{{ biocache_hub_hostname }}'
  tags:
    - webapps
    - apache_vhost
    - deploy
    - biocache_hub    
  when: not webserver_nginx

- name: add nginx vhost if configured
  include_role:
    name: nginx_vhost
  vars:
    hostname: "{{ biocache_hub_hostname }}"
    context_path: "{{ biocache_hub_context_path }}"
    tomcat_server_port: "{{ biocache_server_port }}"
  tags:
    - nginx_vhost
    - deploy
    - biocache_hub
  when: webserver_nginx

#
# WAR/JAR file deployment
#
- name: add jar and service
  include_role:
    name: exec-jar
  vars:
    service_name: '{{ biocache_hub }}'
    jar_url: '{{ biocache_hub_artifact_url }}'
  tags:
    - deploy
    - service
    - biocache_hub
  when: exec_jar

- include: ../../tomcat_deploy/tasks/main.yml war_url='{{ biocache_hub_artifact_url }}' context_path='{{ biocache_hub_context_path }}' hostname='{{ biocache_hub_hostname }}'
  tags:
    - webapps
    - tomcat_vhost
    - deploy
    - biocache_hub
  when: not exec_jar

#
# Properties and data file configuration
#

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{biocache_hub}} group={{biocache_hub}}
  with_items:
    - "{{data_dir}}/{{biocache_hub}}/config"
    - "{{data_dir}}/{{biocache_hub}}/cache"
    - "{{data_dir}}/{{biocache_hub}}/download"
    - "{{data_dir}}/{{biocache_hub}}/geolite_db"
    - "{{data_dir}}/{{biocache_hub}}/logs"
  tags:
    - webapps
    - properties
    - biocache_hub
    - geolite_db
  when: exec_jar

- name: ensure target directories exist [data subdirectories etc.]
  file: path={{item}} state=directory owner={{tomcat_user}} group={{tomcat_user}}
  with_items:
    - "{{data_dir}}/{{biocache_hub}}/config"
    - "{{data_dir}}/{{biocache_hub}}/cache"
    - "{{data_dir}}/{{biocache_hub}}/download"
    - "{{data_dir}}/{{biocache_hub}}/geolite_db"
  tags:
    - webapps
    - properties
    - biocache_hub
    - geolite_db
  when: not exec_jar

- name: copy grouped_facets.json
  template: src=config/{{grouped_facets_json}} dest={{data_dir}}/{{biocache_hub}}/config/{{grouped_facets_json}} force=yes
  when: grouped_facets_json is defined
  tags:
    - webapps
    - properties
    - hub_config
    - biocache_hub

- name: copy all config.properties
  template: src=config/config.properties dest={{data_dir}}/{{biocache_hub}}/config/{{biocache_hub_config}} force=yes
  tags:
    - webapps
    - properties
    - biocache_hub
    - hub_config

- name: copy charts.json
  template: src=config/charts.json dest={{data_dir}}/{{biocache_hub}}/config/charts.json force=yes
  tags:
    - webapps
    - properties
    - hub_config
    - biocache_hub

- name: copy overlays.json
  template: src=config/{{overlays_json}} dest={{data_dir}}/{{biocache_hub}}/config/overlays.json force=yes
  when: overlays_json is defined
  tags:
    - webapps
    - config
    - hub_config
    - biocache_hub

- name: copy system-message.json
  template: src=config/system-message.json dest={{data_dir}}/{{biocache_hub}}/config/system-message.json force=yes
  tags:
    - webapps
    - properties
    - hub_config
    - biocache_hub

- name: copy logback config
  template: src=config/logback.groovy dest={{data_dir}}/{{biocache_hub}}/config/logback.groovy  owner={{biocache_hub}} group={{biocache_hub}}
  tags:
    - properties
    - biocache_hub
    - hub_config
  when: exec_jar

- name: Setup GeoLite2 City database (only used by ALA version of the hub)
  block:
  - set_fact:
      geolite_db_archive: "{{data_dir}}/{{biocache_hub}}/download/GeoLite2-City.tar.gz"
      geolite_db_extracted: "{{data_dir}}/{{biocache_hub}}/geolite_db"
      geolite_db_file: "GeoLite2-City.mmdb"
      geolite_db_file_link: "{{data_dir}}/{{biocache_hub}}/config/GeoLite2-City.mmdb"
    tags:
      - setfacts

  - name: Download GeoLite2 City database (only used by ALA version of the hub)
    get_url: url={{geolite2_city_db_download_url | default('https://geolite.maxmind.com/download/geoip/database/GeoLite2-City.tar.gz')}} dest={{geolite_db_archive}} force={{ force_geolite2_city_db_download | default(false) }}
    register: was_file_downloaded

  - name: Cleaning GeoLite2 City database extracted directory if new archive was just downloaded
    block:
    - name: Cleaning GeoLite2 City database extracted directory if new archive was just downloaded
      file: path="{{geolite_db_extracted}}/" state=absent
    - file: path="{{geolite_db_extracted}}/" state=directory
    when: was_file_downloaded.changed

  - name: Unpackage GeoLite2 City database
    unarchive: src={{geolite_db_archive}} dest={{geolite_db_extracted}} copy=no group={{ nameindex_user | default(tomcat_user) }} owner="{{ nameindex_user | default(tomcat_user) }}"
    when: not exec_jar

  - name: Unpackage GeoLite2 City database
    unarchive: src={{geolite_db_archive}} dest={{geolite_db_extracted}} copy=no group={{ nameindex_user | default(biocache_hub) }} owner="{{ nameindex_user | default(biocache_hub) }}"
    when: exec_jar

  - name: Find extracted GeoLite2 City database file
    find: paths={{geolite_db_extracted}} patterns={{geolite_db_file}} recurse=yes file_type=file
    register: find_result

  - name: Link GeoLite2 City database file
    file: src="{{item.path}}" dest={{geolite_db_file_link}} state=link force=yes
    with_items: "{{find_result.files}}"
  when: biocache_hub == 'ala-hub'
  tags:
    - webapps
    - properties
    - hub_config
    - biocache_hub
    - geolite_db

- name: set data ownership
  file: path={{data_dir}}/{{biocache_hub}} owner={{tomcat_user}} group={{tomcat_user}} recurse=true
  notify:
    - restart tomcat
  tags:
    - webapps
    - properties
    - biocache_hub
    - geolite_db
  when: not exec_jar

- name: set data ownership
  file:
    path: "{{data_dir}}/{{biocache_hub}}"
    owner: "{{biocache_hub}}"
    group: "{{biocache_hub}}"
    recurse: true
  notify:
     - restart {{biocache_hub}}
  tags:
    - properties
    - biocache_hub
  when: exec_jar

- name: Restart {{ biocache_hub }} service
  service:
    name: "{{ biocache_hub }}"
    state: restarted
  tags:
    - biocache_hub
  when: exec_jar
