---
image:
    repository: "{{ lists_service_docker_repository | default('atlasoflivingaustralia/lists-service') }}"
    tag: "{{ lists_service_docker_tag | default('960ad21') }}"
replicaCount: "{{ lists_service_replica_count | default(1) }}"
dnsName: "{{ lists_service_hostname }}"